<!DOCTYPE html>
<!--[if lte IE 9]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
<meta charset="utf-8">
<title>Eye World</title>
<!--=================================
Meta tags
=================================-->
<meta name="description" content="">
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" />

<!--=================================
Style Sheets
=================================-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>  
    
<link rel="stylesheet" type="text/css" href="/static/eyeworld-static/assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/eyeworld-static/assets/css/flexslider.css">
<link rel="stylesheet" type="text/css" href="/static/eyeworld-static/assets/css/animations.css">
<link rel="stylesheet" type="text/css" href="/static/eyeworld-static/assets/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/eyeworld-static/assets/css/jquery.flickr.css">
<link rel="stylesheet" type="text/css" href="/static/eyeworld-static/assets/css/prettyPhoto.css">
<link rel="stylesheet" href="/static/eyeworld-static/assets/css/main.css">

<script src="/static/eyeworld-static/assets/js/lib/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>

<!--========================================
Body Content
===========================================-->
<div class="offsetWrap">
    
    <div class="offsetMaker"> 
        
        <header class="bg-white doc-header">
          
            <nav id="sticktop">
            <div class="container">
                
                    <a href="/eyeworld/" class="text-left logo"><img src="/static/eyeworld-static/assets/demo-data/logo1.jpg" alt=""></a>
                    <ul class="socials">
                         <li><a href="https://www.facebook.com/EyeworldOpticians-1405042499550681/"target="_blank" class="fb"><i class="fa fa-facebook-f"></i></a></li>
                        
                    </ul>
                    <a href="#" class="nav-triger"><span class="fa fa-navicon"></span></a>
                    <ul class="main-menu">
                        <li class="active"><a href="/eyeworld/">Home</a></li>
                        <!-- <li><a href="team.html">Team</a></li> -->
                        <li><a href="/eyeworld/aboutus/">About Us</a></li>
                        <li><a href="/eyeworld/gallery/">Gallery</a></li>
                        <li><a href="/eyeworld/services/">Services</a></li>
                       <li class="parent"><a href="#">Products</a>
                            <ul>
                               <li><a href="/eyeworld/brands/">Brands</a></li>
								<li><a href="/eyeworld/frames/">Frames</a></li>
								<li><a href="/eyeworld/sun/">Sun Glasses</a></li>
								<li><a href="/eyeworld/lens/">Lens</a></li>
								
								
								
                                
                            </ul>
                        </li>
                        <li><a href="/eyeworld/contactus/">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </header> 
        
        <div class="head pt-30 pb-20">
            <div class="container">
               <h3 class="text-uppercase after-left-l text-bold mb-20 pb-25">About Us</h3>
            </div>
        </div>

       

         <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <figure class="bg-white style"><img src="/static/eyeworld-static/assets/demo-data/jpnagar1.jpg" alt="/"></figure>
                    </div>
                    <div class="col-sm-6">
                        <h4 class="color-blue text-bold mb-20 mt-40">ABOUT EYE WORLD OPTICIANS</h4>
                        <p>Eyeword Opticians is a Bangalore based company incorporated in 2005 
						The human eye is an organ that reacts to light and has several purposes. As a sense organ, the mammalian eye allows vision. Rod and cone cells in the retina allow conscious light perception and vision including color differentiation and the perception of depth.</p><p>
      The human eye can distinguish about 10 million colors.

Glasses, also known as eyeglasses or spectacles, are devices consisting of lenses mounted in a frame that holds them in front of a person's eyes. Glasses are typically used for vision correction.
        </p>
              <p>
			  Safety glasses provide eye protection against flying debris or against visible and near-visible light or radiation.</p><br><br></div>

			  <div class="col-md-12">			  
 <p>
Specialized glasses may be used for viewing specific visual information (such as stereoscopy). Sometimes glasses are worn simply for aesthetic or fashion purposes. The number of Americans who are nearsighted has doubled since the 1970s and almost 3/4 of the US population wears glasses. People are more likely to need glasses the older they get with 93% of people between the age of 65-75 wearing corrective lenses </p>

<p>
A lens is a transmissive optical device that affects the focus of a light beam through refraction. A simple lens consists of a single piece of material, while a compound lens consists of several simple lenses (elements), usually along a common axis.
</p>
<p>
Lenses are made from transparent materials such as glass, ground and polished to a desired shape. A lens can focus light to form an image, unlike a prism, which refracts light without focusing. Devices that similarly refract radiation other than visible light are also called lenses, such as microwave lenses or acoustic lenses.
</p>
			         
</div>
                   
                </div>
            </div>
			
        </section>
		
		<section class="style-res" style="padding:2px 0;">
          <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="color-blue text-bold mb-20 mt-40">OUR PHILOSOPHY</h4>
                        <p>We celebrate the need to wear glasses and thrive on the challenge of providing the best possible solutions for our customers, not only in terms of visual correction, but also in terms of their style and fashion. We make sure that your choices enhance your personality and lifestyle whilst providing exceptional quality compatible with any type of specific medical requirements. Eyeword Opticians Exclusive show rooms at many places in Bangalore. Our friendly and professional staff will guide you through the various options and provide advice and solutions so that your needs are met in the most appropriate way.</p>
						<p>
						We understand and respect the value of our products. We provide quality, affordable solutions and exercise a transparent pricing policy. Our business model facilitates low operating costs and allows us to pass on these savings to you so that they end up in your pocket.We are thankful to all the people who supported us. Eyeword Opticians will serve best in the city. 
						</p>
						</div></div></div></section>

        
         <footer class="bg-white pt-35">
            <div class="container">
                <div class="row">
                     <div class="col-sm-1">
                        
                    </div>
                    <div class="col-sm-4 mt-40">
                        <h6 class="text-bold text-uppercase after-left-s pb-20 mb-20">ABOUT EYE WORLD</h6>
                        <p>Eyeword Opticians is a Bangalore based company incorporated in 2005 and specialising in fashionable eyewear for all age groups and personal tastes. Exclusive frames for Computer Professionals. </p>
                    </div>
					
					
                    <div class="col-sm-4 mt-40 tags">
                        <h6 class="text-bold text-uppercase after-left-s pb-20 mb-20">Tags</h6>
                        <a href="/eyeworld/frames/">Frames</a>
                        <a href="/eyeworld/lens/">Lens</a>
                   
                        <a href="/eyeworld/brands/">Brands</a>
                        
						 <a href="/eyeworld/">Eye World</a>
                       
                    </div>

                    <div class="col-sm-1">
                        
                    </div>
                </div>
                <div class="rights mt-60 pt-15 pb-10">
                    Design By <a href="http://delevere.com/" target="_blank">Delevere</a> &copy;
                </div>
            </div>
        </footer>
        
    </div>
    
</div>

<!--=================================
Script Source
=================================-->

<script src="/static/eyeworld-static/assets/js/lib/jquery.js"></script>
<script src="/static/eyeworld-static/assets/js/lib/css3-animate-it.js"></script>
<script src="/static/eyeworld-static/assets/js/lib/jquery.flexslider-min.js"></script>
<script src="/static/eyeworld-static/assets/js/lib/jquery.sticky.js"></script>
<script src="/static/eyeworld-static/assets/js/lib/jquery.waitforimages.js"></script>
<script src="/static/eyeworld-static/assets/js/lib/jflickrfeed.min.js"></script>
<script src="/static/eyeworld-static/assets/js/lib/jquery.prettyPhoto.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
<script src="/static/eyeworld-static/assets/js/app/main.js"></script>

</body>

</html>
