
{% extends "base.html" %}

{% block title %}Sanghamithra Group Of Services{% endblock %}

{% block body_block %}




<div class="page-content cms-banner">
<div class="banner-text"> <div class="title">About Us</div> </div>


<img src="/static/sanga-static/images/about-us.jpg" alt="" class="slider-img">


</div>





<div class="banner">
</div>


<div class="clear"></div>
<section class="inner-pages-detail product-listing">
<div class="section-mid">


<div class="contentpage fullwidth">

<div class="aboutcontent">
<h1>About Sanghamithra Mission</h1>
<p>
At Sanghamithra Group our mission is simple. Champion the transition from fossil fuel to inexpensive, clean, sustainable solar energy and empower homes and communities. We are constantly innovating and customizing our products to stay at the vanguard of technology.
</p>
<p>
Our products cater to a wide array of applications. From affordable home lighting systems for rural homes to solar hybrid inverters to power industries,Sanghamithra Group has a product for every consumer at every price point. Our integrated platform, leveraging our expertise from products and services, offers customers efficient, reliable end-to-end solutions for their solar needs. As a trustworthy partner in your quest to lower your carbon footprint, we have taken care of every stage of the solar process &ndash;development, engineering, implementation, commissioning, service and maintenance.
</p>
<p>
We bring engineering, manufacturing and management experience from ABB, Accenture, Deloitte, Yokogawa etc for best practices and responsible operations.
</p>
<p>
We are on the ground and stay culturally connected to the customers and communities we serve. Our RITE core values are what guide us in our mission for a better, cleaner tomorrow. It is these values that every member of our team hold to be essential to bring about a sustainable change in the environment we live in. 
</p>
<p>
We invite you to be a part of the Sanghamithra Group experience. To be a leader. To be a force for change.
</p>
</div>
<div class="aboutbox">
<ul>
	<li>
	<div class="arrow_box">
	R
	</div>
	<div class="boxright">
	Responsible to be accountable, reliable &amp; trustworthy
	</div>
	</li>
	<li>
	<div class="arrow_box">
	I
	</div>
	<div class="boxright">
	Integrity to lead by example with integrity and honesty aboveall else in all our commitments
	</div>
	</li>
	<li>
	<div class="arrow_box">
	T
	</div>
	<div class="boxright">
	Technology to innovate new and affordable products and solution to better serve the needs of the environment and people
	</div>
	</li>
	<li>
	<div class="arrow_box">
	E
	</div>
	<div class="boxright">
	Empowerment to empower those in need by equipping them with the necessary tools and suporting infrastructure so that they may have a better tomorrow
	</div>
	</li>
</ul>
</div>    
</div>

</div>
</section>

<div class="clear"></div>




{% endblock %} 





