
{% extends "sanghamithra/base.html" %}

{% block title %}Sanghamithra Groups{% endblock %}

{% block body_block %}

<head>
<style>
h1{
color: brown;
margin-top: 4%;
}
</style>
</head>


<!-- end internal-header -->
<section class="contact-us" style="background-color: #f4f77a; margin-top: -2%;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="titles" style="border-bottom: 1px solid whitesmoke; padding-bottom: 4px;">
          
          <h1>Contact Us</h1>
        </div>
        <!-- end title --> 
      </div>
	  
      <!-- end col-12 -->
      <div class="col-md-12">
	  
	  <div class="col-md-5">
	  
	  <h4>HEAD OFFICE</h4>
        
        <address>
        <p>Seethammadhara  <br>
           N.E. Vuda Shopping Complex <br>
		   Shop No. 1, TPT Colony,<br>
		   Visakhapatnam - 13.
		</p>
		
		Contact : ALLA SURI BABU 
        <p style="margin-left: 14%;"> 
		<i class="ion-android-phone-portrait"></i> 93 93 200 200 <br> </p>
		<p>Join us for better india<br>
          <a href="#"> www.myresponsibility.co.in</a></p>
        </address>
	  
	  <br>
	  
        <h4>Branch Office</h4>
        
        <address>
        <p>Akkayyapalem Main Road, K.A.B Complex<br/> 1st Floor, Shop No. 2, Visakhapatnam - 16.</p>
        <p>Direct Call &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;<i class="ion-android-phone-portrait"></i> 93 93 900 900<br></p>
        <p>Help Line  &nbsp; &nbsp; &nbsp;  &nbsp;  : &nbsp;<i class="ion-android-phone-portrait"></i> 93 93 200 200<br></p>
		
		<p>CALL&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp; 0891 - 2545454    <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp; 0891 - 646464 2to8 <br>
		SMS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    : &nbsp; 0891-600 600 0   <br>&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;  :&nbsp; 0891-600 600 2 to 9 </p>
		
		
		<p>E-mail &nbsp; : &nbsp; sanghamithraservices@gmail.com <br>
        web &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   : &nbsp;&nbsp;www.sanghamithragroup.com </p>
		
		</address>
      
	  
	  
        
		
		</div>
      
	  
	  
	  
	  
	  
	  
	  
      <div class="col-md-7">
        
  <div style="width: 100%">
  <iframe width="100%" height="520" src="http://www.citymaps.ie/create-google-map/map.php?width=100%&amp;height=600&amp;hl=en&amp;q=Akkayyapalem%20Main%20Road%2CK.A.B%20Complex%2CVisakhapatnam+(Sanghamithra%20Services)&amp;ie=UTF8&amp;t=&amp;z=15&amp;iwloc=A&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="http://www.mapsdirections.info/ro/creeaza-harta-google/">Creează o hartă Google</a> na <a href="http://www.mapsdirections.info/ro/">Planificare rută cu Google Maps</a></iframe>
  </div><br />

        </div>
        <!-- end map --> 
      </div>
	  
	  
      <!-- end col-8 -->
       
       
       
      <!-- end col-4 -->
      
      <div class="col-xs-12">
        <div class="titles">
          <h6><br/><br/>CONTACT FORM TO</h6>
          <h2>REACH US</h2>
        </div>
        <!-- end title --> 
      </div>
      <!-- end col-12 -->
      <div class="col-xs-12">
        <form name="sentMessage" id="contactForm" action="" class="contact-form">
          <div class="form-group">
            <label>Your name</label>
            <input type="text" name="name" id="name" required>
          </div>
          <!-- end form-group -->
          <div class="form-group">
            <label>E-mail</label>
            <input type="text" name="email" id="email" required>
          </div>
          <!-- end form-group -->
          <div class="form-group">
            <label>Phone</label>
            <input type="text" name="phone" id="phone" required>
          </div>
          <!-- end form-group -->
          
          <div class="form-group">
            <label>Address</label>
            <input type="text" name="address" id="address" required>
          </div>
          <!-- end form-group -->
           <div class="form-group">
            <label>City</label>
            <input type="text" name="city" id="city" required>
          </div>
          <!-- end form-group -->
          <div class="form-group">
            <label>Your Message</label>
            <textarea name="message" id="message" required></textarea>
          </div>
          <!-- end form-group -->
         
          <div class="form-group">
            <button id="" type="submit" name="submit">SEND IT</button>
          </div>
          <!-- end form-group -->
        </form>
      </div>
      <!-- end col-12 --> 
      
      <!-- end col-12 -->
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end gallery -->

{% endblock %} 
