
{% extends "sanghamithra/base.html" %}

{% block title %}Sanghamithra Groups{% endblock %}

{% block body_block %}


<head>
<style>
.background1 {
    background: url(/static/sangha-static/images/fastdeal2.jpg) center no-repeat;
    background-size: cover;
}
</style>
</head>



<section class="slider boxed-inner site-boxed" style="margin-top: 1px; height: 498px;">
  <div class="banner" style="width: 115%; margin: 0 0 0 -8%;">
    <div class="slider-content">
      <div id="rev_slider_35_1" class="rev_slider fullwidthabanner">
        <ul>
          <li data-transition="zoomout" data-masterspeed="700"> <img src="/static/sangha-static/images/11.jpg" alt="Image">
            <div class="tp-caption lfb ltt tp-resizeme start" 
                data-x="center" 
                data-hoffset="0" 
                data-y="center" 
                data-voffset="-20" 
                data-speed="600" 
                data-start="200" 
                data-easing="Power4.easeOut" 
                data-splitin="none" 
                data-splitout="none" 
                data-elementdelay="0.1" 
                data-endelementdelay="0.1" 
                data-endspeed="500" 
                data-endeasing="Power4.easeIn">
              
            </div>
            <div class="tp-caption lfb ltt tp-resizeme start" 
                data-x="center" 
                data-hoffset="0" 
                data-y="center" 
                data-voffset="40" 
                data-speed="600" 
                data-start="300" 
                data-easing="Power4.easeOut" 
                data-splitin="none" 
                data-splitout="none" 
                data-elementdelay="0.1" 
                data-endelementdelay="0.1" 
                data-endspeed="500" 
                data-endeasing="Power4.easeIn">
              <h6>  </h6>
            </div> 
            
          </li>
          <!-- end banner 1 -->
         

		 <li data-transition="zoomout" data-masterspeed="700"> <img src="/static/sangha-static/images/22.jpg" alt="Image">
            <div class="tp-caption lfb ltt tp-resizeme start" 
                data-x="center" 
                data-hoffset="0" 
                data-y="center" 
                data-voffset="-20" 
                data-speed="600" 
                data-start="200" 
                data-easing="Power4.easeOut" 
                data-splitin="none" 
                data-splitout="none" 
                data-elementdelay="0.1" 
                data-endelementdelay="0.1" 
                data-endspeed="500" 
                data-endeasing="Power4.easeIn">
				<h2></h2>
               <!--  <h2>Wall Murals </h2>  -->
            </div>
            <div class="tp-caption lfb ltt tp-resizeme start" 
                data-x="center" 
                data-hoffset="0" 
                data-y="center" 
                data-voffset="40" 
                data-speed="600" 
                data-start="300" 
                data-easing="Power4.easeOut" 
                data-splitin="none" 
                data-splitout="none" 
                data-elementdelay="0.1" 
                data-endelementdelay="0.1" 
                data-endspeed="500" 
                data-endeasing="Power4.easeIn">
               <h6> </h6>
            </div>
            
          </li>  
		  
		  
          <!-- end banner 2 -->
		  
		  
     <!--     <li data-transition="zoomout" data-masterspeed="700"> <img src="/static/sangha-static/images/waterproofing-2.jpg" alt="Image">
            <div class="tp-caption lfb ltt tp-resizeme start" 
                data-x="center" 
                data-hoffset="0" 
                data-y="center" 
                data-voffset="-20" 
                data-speed="600" 
                data-start="200" 
                data-easing="Power4.easeOut" 
                data-splitin="none" 
                data-splitout="none" 
                data-elementdelay="0.1" 
                data-endelementdelay="0.1" 
                data-endspeed="500" 
                data-endeasing="Power4.easeIn">
				<h2> Water Proofing </h2>
              <h2> Rural Electrification</h2>
            </div>
            <div class="tp-caption lfb ltt tp-resizeme start" 
                data-x="center" 
                data-hoffset="0" 
                data-y="center" 
                data-voffset="40" 
                data-speed="600" 
                data-start="300" 
                data-easing="Power4.easeOut" 
                data-splitin="none" 
                data-splitout="none" 
                data-elementdelay="0.1" 
                data-endelementdelay="0.1" 
                data-endspeed="500" 
                data-endeasing="Power4.easeIn">
             <h6> 50,000+ Satisfied Customers </h6> 
            </div>
            
          </li>  -->
		  
		  
		  
          <!-- end banner 3 -->
          <li data-transition="zoomout" data-masterspeed="700"> <img src="/static/sangha-static/images/3.jpg" alt="Image">
            <div class="tp-caption lfb ltt tp-resizeme start" 
                data-x="center" 
                data-hoffset="0" 
                data-y="center" 
                data-voffset="-20" 
                data-speed="600" 
                data-start="200" 
                data-easing="Power4.easeOut" 
                data-splitin="none" 
                data-splitout="none" 
                data-elementdelay="0.1" 
                data-endelementdelay="0.1" 
                data-endspeed="500" 
                data-endeasing="Power4.easeIn">
			<!-- 	<h2> Sculptures </h2> -->
              <!-- <h2> SMART SOLUTIONS   </h2>  -->
            </div>
            <div class="tp-caption lfb ltt tp-resizeme start" 
                data-x="center" 
                data-hoffset="0" 
                data-y="center" 
                data-voffset="40" 
                data-speed="600" 
                data-start="300" 
                data-easing="Power4.easeOut" 
                data-splitin="none" 
                data-splitout="none" 
                data-elementdelay="0.1" 
                data-endelementdelay="0.1" 
                data-endspeed="500" 
                data-endeasing="Power4.easeIn">
             <!-- <h6>Electrical vehicle </h6>  -->
            </div>
            
          </li>
          <!-- end banner 4 -->
          
		  
      <!--  <li data-transition="zoomout" data-masterspeed="700"> <img src="/static/sangha-static/images/fastdeal1.jpg" alt="Image">
            <div class="tp-caption lfb ltt tp-resizeme start" 
                data-x="center" 
                data-hoffset="0" 
                data-y="center" 
                data-voffset="-20" 
                data-speed="600" 
                data-start="200" 
                data-easing="Power4.easeOut" 
                data-splitin="none" 
                data-splitout="none" 
                data-elementdelay="0.1" 
                data-endelementdelay="0.1" 
                data-endspeed="500" 
                data-endeasing="Power4.easeIn">
				<h2> Fast Deal </h2>
				
              <h2>  QUALITY COMPONENTS </h2>  
            </div>
            <div class="tp-caption lfb ltt tp-resizeme start" 
                data-x="center" 
                data-hoffset="0" 
                data-y="center" 
                data-voffset="40" 
                data-speed="600" 
                data-start="300" 
                data-easing="Power4.easeOut" 
                data-splitin="none" 
                data-splitout="none" 
                data-elementdelay="0.1" 
                data-endelementdelay="0.1" 
                data-endspeed="500" 
                data-endeasing="Power4.easeIn">
              <h6> Modules, Installation, Systems </h6> 
            </div>
            
          </li>   -->
		  
		  
		  
          <!-- end banner 5 -->
        </ul>
        <!-- end ul --> 
      </div>
      <!-- end rev_slider --> 
    </div>
    <!-- end slider-content --> 
  </div>
  <!-- end banner --> 
</section>
<!-- end slider -->

<!-- end catalogues -->


<section class="counter-section" style="margin-top: 4%;">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12 spacing" style="margin-top: -3%;">
        <div class="titles">
          <h5>A BRIEF INTRODUCTION TO</h5>
          <h2 style="color: brown;">SANGHAMITHRA</h2>
        </div>
        <!-- end title -->
               	<h3>Products</h3>
            <p>From Solar Home Lighting Systems lighting rural homes to Solar Hybrid Inverters powering Industries, explore Sanghamithra's  range of Solar Products to find the right one for you. 
			From Solar Home Lighting Systems lighting rural homes to Solar Hybrid Inverters powering Industries, explore Sanghamithra's  range of Solar Products to find the right one for you. 
			 Sanghamithra Group is looking for a diverse & robust network of channel partners who will help us deliver our solar solutions and products across India. Join us today to make Sanghamithra Group your business and transform the lives of people by empowering them 
			 through our solar solutions.</p>
            <p>
			Sanghamithra Group is looking for a diverse & robust network of channel partners who will help us deliver our solar solutions and products across India. Join us today to make Sanghamithra Group your business and transform the lives of people by empowering them 
			 through our solar solutions.
        </p>
        <a href="index.html" class="button" style="float:left">READ MORE</a> 
        <!--<div class="language dropdown download"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">  DOWNLOAD </a>
          <ul class="dropdown-menu" role="menu">
            <li><a target="_blank" href="downloads/corporate_brochure.pdf"><img src="images/ico01.png" alt="Image"> Company Profile </a></li>
            <li><a href="downloads/product_catalogue.pdf" target="_blank"><img src="images/ico02.png" alt="Image"> Product Catalogue </a></li>
            
          </ul>
          </div> -->
        </div>
            
            
        <!-- end brochure --> 
      <!-- end col-7 -->
      <div class="col-lg-5 col-md-6 col-sm-12 spacing" style="margin-top: -3%;">
        <ul>
          
		  <li><br/> <img src="/static/sangha-static/images/home-product22.jpg" alt="" title=""/><!--<i class="ion-link"></i><span class="counter">50,000</span>-->
            <h3 style="color: brown;"> <i>Visit us at our <br>SANGHAMITHRA SOCIAL SERVICES in Association with <a href="/sanghamithra/amma" target="_blank"><br>Karunya Amma Home Foundation </a></i></h3>
          </li>
          
        </ul>
      </div>
      <!-- end col-5 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>


<!-- end counter-section -->

<section class="quote background1" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="
    background-color: rgba(0, 0, 0, 0.35);
">
        <h5>SANGHAMITHRA PROJECT </h5>
        <h2> SANGHAMITHRA SERVICES </h2>
        <p>Sanghamithra Services provides turnkey Project Design, Development and Maintenance of power plants from KW scale to MW class.</p>
         </div>
      <!-- end col-12 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end quote -->

<!-- end about-us -->




<section class="counter-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12 spacing" style="margin-top: -4%;">
        <div class="titles">
          
        </div>
		
        <!-- end title -->
 <ul>
          
		  <li><br/> <img src="/static/sangha-static/images/becomeASeller.jpg" alt="" title=""/><!--<i class="ion-link"></i><span class="counter">50,000</span>-->
            <h3 style="color: brown;"> <i>Identify Your Business Opportunities With Us</i> </h3>
          </li>
          
        </ul>        
       
        <!--<div class="language dropdown download"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">  DOWNLOAD </a>
          <ul class="dropdown-menu" role="menu">
            <li><a target="_blank" href="downloads/corporate_brochure.pdf"><img src="images/ico01.png" alt="Image"> Company Profile </a></li>
            <li><a href="downloads/product_catalogue.pdf" target="_blank"><img src="images/ico02.png" alt="Image"> Product Catalogue </a></li>
            
          </ul>
          </div> -->
        </div>
            
            
        <!-- end brochure --> 
      <!-- end col-7 -->
      <div class="col-lg-5 col-md-6 col-sm-12 spacing" style="margin-top: -2%;">
       	<h3>BECOME A RESELLER</h3>
            <p>Sanghamithra Group is looking for a diverse & robust network of channel partners who will help us deliver our solar solutions and products across India. Join us today to make Sanghamithra Group your business and transform the lives of people by empowering them through our solar solutions with business opportunities.</p>
			<p>Sanghamithra Group is looking for a diverse & robust network of channel partners who will help us deliver our solar solutions and products across India. Join us today to make Sanghamithra Group your business and transform the lives of people by empowering them through our solar solutions.</p>
			<p>Sanghamithra Group your business and transform the lives of people robust network of channel and other services and opps</p>
        
         <a href="#" class="button" style="float:left">READ MORE</a> 
      </div>
      <!-- end col-5 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!--upcoming-projects-->
<!--upcoming-projects-->

<!-- end testimonials -->

{% endblock %} 
