
 {% extends "base.html" %}

{% block title %}Sanghamithra Groups{% endblock %}

{% block body_block %}

<!-- end internal-header -->

<!-- end text-content -->


<head>
<style>
.all-projects ul li{
margin-bottom: -4%;
}

h2{
color: brown;
text-align: center;
padding-bottom: 2%;
border-bottom: 1px solid whitesmoke;
}
</style>
</head>



<section class="elements" style="margin-top: -2%;">
  <div class="container">
    <div class="row">
      
	  <h2> OUR &nbsp; services </h2>
	  
      <!-- end col-12 -->
      <div class="col-xs-12">
      	<div class="tabs" role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="elements.html#home" aria-controls="home" role="tab" data-toggle="tab">Our Products  </a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
  
    <div role="tabpanel" class="tab-pane active" id="home">
    
    <section class="all-projects" style="padding-bottom: 0px;">
  <div class="container">
      <div class="col-md-11"> 
      
        <ul>
          <li>
            <figure>  
            <a href="/static/sangha-static/images/pastproject/prod_img55.jpg" class="fancybox"><img src="/static/sangha-static/images/pastproject/prod_img55.jpg" alt="Image"></a> 
              
            </figure>
            
            
            <div class="info">
                
                
                
            </div>
            <!-- end progress --> 
          </li>
          <!-- end project -->
          <li>
            <figure>  <a href="/static/sangha-static/images/pastproject/prod_img66.jpg" class="fancybox"><img src="/static/sangha-static/images/pastproject/prod_img66.jpg" alt="Image"></a> 
            </figure>
            
            
            <!-- end progress -->
            <div class="info">
              
                
              
            </div> 
          </li>
          <!-- end project -->
          <li>
            <figure>  <a href="/static/sangha-static/images/pastproject/prod_img44.jpg" class="fancybox"><img src="/static/sangha-static/images/pastproject/prod_img44.jpg" alt="Image"></a> 
            </figure>
            
            
            <!-- end progress -->
            <div class="info">
              
                
                 
            </div> 
          </li>
          <!-- end project -->
          <li>
            <figure>  <a href="/static/sangha-static/images/pastproject/prod_img33.jpg" class="fancybox"><img src="/static/sangha-static/images/pastproject/prod_img33.jpg" alt="Image"></a> 
            </figure>
            
            
            <!-- end progress -->
            <div class="info">
               
                
                 
            </div> 
          </li>
          <!-- end project -->
          <li>
            <figure> <a href="/static/sangha-static/images/pastproject/prod_img6.jpg" class="fancybox"><img src="/static/sangha-static/images/pastproject/prod_img6.jpg" alt="Image"></a> </figure>
            
            
            <!-- end progress -->
            <div class="info">
               
                
                 <span></span><br/>
            </div> 
          </li>
          <!-- end project -->
          
         
          
          
          
          <li>
            <figure> <a href="/static/sangha-static/images/pastproject/prod_img22.jpg" class="fancybox"><img src="/static/sangha-static/images/pastproject/prod_img22.jpg" alt="Image"></a> 
              
            </figure>
            
            
            <!-- end progress -->
            <div class="info">
              
                
                 <span></span><br/>
            </div> 
          </li>
          <!-- end project -->
          
          <li>
            <figure>  <a href="/static/sangha-static/images/pastproject/prod_img88.jpg" class="fancybox"><img src="/static/sangha-static/images/pastproject/prod_img88.jpg" alt="Image"></a>  </figure>
            
            <!-- end progress -->
            <div class="info">
               
                 <span></span><br/>
            </div> 
          </li>
          <!-- end project -->
		  
          <li>
        <figure> 
        
       <a href="/static/sangha-static/images/pastproject/prod_img99.jpg" class="fancybox"><img src="/static/sangha-static/images/pastproject/prod_img99.jpg" alt="Image"></a> 
          
        </figure>
        
        <!-- end progress --> 
        <div class="info">
        
        	
        <span> </span><br/>
        </div>
      </li>
  
	  
	  
	  
	  
          <!-- end project -->
          
      </ul> 
      </div>
    
    
    
    
    <!-- end projects -->
  </div>
  <!-- end container --> 
</section>
    
	
	
    </div>
	
	</div>

</div>
<!-- end nav-tabs -->
      </div>
      <!-- end col-12 -->
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>


{% endblock %} 
