{% extends "qrbase.html" %}

{% block title %} SRI CREMON LIFE SCHOOL  {% endblock %}

{% block body_block %}
	<!-- ================================ -->
	<!-- ========== END OF HEADER  ========== -->
	<!-- ================================ -->
		
							

				 
                   <div class="container">
<div class="col-md-12">


<img src = "/{{ path }}"  height="400" width="500">



<a href = "http://scabs.in/enterqrtext/">  Click here to generate again </a>

    </div>
		</div>
		


	{% endblock %} 
