{% extends "base.html" %}

{% block title %}Sanghamithra Groups{% endblock %}

{% block body_block %}


<head>
<style>

.serv_head{
color: brown;
text-align: center;
}

</style>
</head>


<div class="section" style="background-color: #f4f77a;">
      <div class="container">
        
		
		<h1 class="serv_head"> Our Services </h1>
		
		<hr>
		
		<p style="text-align: center; font-size: 22px; line-height: 35px;">
		An overview of recent projects executed by Sanghamithra Group across different product ranges and solutions. Each project description contains a brief overview of the system installed across the country.
		</p><br/>
		
		<p style="text-align: center; font-size: 22px; margin-bottom: 5%;">Our team of engineers will be happy to customize our solutions to fit your needs.</p>
		
		<div class="row">
		  <div class="col-md-6">
            <img src="/static/sangha-static/images/pastproject/serv_img01.jpg" class="img-responsive">
          </div>
          <div class="col-md-6">
            <h2>Solar Systems</h2>
            
            <p>
			Our smallest standard rooftop solution was installed at a school in Gurgaon to comply with the requirement to generate 5% of their power usage through solar. The system has been installed with a plan for future expansion as the power needs of the school increase. A Net Metering system is being used at the site to ensure the school receives credit for power generated through solar during non working days such as Sundays and school holidays
			</p>
          </div>
		  </div>
		 <br/>  <br/>  <br/>
		  
		  
		   <div class="row">
		  <div class="col-md-6">
            <img src="/static/sangha-static/images/pastproject/serv_img02.jpg" class="img-responsive">
          </div>
          <div class="col-md-6">
            <h2>Water Proofing</h2>
            <h3>25 Years Experience in Water Proofing</h3>
            
			<p>A 15KW grid connected Solar Power System has been installed on top of a 18 floor building. The main purpose of this system is to power a portion of the buildings power requirements by Solar instead of Grid Electricity. This is helping consumers save money over time and is helping lower the load on the grid especially during peak hours. 
			</p>
			
          </div>
		  </div>
		  
		  <br/>  <br/>  <br/>
		  
		  
		   <div class="row">
		  <div class="col-md-6">
            <img src="/static/sangha-static/images/pastproject/serv_img03.jpg" class="img-responsive">
          </div>
          <div class="col-md-6">
            <h2>Security Systems</h2>
            
            <p>
		<li>	CC TV CAMERAS </li>
        <li>    BIO-METRIC     </li>
         <li>   FIRE & SAFETY</li>
         <li>   AUTOMATIC GATES</li>
         <li>   GPRS</li>
         <li>   SERVERS (Online)</li>
			
			</p>
			
          </div>
		  </div>
		  
		  <br/>  <br/>  <br/>
		  
		  
		  
		   <div class="row">
		  <div class="col-md-6">
            <img src="/static/sangha-static/images/pastproject/serv_img04.jpg" class="img-responsive">
          </div>
          <div class="col-md-6">
            <h2>Fast Deal (Properties)</h2>
            <h4>Within Week, Within Date</h4>
            <p>
			PROPERTIES -  <br/>SITES, LANDS, FLATS, BUILDINGS, <br/>
RUNNNING BUSINESSES FOR REASONABLE RATES
			</p>
          
		  </div>
		  </div>
		  
		  <br/>  <br/>  <br/>
		  
		  
		   <div class="row">
		  <div class="col-md-6">
            <img src="/static/sangha-static/images/pastproject/serv_img06.jpg" class="img-responsive">
          </div>
          <div class="col-md-6">
            <h2>Creative Designers</h2>
            <h4>Design Your house as you like</h4>
            <p>
			WALL MURAL <br/>
            SCULPTURES <br/>
            WALL PAINTINGS <br/>
            GARDEN FOUNTAINS <br/>
            INDOOR WATER FOUNTAINS 
			</p>
			
          </div>
		  </div>
		  
		  <br/>  <br/>  <br/>
		  
		  
		  <div class="row">
		  <div class="col-md-6">
            <img src="/static/sangha-static/images/pastproject/serv_img05.jpg" class="img-responsive">
          </div>
          <div class="col-md-6">
            <h2>Social Services</h2>
            <h4>OUR SERVICES JUST FOR RS.1/-</h4>
            <p> <b> <u>VIGNAN PEETH TUITION CENTER </u> </b> <br/>
               For Rs.1/- per month, From 1st to 5th Class <br/>
              <b> <u> DRIVING SCHOOL : ONLY FOR LADIES </u> </b> <br/>
               For 2 Wheelers, 3 Wheelers & 4 Wheelers <br/>
               Free "TECHNICAL TRAINING" to poor people </p>
          </div>
		  </div>
		  
		  <br/>  <br/>  <br/>
		  
		  <div class="row">
		  <div class="col-md-6">
            <img src="/static/sangha-static/images/pastproject/serv_img05.jpg" class="img-responsive">
          </div>
          <div class="col-md-6">
            <h2>Other Services</h2>
            
            <p>
			1. Displaying Traffic Awareness Flex Boards  <br/>
            2. Supply of Drinking Water (pot) "Chalivendram"<br/>
            3. Pollution / Environmental Protection Activities.<br/>
            4. Leftover Food Collection, Old Clothes Collection <br/>
               and supply to needy & poor people<br/><br/>

              Save Power - Petrol - Water and Save India<br/><br/>

              Being A Human I Myself Proposed <br/>
              To Do Social Services... What About You...?
			</p>
			
          </div>
		  </div>
		  
		  <br/>  <br/>  <br/>
		  
		  
		  <div class="row">
		  <div class="col-md-6">
            <img src="/static/sangha-static/images/pastproject/serv_img05.jpg" class="img-responsive">
          </div>
          <div class="col-md-6">
            <h2>Business Improvers</h2>
            
            <p> A grid connected Solar Power powers a residential community center to save overhead costs for the residents. The panels are installed on top of the community center roof using one of the existing roofs that faces south. The system helps the customer lower their electricity bills by generating 50% of their needs during peak working hours. 
			</p>
			
          </div>
		  </div>
		  
		  <br/>  <br/>  <br/>
		  
		  
		  
		  
        </div>
      </div>
    
	
	
	{% endblock %}