<!DOCTYPE html>
<!--[if lte IE 9]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
<meta charset="utf-8">
<title>Eye World</title>
<!--=================================
Meta tags
=================================-->
<meta name="description" content="">
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" />

<!--=================================
Style Sheets
=================================-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>  
    
<link rel="stylesheet" type="text/css" href="/static/eyeworld-static/assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/eyeworld-static/assets/css/flexslider.css">
<link rel="stylesheet" type="text/css" href="/static/eyeworld-static/assets/css/animations.css">
<link rel="stylesheet" type="text/css" href="/static/eyeworld-static/assets/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/eyeworld-static/assets/css/jquery.flickr.css">
<link rel="stylesheet" type="text/css" href="/static/eyeworld-static/assets/css/prettyPhoto.css">
<link rel="stylesheet" href="/static/eyeworld-static/assets/css/main.css">

<script src="/static/eyeworld-static/assets/js/lib/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>

<!--========================================
Body Content
===========================================-->
<div class="offsetWrap">
    
    <div class="offsetMaker"> 
        
        <header class="bg-white doc-header">
           <!--  <div class="head-contact clearfix">
            <div class="container">
                <ul class="nav-top pull-left">
                    <li><a href="#" class="appointment">Take Appointment Now</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">My Account</a></li>
                    <li><a href="#">Appointments</a></li>
                </ul>

                <ul class="contact pull-right">
                    <li><a href="#"><i class="fa fa-phone"></i>0800-1234-567</a></li>
                    <li><a href="#"><i class="fa fa-envelope"></i>info@clinix.com</a></li>
                </ul>

            </div>
            </div> -->

            
            <nav id="sticktop">
            <div class="container">
                
                    <a href="/eyeworld/" class="text-left logo"><img src="/static/eyeworld-static/assets/demo-data/logo1.jpg" alt=""></a>
                    <ul class="socials">
                       <li><a href=" https://www.facebook.com/EyeworldOpticians-1405042499550681/" target="_blank" class="fb"><i class="fa fa-facebook-f"></i></a></li>
                      
                    </ul>
                    <a href="#" class="nav-triger"><span class="fa fa-navicon"></span></a>
                    <ul class="main-menu">
                        <li class="active"><a href="/eyeworld/">Home</a></li>
                        <!-- <li><a href="team.html">Team</a></li> -->
                        <li><a href="/eyeworld/aboutus/">About Us</a></li>
                        <li><a href="/eyeworld/gallery/">Gallery</a></li>
                        <li><a href="/eyeworld/services/">Services</a></li>
                        <li class="parent"><a href="#">Products</a>
                            <ul>
                                <li><a href="/eyeworld/brands/">Brands</a></li>
								<li><a href="/eyeworld/frames/">Frames</a></li>
								<li><a href="/eyeworld/sun/">Sun Glasses</a></li>
								<li><a href="/eyeworld/lens/">Lens</a></li>
								
								
                                
                            </ul>
                        <li><a href="/eyeworld/contactus/">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </header>   

    <!-- <div id="contact-map" class="map-custom" data-address="kansas city" data-zoomlvl="13" data-maptype="HYBRID"></div> -->
    
    
    <section class="">
        <div class="container">
		<div class="row">
		<div class="col-md-12">
                        <h3 class="text-uppercase after-left-l text-bold mb-20 pb-25">Contact Us</h3>
						
                        <div class="accordian-wrapper">
                            <a href="#" class="accordian-trigger bg-blue1">EYE WORLD OPTICIANS - JP NAGAR</a>
                            <div class="accordian-pane">
							<p> <strong style="font-family: sans-serif;font-size: large;font-style: italic;color: #D13741">EYE WORLD OPTICIANS</strong><br><i class="fa fa-map-marker" style="font-size:20px"></i>&nbsp;NO-247 GROUND FLOOR 24 <br>&nbsp;&nbsp;&nbsp;&nbsp;TH MAIN JP NAGAR,<br>&nbsp;&nbsp;&nbsp;&nbsp;5TH PHASE,OPP TO MAHARASHTRA BANK, <br>&nbsp;&nbsp;&nbsp;&nbsp;NEAR NANDHINI HOTEL  
<br>&nbsp;&nbsp;&nbsp;&nbsp;BANGALORE- 560078<br>&nbsp;&nbsp;&nbsp;&nbsp;India.<br><strong><i class="fa fa-phone" style="font-size:20px"></i> </strong>080- 42091563</p>
							<a href="https://www.google.co.in/maps/uv?hl=en&pb=!1s0x3bae14fd7c1a06b1%3A0xfdf3e0c286a15280!2m19!2m2!1i80!2i80!3m1!2i20!16m13!1b1!2m2!1m1!1e1!2m2!1m1!1e3!2m2!1m1!1e5!2m2!1m1!1e4!3m1!7e115!4s%2Fmaps%2Fplace%2Feye%2Bworld%2Bopticians%2Bbangalore%2Bkarnataka%2F%4012.913902%2C77.6080823%2C3a%2C75y%2C7.02h%2C90t%2Fdata%3D*213m4*211e1*213m2*211sfufC20NfZ5xhZVC6UigUrA*212e0*214m2*213m1*211s0x3bae14fd7c1a06b1%3A0xfdf3e0c286a15280!5seye%20world%20opticians%20bangalore%20karnataka%20-%20Google%20Search&imagekey=!1e2!2sfufC20NfZ5xhZVC6UigUrA&sa=X&ved=0ahUKEwjJsNSk86rUAhUEpo8KHW1jBFEQoB8IfjAK" target="_blank">	
							
							<img src="/static/eyeworld-static/assets/demo-data/jpnagar.png" style="width:344px;height:196px;"></a>
							<img src="/static/eyeworld-static/assets/demo-data/click-arrow-left.png"></a>
							
                            </div>
                        </div>

                        <div class="accordian-wrapper">
                            <a href="#" class="accordian-trigger bg-blue1">EYE WORLD OPTICIANS - KORMANGALA </a>
                            <div class="accordian-pane">
                                <p> <strong style="font-family: sans-serif;font-size: large;font-style: italic;color: #D13741">EYE WORLD OPTICIANS</strong><br><i class="fa fa-map-marker" style="font-size:20px"></i>&nbsp;NO-363 & 364 GROUND FLOOR 1ST MAIN <br>&nbsp;&nbsp;&nbsp;&nbsp;7 TH BLOCK BESIDE SWEAT CHARIOT <br>&nbsp;&nbsp;&nbsp;&nbsp;KORMANGALA  
<br>&nbsp;&nbsp;&nbsp;&nbsp;BANGALORE - 560091<br>&nbsp;&nbsp;&nbsp;&nbsp;India.<br><strong><i class="fa fa-phone" style="font-size:20px"></i> </strong> 080- 41102147</p>
							<a href="https://www.google.co.in/maps/uv?hl=en&pb=!1s0x3bae14fd7c1a06b1%3A0xfdf3e0c286a15280!2m19!2m2!1i80!2i80!3m1!2i20!16m13!1b1!2m2!1m1!1e1!2m2!1m1!1e3!2m2!1m1!1e5!2m2!1m1!1e4!3m1!7e115!4s%2Fmaps%2Fplace%2Feye%2Bworld%2Bopticians%2Bbangalore%2Bkarnataka%2F%4012.913902%2C77.6080823%2C3a%2C75y%2C7.02h%2C90t%2Fdata%3D*213m4*211e1*213m2*211sfufC20NfZ5xhZVC6UigUrA*212e0*214m2*213m1*211s0x3bae14fd7c1a06b1%3A0xfdf3e0c286a15280!5seye%20world%20opticians%20bangalore%20karnataka%20-%20Google%20Search&imagekey=!1e2!2sfufC20NfZ5xhZVC6UigUrA&sa=X&ved=0ahUKEwjJsNSk86rUAhUEpo8KHW1jBFEQoB8IfjAK" target="_blank">	
							
							<img src="/static/eyeworld-static/assets/demo-data/kormangala1.png" style="width:344px;height:196px;"></a>
							<img src="/static/eyeworld-static/assets/demo-data/click-arrow-left.png"></a>
                            </div>
                        </div>

                        <div class="accordian-wrapper">
                            <a href="#" class="accordian-trigger bg-blue1">EYE WORLD OPTICIANS - JEEVAN BHEEMA NAGAR  </a>
                            <div class="accordian-pane">
                                <p> <strong style="font-family: sans-serif;font-size: large;font-style: italic;color: #D13741">EYE WORLD OPTICIANS</strong><br><i class="fa fa-map-marker" style="font-size:20px"></i>&nbsp;SHOP NO-554 GROUND FLOOR <br>&nbsp;&nbsp;&nbsp;&nbsp;JEEVAN BHEEMA NAGAR MAIN ROAD <br>&nbsp;&nbsp;&nbsp;&nbsp;10 TH MAIN , <br>&nbsp;&nbsp;&nbsp;&nbsp;OPP: BATA SHOWROOM , HAL 3 RD STAGE 
<br>&nbsp;&nbsp;&nbsp;&nbsp;BANGALORE- 560075<br>&nbsp;&nbsp;&nbsp;&nbsp;India.<br><strong ><i class="fa fa-phone" style="font-size:20px"></i> </strong>080-25200786, 080- 40904135</p>
							<a href="https://www.google.co.in/maps/uv?hl=en&pb=!1s0x3bae14fd7c1a06b1%3A0xfdf3e0c286a15280!2m19!2m2!1i80!2i80!3m1!2i20!16m13!1b1!2m2!1m1!1e1!2m2!1m1!1e3!2m2!1m1!1e5!2m2!1m1!1e4!3m1!7e115!4s%2Fmaps%2Fplace%2Feye%2Bworld%2Bopticians%2Bbangalore%2Bkarnataka%2F%4012.913902%2C77.6080823%2C3a%2C75y%2C7.02h%2C90t%2Fdata%3D*213m4*211e1*213m2*211sfufC20NfZ5xhZVC6UigUrA*212e0*214m2*213m1*211s0x3bae14fd7c1a06b1%3A0xfdf3e0c286a15280!5seye%20world%20opticians%20bangalore%20karnataka%20-%20Google%20Search&imagekey=!1e2!2sfufC20NfZ5xhZVC6UigUrA&sa=X&ved=0ahUKEwjJsNSk86rUAhUEpo8KHW1jBFEQoB8IfjAK" target="_blank">	
							
							<img src="/static/eyeworld-static/assets/demo-data/jbnagar.png" style="width:344px;height:196px;"></a>
							<img src="/static/eyeworld-static/assets/demo-data/click-arrow-left.png"></a>
                            </div>
                        </div>
						
						<div class="accordian-wrapper">
                            <a href="#" class="accordian-trigger bg-blue1">EYE WORLD OPTICIANS - KUMAR SWAMY LAYOUT </a>
                            <div class="accordian-pane">
                                <p> <strong style="font-family: sans-serif;font-size: large;font-style: italic;color: #D13741">EYE WORLD OPTICIANS</strong><br><i class="fa fa-map-marker" style="font-size:20px"></i>&nbsp;NO- 11/B GROUND FLOOR  <br>&nbsp;&nbsp;&nbsp;&nbsp;V.S PLAZA <br>&nbsp;&nbsp;&nbsp;&nbsp;NEAR DAYANANDA SAGAR COLLEGE , <br>&nbsp;&nbsp;&nbsp;&nbsp;KUMAR SWAMY LAYOUT MAIN ROAD 
<br>&nbsp;&nbsp;&nbsp;&nbsp;BANGALORE- 560078<br>&nbsp;&nbsp;&nbsp;&nbsp;India.<br><strong><i class="fa fa-phone" style="font-size:20px"></i> </strong>080- 26662444</p>
							<a href="https://www.google.co.in/maps/uv?hl=en&pb=!1s0x3bae14fd7c1a06b1%3A0xfdf3e0c286a15280!2m19!2m2!1i80!2i80!3m1!2i20!16m13!1b1!2m2!1m1!1e1!2m2!1m1!1e3!2m2!1m1!1e5!2m2!1m1!1e4!3m1!7e115!4s%2Fmaps%2Fplace%2Feye%2Bworld%2Bopticians%2Bbangalore%2Bkarnataka%2F%4012.913902%2C77.6080823%2C3a%2C75y%2C7.02h%2C90t%2Fdata%3D*213m4*211e1*213m2*211sfufC20NfZ5xhZVC6UigUrA*212e0*214m2*213m1*211s0x3bae14fd7c1a06b1%3A0xfdf3e0c286a15280!5seye%20world%20opticians%20bangalore%20karnataka%20-%20Google%20Search&imagekey=!1e2!2sfufC20NfZ5xhZVC6UigUrA&sa=X&ved=0ahUKEwjJsNSk86rUAhUEpo8KHW1jBFEQoB8IfjAK" target="_blank">	
							
							<img src="/static/eyeworld-static/assets/demo-data/kumar.png" style="width:344px;height:196px;"></a>
							<img src="/static/eyeworld-static/assets/demo-data/click-arrow-left.png"></a>
                            </div>
                        </div>
						
						<div class="accordian-wrapper">
                            <a href="#" class="accordian-trigger bg-blue1">EYE WORLD OPTICIANS - BTM  </a>
                            <div class="accordian-pane">
                                <p> <strong style="font-family: sans-serif;font-size: large;font-style: italic;color: #D13741">EYE WORLD OPTICIANS</strong><br><i class="fa fa-map-marker" style="font-size:20px"></i>&nbsp;SHOP NO-808 GROUND FLOOR   <br>&nbsp;&nbsp;&nbsp;&nbsp;7 TH CROSS  <br>&nbsp;&nbsp;&nbsp;&nbsp;OPP: SBI ATM  <br>&nbsp;&nbsp;&nbsp;&nbsp;BTM 2ND STAGE 
<br>&nbsp;&nbsp;&nbsp;&nbsp;BANGALORE- 560076<br>&nbsp;&nbsp;&nbsp;&nbsp;India.<br><strong><i class="fa fa-phone" style="font-size:20px"></i> </strong>080-42012387 </p>
							<a href="https://www.google.co.in/maps/uv?hl=en&pb=!1s0x3bae14fd7c1a06b1%3A0xfdf3e0c286a15280!2m19!2m2!1i80!2i80!3m1!2i20!16m13!1b1!2m2!1m1!1e1!2m2!1m1!1e3!2m2!1m1!1e5!2m2!1m1!1e4!3m1!7e115!4s%2Fmaps%2Fplace%2Feye%2Bworld%2Bopticians%2Bbangalore%2Bkarnataka%2F%4012.913902%2C77.6080823%2C3a%2C75y%2C7.02h%2C90t%2Fdata%3D*213m4*211e1*213m2*211sfufC20NfZ5xhZVC6UigUrA*212e0*214m2*213m1*211s0x3bae14fd7c1a06b1%3A0xfdf3e0c286a15280!5seye%20world%20opticians%20bangalore%20karnataka%20-%20Google%20Search&imagekey=!1e2!2sfufC20NfZ5xhZVC6UigUrA&sa=X&ved=0ahUKEwjJsNSk86rUAhUEpo8KHW1jBFEQoB8IfjAK" target="_blank">	
							
							<img src="/static/eyeworld-static/assets/demo-data/BTM.png" style="width:344px;height:196px;"></a>
							<img src="/static/eyeworld-static/assets/demo-data/click-arrow-left.png"></a>
                            </div>
                        </div>
						
						<div class="accordian-wrapper">
                            <a href="#" class="accordian-trigger bg-blue1">EYE WORLD OPTICIANS - VIJAYNAGAR  </a>
                            <div class="accordian-pane">
                                <p> <strong style="font-family: sans-serif;font-size: large;font-style: italic;color: #D13741">EYE WORLD OPTICIANS</strong><br><i class="fa fa-map-marker" style="font-size:20px"></i>&nbsp;SHOP NO-8  1 ST MAIN ROAD   <br>&nbsp;&nbsp;&nbsp;&nbsp;2 ND CROSS  INCOME TAX LAY OUT <br>&nbsp;&nbsp;&nbsp;&nbsp;CHANDRA LAYOUT MAIN ROAD 
, <br>&nbsp;&nbsp;&nbsp;&nbsp;NEAR KOLLIMANE ,VIJAYNAGAR 
<br>&nbsp;&nbsp;&nbsp;&nbsp;BANGALORE- 560040<br>&nbsp;&nbsp;&nbsp;&nbsp;India.<br><strong><i class="fa fa-phone" style="font-size:20px"></i> </strong>080-23393720</p>
							<a href="https://www.google.co.in/maps/uv?hl=en&pb=!1s0x3bae14fd7c1a06b1%3A0xfdf3e0c286a15280!2m19!2m2!1i80!2i80!3m1!2i20!16m13!1b1!2m2!1m1!1e1!2m2!1m1!1e3!2m2!1m1!1e5!2m2!1m1!1e4!3m1!7e115!4s%2Fmaps%2Fplace%2Feye%2Bworld%2Bopticians%2Bbangalore%2Bkarnataka%2F%4012.913902%2C77.6080823%2C3a%2C75y%2C7.02h%2C90t%2Fdata%3D*213m4*211e1*213m2*211sfufC20NfZ5xhZVC6UigUrA*212e0*214m2*213m1*211s0x3bae14fd7c1a06b1%3A0xfdf3e0c286a15280!5seye%20world%20opticians%20bangalore%20karnataka%20-%20Google%20Search&imagekey=!1e2!2sfufC20NfZ5xhZVC6UigUrA&sa=X&ved=0ahUKEwjJsNSk86rUAhUEpo8KHW1jBFEQoB8IfjAK" target="_blank">	
							
							<img src="/static/eyeworld-static/assets/demo-data/vijaynagar.png" style="width:344px;height:196px;"></a>
							<img src="/static/eyeworld-static/assets/demo-data/click-arrow-left.png"></a>
                            </div>
                        </div>
						
						<div class="accordian-wrapper">
                            <a href="#" class="accordian-trigger bg-blue1">EYE WORLD OPTICIANS - NEW BEL ROAD  </a>
                            <div class="accordian-pane">
                                <p> <strong style="font-family: sans-serif;font-size: large;font-style: italic;color: #D13741">EYE WORLD OPTICIANS</strong><br><i class="fa fa-map-marker" style="font-size:20px"></i>&nbsp;NEW BEL ROAD  <br>&nbsp;&nbsp;&nbsp;&nbsp;NO-214 NEW BEL ROAD <br>&nbsp;&nbsp;&nbsp;&nbsp;NEAR SBI ATM ,M.S.R NAGAR, 
<br>&nbsp;&nbsp;&nbsp;&nbsp;BANGALORE- 560054<br>&nbsp;&nbsp;&nbsp;&nbsp;India.<br><strong><i class="fa fa-phone" style="font-size:20px"></i> </strong>080-23607360</p>
							<a href="https://www.google.co.in/maps/uv?hl=en&pb=!1s0x3bae14fd7c1a06b1%3A0xfdf3e0c286a15280!2m19!2m2!1i80!2i80!3m1!2i20!16m13!1b1!2m2!1m1!1e1!2m2!1m1!1e3!2m2!1m1!1e5!2m2!1m1!1e4!3m1!7e115!4s%2Fmaps%2Fplace%2Feye%2Bworld%2Bopticians%2Bbangalore%2Bkarnataka%2F%4012.913902%2C77.6080823%2C3a%2C75y%2C7.02h%2C90t%2Fdata%3D*213m4*211e1*213m2*211sfufC20NfZ5xhZVC6UigUrA*212e0*214m2*213m1*211s0x3bae14fd7c1a06b1%3A0xfdf3e0c286a15280!5seye%20world%20opticians%20bangalore%20karnataka%20-%20Google%20Search&imagekey=!1e2!2sfufC20NfZ5xhZVC6UigUrA&sa=X&ved=0ahUKEwjJsNSk86rUAhUEpo8KHW1jBFEQoB8IfjAK" target="_blank">	
							
							<img src="/static/eyeworld-static/assets/demo-data/new-bel-road.png" style="width:344px;height:196px;"></a>
							<img src="/static/eyeworld-static/assets/demo-data/click-arrow-left.png"></a>
                            </div>
                        </div>
						<div class="accordian-wrapper">
                            <a href="#" class="accordian-trigger bg-blue1">EYE WORLD OPTICIANS - SARJAPUR   </a>
                            <div class="accordian-pane">
                                <p> <strong style="font-family: sans-serif;font-size: large;font-style: italic;color: #D13741">EYE WORLD OPTICIANS</strong><br><i class="fa fa-map-marker" style="font-size:20px"></i>&nbsp;NO-71/1 GROUND FLOOR 
								<br>&nbsp;&nbsp;&nbsp;&nbsp;OPPOSITE TO AXIS BANK, <br>&nbsp;&nbsp;&nbsp;&nbsp;NEAR BATA SHOWROOM, <br>&nbsp;&nbsp;&nbsp;&nbsp;KAIKONDRAHALLI, SARJAPUR ROAD, 
								<br>&nbsp;&nbsp;&nbsp;&nbsp;BANGALORE- 560035<br>&nbsp;&nbsp;&nbsp;&nbsp;India.<br><strong><i class="fa fa-phone" style="font-size:20px"></i> </strong>080-25746660</p>
							<a href="https://www.google.co.in/maps/uv?hl=en&pb=!1s0x3bae14fd7c1a06b1%3A0xfdf3e0c286a15280!2m19!2m2!1i80!2i80!3m1!2i20!16m13!1b1!2m2!1m1!1e1!2m2!1m1!1e3!2m2!1m1!1e5!2m2!1m1!1e4!3m1!7e115!4s%2Fmaps%2Fplace%2Feye%2Bworld%2Bopticians%2Bbangalore%2Bkarnataka%2F%4012.913902%2C77.6080823%2C3a%2C75y%2C7.02h%2C90t%2Fdata%3D*213m4*211e1*213m2*211sfufC20NfZ5xhZVC6UigUrA*212e0*214m2*213m1*211s0x3bae14fd7c1a06b1%3A0xfdf3e0c286a15280!5seye%20world%20opticians%20bangalore%20karnataka%20-%20Google%20Search&imagekey=!1e2!2sfufC20NfZ5xhZVC6UigUrA&sa=X&ved=0ahUKEwjJsNSk86rUAhUEpo8KHW1jBFEQoB8IfjAK" target="_blank">	
							
							<img src="/static/eyeworld-static/assets/demo-data/sarjapur.png" style="width:344px;height:196px;"></a>
							<img src="/static/eyeworld-static/assets/demo-data/click-arrow-left.png"></a>
                            </div>
                        </div>
						
                    </div>
		
		
		
		</div><br><br>
            <div class="row">
                <div class="col-md-9 col-sm-8 no-pad">
                    <div class="contact-form bg-white">
                        <div class="pad">
                            <div class="reply-wrapper">
                                <h3 class="text-uppercase color-blue">Leave a Reply</h3>
                                
                                <form>
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <label>Name <span>*</span></label>
                                            <input type="text">
                                            <label>Email <span>*</span></label>
                                            <input type="text">
                                            <label>Website</label>
                                            <input type="text">
                                        </div>
                                    </div>
                                    <label>Comment</label>
                                    <textarea></textarea>
                                    <button class="btn">Send</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
         <!--        <div class="col-md-3 col-sm-4 color-white no-pad">
                    <div class="contact-box bg-blue1">
                        <h5 class="text-bold">Clinix Hospital</h5>
                        <p>Phone : 0800-1234-567 <br>Emai : infor@clinix.com<br> Address : 76, Stephin Street</p>
                    </div>

                    <div class="contact-box bg-blue2">
                        <h5 class="text-bold">WORKING HOURS</h5>
                        <p>Monday 09:00 – 06:00<br> Wednesday 09:00 – 06:00 <br>FRIDAY 09:00 – 06:00</p>
                    </div>

                    <div class="contact-box bg-blue3">
                        <h5 class="text-bold">24 Hours Service</h5>
                        <p>We will provide 24 hourse services and available any time.  </p>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
	<div class="row" style="margin-left:80px;margin-bottom:20px">
	<div class="mapouter"><div class="gmap_canvas"><iframe width="1200" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=Eye World Opticians, BTM 2nd Stage, 7th Cross Rd, Stage 2, Bengaluru, Karnataka 560076, India, &t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>embed google map <a href="http://www.embedgooglemap.net">embedgooglemap.net</a></div><style>.mapouter{overflow:hidden;height:300px;width:1200px;}.gmap_canvas {background:none!important;height:300px;width:1200px;}</style></div></div>


    <div class="promo bg-blue4 color-white clearfix pt-40 pb-40">
        <div class="container">
            <span class="text-bold text-uppercase pull-left">WHAT ARE YOU WAITING FOR</span>
            <a href="#" class="btn pull-right">Call to action</a>
        </div>
    </div>

   <footer class="bg-white pt-35">
            <div class="container">
                <div class="row">
                     <div class="col-sm-1">
                        
                    </div>
                    <div class="col-sm-4 mt-40">
                        <h6 class="text-bold text-uppercase after-left-s pb-20 mb-20">ABOUT EYE WORLD</h6>
                        <p>Eyeword Opticians is a Bangalore based company incorporated in 2005 and specialising in fashionable eyewear for all age groups and personal tastes. Exclusive frames for Computer Professionals. </p>
                    </div>
					
					
                    <div class="col-sm-4 mt-40 tags">
                        <h6 class="text-bold text-uppercase after-left-s pb-20 mb-20">Tags</h6>
                        <a href="/eyeworld/frames/">Frames</a>
                        <a href="/eyeworld/lens/">Lens</a>
                   
                        <a href="/eyeworld/brands/">Brands</a>
                        
						 <a href="/">Eye World</a>
                       
                    </div>

                    <div class="col-sm-1">
                        
                    </div>
                </div>
                <div class="rights mt-60 pt-15 pb-10">
                    Design By <a href="http://delevere.com/" target="_blank">Delevere</a> &copy;
                </div>
            </div>
        </footer>
    </div>
    
</div>

<!--=================================
Script Source
=================================-->

<script src="/static/eyeworld-static/assets/js/lib/jquery.js"></script>
<script src="/static/eyeworld-static/assets/js/lib/css3-animate-it.js"></script>
<script src="/static/eyeworld-static/assets/js/lib/jquery.flexslider-min.js"></script>
<script src="/static/eyeworld-static/assets/js/lib/jquery.sticky.js"></script>
<script src="/static/eyeworld-static/assets/js/lib/jquery.waitforimages.js"></script>
<script src="/static/eyeworld-static/assets/js/lib/jflickrfeed.min.js"></script>
<script src="/static/eyeworld-static/assets/js/lib/jquery.prettyPhoto.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
<script src="/static/eyeworld-static/assets/js/app/main.js"></script>

</body>

<!-- Mirrored from xvelopers.com/html/clinix/contact-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 06 Jun 2017 09:10:39 GMT -->
</html>
