<!DOCTYPE html>
<!--[if lte IE 9]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
<meta charset="utf-8">
<title>Eye World</title>
<!--=================================
Meta tags
=================================-->
<meta name="description" content="">
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" />

<!--=================================
Style Sheets
=================================-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>  
    
<link rel="stylesheet" type="text/css" href="/static/eyeworld-static/assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/eyeworld-static/assets/css/flexslider.css">
<link rel="stylesheet" type="text/css" href="/static/eyeworld-static/assets/css/animations.css">
<link rel="stylesheet" type="text/css" href="/static/eyeworld-static/assets/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/eyeworld-static/assets/css/jquery.flickr.css">
<link rel="stylesheet" type="text/css" href="/static/eyeworld-static/assets/css/prettyPhoto.css">
<link rel="stylesheet" href="/static/eyeworld-static/assets/css/main.css">
 <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
 <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="/static/eyeworld-static/assets/js/photo-gallery.js"></script> 

<script src="/static/eyeworld-static/assets/js/lib/modernizr-2.6.2-respond-1.1.0.min.js"></script>

   <style>
      ul {         
          padding:0 0 0 0;
          margin:0 0 0 0;
      }
      ul li {     
          list-style:none;
                     
      }
      ul li img {
          cursor: pointer;
      }
      .modal-body {
          padding:5px !important;
      }
      .modal-content {
          border-radius:0;
      }
      .modal-dialog img {
          text-align:center;
          margin:0 auto;
      }
    .controls{          
        width:50px;
        display:block;
        font-size:11px;
        padding-top:8px;
        font-weight:bold;          
    }
    .next {
        float:right;
        text-align:right;
    }
      /*override modal for demo only*/
      .modal-dialog {
          max-width:500px;
          padding-top: 90px;
      }
      @media screen and (min-width: 768px){
          .modal-dialog {
              width:500px;
              padding-top: 90px;
          }          
      }
      @media screen and (max-width:1500px){
          #ads {
              display:none;
          }
      }
	  
	  @media (min-width: 1200px)

  </style>



</head>
<body>

<!--========================================
Body Content
===========================================-->
<div class="offsetWrap">
    
    <div class="offsetMaker"> 
        
        <header class="bg-white doc-header">
           
            <nav id="sticktop">
            <div class="container" style="width: 1000px;">
                
                    <a href="/eyeworld/" class="text-left logo"><img src="/static/eyeworld-static/assets/demo-data/logo1.jpg" alt=""></a>
                    <ul class="socials">
                        <li><a href="https://www.facebook.com/EyeworldOpticians-1405042499550681/"target="_blank" class="fb"><i class="fa fa-facebook-f"></i></a></li>
                        
                    </ul>
                    <a href="#" class="nav-triger"><span class="fa fa-navicon"></span></a>
                    <ul class="main-menu">
                        <li class="active"><a href="/eyeworld/">Home</a></li>
                      
                        <li><a href="/eyeworld/aboutus/">About Us</a></li>
                        <li><a href="/eyeworld/gallery/">Gallery</a></li>
                        <li><a href="/eyeworld/services">Services</a></li>
                        <li class="parent"><a href="#">Products</a>
                            <ul>
                                <li><a href="/eyeworld/brands/">Brands</a></li>
								<li><a href="/eyeworld/frames/">Frames</a></li>
								<li><a href="/eyeworld/sun/">Sun Glasses</a></li>
								<li><a href="/eyeworld/lens/">Lens</a></li>
								
								
                                
                            </ul>
                        <li><a href="/eyeworld/contactus/">Contact</a></li>
                    </ul>
                </div>
            </nav>
       
        </header> 
  
    <section class="our-team" style="background-color:#EFF2F5">
        <div class="container" style="width: 1000px;">
		<div class="row ">
			<h3 class="text-uppercase after-left-l text-bold mb-20 pb-25">Gallery</h3>
        
        <ul class="row" style="padding-bottom: 30px;">
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
			
                <img class="img-responsive" src="/static/eyeworld-static/assets/demo-data/1.JPG">
            </li>
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <img class="img-responsive" src="/static/eyeworld-static/assets/demo-data/2.JPG">
            </li>
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <img class="img-responsive" src="/static/eyeworld-static/assets/demo-data/3.JPG">
            </li></ul>
			
			<ul class="row" style="padding-bottom: 30px;">
			 <li class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <img class="img-responsive" src="/static/eyeworld-static/assets/demo-data/4.JPG">
            </li>
			
			 <li class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <img class="img-responsive" src="/static/eyeworld-static/assets/demo-data/5.JPG">
            </li>
			
			 <li class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <img class="img-responsive" src="/static/eyeworld-static/assets/demo-data/6.JPG">
            </li></ul>
			
			<ul class="row" style="padding-bottom: 30px;">
			
			 <li class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <img class="img-responsive" src="/static/eyeworld-static/assets/demo-data/7.JPG">
            </li>
			
			 <li class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <img class="img-responsive" src="/static/eyeworld-static/assets/demo-data/8.JPG">
            </li>
			
			 <li class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <img class="img-responsive" src="/static/eyeworld-static/assets/demo-data/9.JPG">
            </li>
			</ul>
			
			<ul class="row" style="padding-bottom: 30px;">
			 <li class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <img class="img-responsive" src="/static/eyeworld-static/assets/demo-data/10.JPG">
            </li>
			
			 <li class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <img class="img-responsive" src="/static/eyeworld-static/assets/demo-data/11.JPG">
            </li>
			
			 <li class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <img class="img-responsive" src="/static/eyeworld-static/assets/demo-data/12.JPG">
            </li>
            
            
          </ul>             
    </div> <!-- /container -->
	</div>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">         
          <div class="modal-body">                
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    </section>
	
    
   <footer class="bg-white pt-35">
            <div class="container" style="width: 1000px;">
                <div class="row">
                     <div class="col-sm-1">
                        
                    </div>
                    <div class="col-sm-4 mt-40">
                        <h6 class="text-bold text-uppercase after-left-s pb-20 mb-20">ABOUT EYE WORLD</h6>
                        <p>Eyeword Opticians is a Bangalore based company incorporated in 2005 and specialising in fashionable eyewear for all age groups and personal tastes. Exclusive frames for Computer Professionals. </p>
                    </div>
					
					
                    <div class="col-sm-4 mt-40 tags">
                        <h6 class="text-bold text-uppercase after-left-s pb-20 mb-20">Tags</h6>
                        <a href="/eyeworld/frames/">Frames</a>
                        <a href="/eyeworld/lens/">Lens</a>
                   
                        <a href="/eyeworld/brands/">Brands</a>
                        
						 <a href="/">Eye World</a>
                       
                    </div>

                    <div class="col-sm-1">
                        
                    </div>
                </div>
                <div class="rights mt-60 pt-15 pb-10">
                    Design By <a href="http://delevere.com/" target="_blank">Delevere</a> &copy;
                </div>
            </div>
        </footer>
    </div>
    
</div>

<!--=================================
Script Source
=================================-->

<!-- <script src="/static/eyeworld-static/assets/js/lib/jquery.js"></script> -->
<script src="/static/eyeworld-static/assets/js/lib/css3-animate-it.js"></script>
<script src="/static/eyeworld-static/assets/js/lib/jquery.flexslider-min.js"></script>
<script src="/static/eyeworld-static/assets/js/lib/jquery.sticky.js"></script>
<script src="/static/eyeworld-static/assets/js/lib/jquery.waitforimages.js"></script>
<script src="/static/eyeworld-static/assets/js/lib/jflickrfeed.min.js"></script>
 <script src="/static/eyeworld-static/assets/js/lib/jquery.prettyPhoto.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
<script src="/static/eyeworld-static/assets/js/app/main.js"></script>

</body>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


</html>