<!DOCTYPE html>
<!--[if lte IE 9]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
<meta charset="utf-8">
<title>Eye World</title>
<!--=================================
Meta tags
=================================-->
<meta name="description" content="">
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" />

<!--=================================
Style Sheets
=================================-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>  
    
<link rel="stylesheet" type="text/css" href="/static/eyeworld-static/assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/eyeworld-static/assets/css/flexslider.css">
<link rel="stylesheet" type="text/css" href="/static/eyeworld-static/assets/css/animations.css">
<link rel="stylesheet" type="text/css" href="/static/eyeworld-static/assets/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/eyeworld-static/assets/css/jquery.flickr.css">
<link rel="stylesheet" type="text/css" href="/static/eyeworld-static/assets/css/prettyPhoto.css">
<link rel="stylesheet" href="/static/eyeworld-static/assets/css/main.css">

<script src="/static/eyeworld-static/assets/js/lib/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>

<!--========================================
Body Content
===========================================-->
<div class="offsetWrap">
    
    <div class="offsetMaker"> 
        
        <header class="bg-white doc-header">
           <!--  <div class="head-contact clearfix">
            <div class="container">
                <ul class="nav-top pull-left">
                    <li><a href="#" class="appointment">Take Appointment Now</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">My Account</a></li>
                    <li><a href="#">Appointments</a></li>
                </ul>

                <ul class="contact pull-right">
                    <li><a href="#"><i class="fa fa-phone"></i>0800-1234-567</a></li>
                    <li><a href="#"><i class="fa fa-envelope"></i>info@clinix.com</a></li>
                </ul>

            </div>
            </div> -->

            
            <nav id="sticktop">
            <div class="container">
                
                    <a href="/eyeworld/" class="text-left logo"><img src="/static/eyeworld-static/assets/demo-data/logo1.jpg" alt=""></a>
                    <ul class="socials">
                        <li><a href=" https://www.facebook.com/EyeworldOpticians-1405042499550681/" target="_blank" class="fb"><i class="fa fa-facebook-f"></i></a></li>
                        
                    </ul>
                    <a href="#" class="nav-triger"><span class="fa fa-navicon"></span></a>
                    <ul class="main-menu">
                        <li class="active"><a href="/eyeworld/">Home</a></li>
                       
                        <li><a href="/eyeworld/aboutus/">About Us</a></li>
                        <li><a href="/eyeworld/gallery/">Gallery</a></li>
                        <li><a href="/eyeworld/services/">Services</a></li>
                        <li class="parent"><a href="#">Products</a>
                            <ul>
                                <li><a href="/eyeworld/brands/">Brands</a></li>
								<li><a href="/eyeworld/frames/">Frames</a></li>
								<li><a href="/eyeworld/sun/">Sun Glasses</a></li>
								<li><a href="/eyeworld/lens/">Lens</a></li>
								
								
								
                                
                            </ul>
                        </li>
                        <li><a href="/eyeworld/contactus/">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </header>    

        <section class="custom-slider no-pad">
            <div id="home-slider" class="xv_slider flexslider">
                <ul class="slides">
                    <li class="xv_slide" data-slideBg="url(/static/eyeworld-static/assets/demo-data/slider2.jpg)" >
                        <!-- <div class="flex-caption">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-offset-7 col-md-5 col-sm-6 col-sm-offset-6">
                                        <h3 class="mb-25 text-uppercase color-blue text-bold after-left-l pb-30 animated fadeInLeft">
                                            Expert doctors
                                        </h3>
                                        <p class="animated fadeInRight">We are proud to be one of Whistler’s oldest and most respected medical practices. we are open <strong>7 days a week</strong> </p>
                                        <a href="#" class="btn animated fadeInUp">Take Appoitments</a>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </li>
                    <li class="xv_slide" data-slideBg="url(/static/eyeworld-static/assets/demo-data/slider3.jpg)" >
                        <!-- <div class="flex-caption">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-offset-7 col-md-5 col-sm-6 col-sm-offset-6">
                                        <h3 class="mb-25 text-uppercase color-blue text-bold after-left-l pb-30 animated fadeInLeft">
                                            Expert doctors
                                        </h3>
                                        <p class="animated fadeInRight">We are proud to be one of Whistler’s oldest and most respected medical practices. we are open <strong>7 days a week</strong> </p>
                                        <a href="#" class="btn animated fadeInUp">Take Appoitments</a>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </li>

                    <li class="xv_slide" data-slideBg="url(/static/eyeworld-static/assets/demo-data/slider4.jpg)" >

                    </li>
                </ul>
            </div>
        </section>

        <section class="services bg-blue color-white no-pad clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 service no-pad style1 bg-blue1">
                        <h6 class="text-uppercase text-bold after-left-s pb-45 mb-15"><!-- <img src="/static/eyeworld-static/assets/demo-data/i6.png" class="pull-left" alt="/"> --><span class="pad">SPECTACLE<br> LENS</span></h6>
                        <p>Let us take care of your eyes with new technology.</p>
                    </div>
                    <div class="col-md-3 col-sm-6 service no-pad style2 bg-blue2">
                        <h6 class="text-uppercase text-bold after-left-s pb-45 mb-15"><!-- <img src="/static/eyeworld-static/assets/demo-data/i2.png" class="pull-left" alt="/"> --><span class="pad">SUN<br> GLASSES</span></h6>
                        <p>Let us take care of your eyes with new technology.</p>
                    </div>
                    <div class="col-md-3 col-sm-6 service no-pad style3 bg-blue3">
                        <h6 class="text-uppercase text-bold after-left-s pb-45 mb-15"><!-- <img src="/static/eyeworld-static/assets/demo-data/i1.png" class="pull-left" alt="/"> --><span class="pad">FRAMES<br> </span></h6>
                        <p>Let us take care of your eyes with new technology.</p>
                    </div>
                    <div class="col-md-3 col-sm-6 service no-pad style4 bg-blue4">
                        <h6 class="text-uppercase text-bold after-left-s pb-45 mb-15"><!-- <img src="/static/eyeworld-static/assets/demo-data/i3.png" class="pull-left" alt="/"> --><span class="pad">LENS</span></h6>
                        <p>Let us take care of your eyes with new technology.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="clearfix animatedParent">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-6">
                        <h3 class="text-bold after-left-l pb-25 mb-55">About Us</h3>
                        <p>Eyeword Opticians is a Bangalore based company incorporated in 2005 and specialising in fashionable eyewear for all age groups and personal tastes. Exclusive frames for Computer Professionals. We have FREE eye testing facility with a good equipment. All top most brands are available. </p>
                        <br>
                       
                        <a href="about-us.html" class="btn mt-25">Read More</a>
                    </div>
                    <div class="col-md-5 col-sm-6 schedules">
                        <h3 class="text-bold after-left-l pb-25 mb-55 ls-5">SCHEDULE</h3>

                       <!--  <div class="schedule bg-blue1 radius-top color-white clearfix">
                            <h6 class="text-uppercase text-bold pull-left"><img src="/static/eyeworld-static/assets/demo-data/i6.png" class="pull-left" alt="/"><span class="pad">SCHEDULE <br> TITLE</span></h6>
                            <div class="pull-right text-center">
                                <strong>MON - WED</strong><br>
                                10:00 AM -7:00 PM
                            </div>
                        </div>
                        <div class="schedule bg-blue2 color-white clearfix">
                            <h6 class="text-uppercase text-bold pull-left"><img src="/static/eyeworld-static/assets/demo-data/i5.png" class="pull-left" alt="/"><span class="pad">SCHEDULE <br> TITLE</span></h6>
                            <div class="pull-right text-center">
                                <strong>MON - WED</strong><br>
                                10:00 AM -7:00 PM
                            </div>
                        </div> -->
                        <div class="schedule bg-blue3 color-white clearfix">
                            <h6 class="text-uppercase text-bold pull-left"><img src="/static/eyeworld-static/assets/demo-data/i4.png" class="pull-left" alt="/"><span class="pad">SCHEDULE <br> TITLE</span></h6>
                            <div class="pull-right text-center">
                                <strong>MON - SUN</strong><br>
                                10:30 AM -9:30 PM
                            </div>
                        </div>
                        <!-- <div class="schedule bg-blue4 radius-bottom color-white clearfix">
                            <h6 class="text-uppercase text-bold pull-left"><img src="/static/eyeworld-static/assets/demo-data/i3.png" class="pull-left" alt="/"><span class="pad">SCHEDULE <br> TITLE</span></h6>
                            <div class="pull-right text-center">
                                <strong>MON - WED</strong><br>
                                10:00 AM -7:00 PM
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </section>

        <!-- <section class="clearfix features text-center animatedParent">
            <div class="container">
                <h2 class="text-bold text-uppercase color-blue after-mid-l pb-25">
                    WHAT WE DO
                </h2>
                <div class="row">
                    <div class="col-sm-4 mt-70 animated fadeInLeft">
                        <figure><img src="/static/eyeworld-static/assets/demo-data/child.jpg" alt="/"></figure>
                        <h5 class="text-bold color-blue">CHILD CARE</h5>
                        <p>We provide special child care service from age 3 to 11 and also provide play room for kids.</p>
                    </div>
                    <div class="col-sm-4 mt-70 animated fadeInLeft">
                        <figure><img src="/static/eyeworld-static/assets/demo-data/child1.jpg" alt="/"></figure>
                        <h5 class="text-bold color-blue">TOOTH CARE</h5>
                        <p>Our clinic have some special equipments for eye testing and recommeing best glasses for you.</p>
                    </div>
                    <div class="col-sm-4 mt-70 animated fadeInLeft">
                        <figure><img src="/static/eyeworld-static/assets/demo-data/child3.jpg" alt="/"></figure>
                        <h5 class="text-bold color-blue">EYE TEST</h5>
                        <p>We provide special child care service from age 3 to 11 and also provide play room for kids.</p>
                    </div>
                </div>
            </div>
        </section> -->

        <!-- <section class="clearfix reviews animatedParent">
            <div class="container">
                <h3 class="text-bold text-uppercase after-left-l pb-25">PATIENT REVIEWS</h3>
                <div class="row">
                    <div class="col-sm-4 mt-50 animated fadeInLeft">
                        <div class="review">
                        <figure><img src="/static/eyeworld-static/assets/demo-data/t1.png" alt="/"></figure>
                        <h5 class="text-bold color-blue">Sara says...</h5>
                        <p>It was the smoothest implementation process I have ever been through. With Higher One’s process and schedule.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 mt-50 animated fadeInLeft">
                        <div class="review">
                        <figure><img src="/static/eyeworld-static/assets/demo-data/t2.jpg" alt="/"></figure>
                        <h5 class="text-bold color-blue">Mike says...</h5>
                        <p>It was the smoothest implementation process I have ever been through. With Higher One’s process and schedule.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 mt-50 animated fadeInLeft">
                        <div class="review">
                        <figure><img src="/static/eyeworld-static/assets/demo-data/t3.jpg" alt="/"></figure>
                        <h5 class="text-bold color-blue">Emma says...</h5>
                        <p>It was the smoothest implementation process I have ever been through. With Higher One’s process and schedule.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

        <section class="clearfix bg-white our-doctors animatedParent">
            <div class="container">
                <h3 class="text-bold text-center text-uppercase after-mid-l pb-25">OPTICIANS</h3>
                <p class="text-center mt-20">Sunglasses allow better vision in bright daylight, and may protect one's eyes against damage from high levels of ultraviolet light.</p>
                <div class="row color-white">
                    <div class="col-sm-3 mt-50 no-pad doctor style1 bg-blue1 animated fadeInLeft">
                        <a href="#"><figure><img src="/static/eyeworld-static/assets/demo-data/d12.jpg" alt="/"></figure></a>
                        <div class="info">
                        <h6 class="text-bold text-uppercase after-left-s pb-20">SPECTACLE LENS</h6>
                        <p>Read More</p>
                        </div>
                    </div>
                    <div class="col-sm-3 mt-50 no-pad doctor style2 bg-blue2 animated fadeInLeft">
                        <div class="info">
                        <h6 class="text-bold text-uppercase after-left-s pb-20">SUN
GLASSES</h6>
                       <p>Read More</p></a>
                        </div>
                       <a href="#"><figure><img src="/static/eyeworld-static/assets/demo-data/d13.jpg" alt="/"></figure></a>
                    </div>
                    <div class="col-sm-3 mt-50 no-pad doctor style1 bg-blue3 animated fadeInLeft">
                        <a href="#"><figure><img src="/static/eyeworld-static/assets/demo-data/d14.jpg" alt="/"></figure></a>
                        <div class="info">
                        <h6 class="text-bold text-uppercase after-left-s pb-20">FRAMES</h6>
                       <p>Read More</p>
                        </div>
                    </div>
                    <div class="col-sm-3 mt-50 no-pad doctor style2 bg-blue4 animated fadeInLeft">
                        <div class="info">
                        <h6 class="text-bold text-uppercase after-left-s pb-20">LENS</h6>
                        <p>Read More</p>
                        </div>
                       <a href="#"> <figure><img src="/static/eyeworld-static/assets/demo-data/d15.jpg" alt="/"></figure></a>
                    </div>
                </div>
            </div>
        </section>

        <section class="our-posts">
            <div class="container">
                <h3 class="text-bold text-uppercase after-mid-l pb-25 text-center">fRAMES</h3>
                <p class="text-center">Stay up to date with all our latest news and launches.</p>
                <div class="row">
                    <div class="col-sm-4 mt-70">
                        <div class="post bg-white">
                            <figure><img src="/static/eyeworld-static/assets/demo-data/lens.jpg" alt="/"></figure>
                            <div class="pad">
                            <a href="#" class="title text-bold">Lens</a><br><br>
                          <!--   <ul>
                                <li><i class="fa fa-clock-o"></i>May 9, 2015</li>
                                <li><i class="fa fa-user"></i><a href="#">Mike</a></li>
                                <li><i class="fa fa-folder-open-o"></i><a href="#">Treatment</a></li>
                            </ul> -->
                            <a href="#" class="btn">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 mt-70">
                        <div class="post bg-white">
                            <figure><img src="/static/eyeworld-static/assets/demo-data/kk.jpg" alt="/"></figure>
                            <div class="pad">
                            <a href="#" class="title text-bold">Sun Glasses</a>
                            <!-- <ul>
                                <li><i class="fa fa-clock-o"></i>May 9, 2015</li>
                                <li><i class="fa fa-user"></i><a href="#">Mike</a></li>
                                <li><i class="fa fa-folder-open-o"></i><a href="#">Treatment</a></li>
                            </ul> --><br><br>
                            <a href="#" class="btn">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 mt-70">
                        <div class="post bg-white">
                            <figure><img src="/static/eyeworld-static/assets/demo-data/ll.jpg" alt="/"></figure>
                            <div class="pad">
                            <a href="#" class="title text-bold">Frames</a><br><br>
                           <!--  <ul>
                                <li><i class="fa fa-clock-o"></i>May 9, 2015</li>
                                <li><i class="fa fa-user"></i><a href="#">Mike</a></li>
                                <li><i class="fa fa-folder-open-o"></i><a href="#">Treatment</a></li>
                            </ul> -->
                            <a href="#" class="btn">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="promo bg-blue4 color-white clearfix pt-40 pb-40">
            <div class="container">
                <span class="text-bold text-uppercase">WHAT ARE YOU WAITING FOR</span>
                <a href="/eyeworld/contactus/" class="btn">Read More</a>
            </div>
        </div>

        <footer class="bg-white pt-35">
            <div class="container">
                <div class="row">
				
				 <div class="col-sm-1">
                        
                    </div>
                    <div class="col-sm-4 mt-40">
                        <h6 class="text-bold text-uppercase after-left-s pb-20 mb-20">ABOUT EYE WORLD</h6>
                        <p>Eyeword Opticians is a Bangalore based company incorporated in 2005 and specialising in fashionable eyewear for all age groups and personal tastes. Exclusive frames for Computer Professionals. </p>
                    </div>
					
					
                    <div class="col-sm-4 mt-40 tags">
                        <h6 class="text-bold text-uppercase after-left-s pb-20 mb-20">Tags</h6>
                        <a href="/eyeworld/frames/">Frames</a>
                        <a href="/eyeworld/lens/">Lens</a>
                   
                        <a href="/eyeworld/brands/">Brands</a>
                        
						 <a href="/">Eye World</a>
                       
                    </div>

                    <div class="col-sm-1">
                        
                    </div>
                    
                </div>
                <div class="rights mt-60 pt-15 pb-10">
                    Design By <a href="http://delevere.com/" target="_blank">Delevere</a> &copy;
                </div>
            </div>
        </footer>
    </div>
    
</div>

<!--=================================
Script Source
=================================-->

<script src="/static/eyeworld-static/assets/js/lib/jquery.js"></script>
<script src="/static/eyeworld-static/assets/js/lib/css3-animate-it.js"></script>
<script src="/static/eyeworld-static/assets/js/lib/jquery.flexslider-min.js"></script>
<script src="/static/eyeworld-static/assets/js/lib/jquery.sticky.js"></script>
<script src="/static/eyeworld-static/assets/js/lib/jquery.waitforimages.js"></script>
<script src="/static/eyeworld-static/assets/js/lib/jflickrfeed.min.js"></script>
<script src="/static/eyeworld-static/assets/js/lib/jquery.prettyPhoto.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
<script src="/static/eyeworld-static/assets/js/app/main.js"></script>

</body>


</html>
