<!DOCTYPE html>
<!--[if lte IE 9]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
<meta charset="utf-8">
<title>Eye World</title>
<!--=================================
Meta tags
=================================-->
<meta name="description" content="">
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" />

<!--=================================
Style Sheets
=================================-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>  
    
<link rel="stylesheet" type="text/css" href="/static/eyeworld-static/assets/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/eyeworld-static/assets/css/flexslider.css">
<link rel="stylesheet" type="text/css" href="/static/eyeworld-static/assets/css/animations.css">
<link rel="stylesheet" type="text/css" href="/static/eyeworld-static/assets/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/eyeworld-static/assets/css/jquery.flickr.css">
<link rel="stylesheet" type="text/css" href="/static/eyeworld-static/assets/css/prettyPhoto.css">
<link rel="stylesheet" href="/static/eyeworld-static/assets/css/main.css">

<script src="/static/eyeworld-static/assets/js/lib/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>

<!--========================================
Body Content
===========================================-->
<div class="offsetWrap">
    
    <div class="offsetMaker"> 
        
        <header class="bg-white doc-header">
          
            
            <nav id="sticktop">
            <div class="container">
                
                    <a href="/eyeworld/" class="text-left logo"><img src="/static/eyeworld-static/assets/demo-data/logo1.jpg" alt=""></a>
                    <ul class="socials">
                        <li><a href=" https://www.facebook.com/EyeworldOpticians-1405042499550681/" target="_blank" class="fb"><i class="fa fa-facebook-f"></i></a></li>
                  
                    </ul>
                    <a href="#" class="nav-triger"><span class="fa fa-navicon"></span></a>
                    <ul class="main-menu">
                        <li class="active"><a href="/eyeworld/">Home</a></li>
                       
                        <li><a href="/eyeworld/aboutus/">About Us</a></li>
                        <li><a href="/eyeworld/gallery/">Gallery</a></li>
                        <li><a href="/eyeworld/services">Services</a></li>
                        <li class="parent"><a href="#">Products</a>
                            <ul>
                               <li><a href="/eyeworld/brands/">Brands</a></li>
								<li><a href="/eyeworld/frames/">Frames</a></li>
								<li><a href="/eyeworld/sun/">Sun Glasses</a></li>
								<li><a href="/eyeworld/lens/">Lens</a></li>
								
								
								
                                
                            </ul>
                        <li><a href="/eyeworld/contactus/">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </header>  
  
    <section class="our-team">
        <div class="container">
            <div class="row ">
			<h3 class="text-uppercase after-left-l text-bold mb-20 pb-25">Lens</h3>
               
				<div class="col-sm-4 mt-20">
                    <div class="member bg-white">
                        <figure><img src="/static/eyeworld-static/assets/demo-data/crizal.jpg" alt="/"></figure>
                       
                    </div>
                </div>
				
				<div class="col-sm-4 mt-20">
                    <div class="member bg-white">
                        <figure><img src="/static/eyeworld-static/assets/demo-data/zeiss.jpg" alt="/"></figure>
                       
                    </div>
                </div>
				
				<div class="col-sm-4 mt-20">
                    <div class="member bg-white">
                        <figure><img src="/static/eyeworld-static/assets/demo-data/nikon.jpg" alt="/"></figure>
                       
                    </div>
                </div>
				
				<div class="col-sm-4 mt-20">
                    <div class="member bg-white">
                        <figure><img src="/static/eyeworld-static/assets/demo-data/seiko.jpg" alt="/"></figure>
                       
                    </div>
                </div>
				
							
				
            </div>
            
           
        </div>
    </section>
    
      <footer class="bg-white pt-35">
            <div class="container">
                <div class="row">
                     <div class="col-sm-1">
                        
                    </div>
                    <div class="col-sm-4 mt-40">
                        <h6 class="text-bold text-uppercase after-left-s pb-20 mb-20">ABOUT EYE WORLD</h6>
                        <p>Eyeword Opticians is a Bangalore based company incorporated in 2005 and specialising in fashionable eyewear for all age groups and personal tastes. Exclusive frames for Computer Professionals. </p>
                    </div>
					
					
                     <div class="col-sm-4 mt-40 tags">
                        <h6 class="text-bold text-uppercase after-left-s pb-20 mb-20">Tags</h6>
                        <a href="/eyeworld/frames/">Frames</a>
                        <a href="/eyeworld/lens/">Lens</a>
                   
                        <a href="/eyeworld/brands/">Brands</a>
                        
						 <a href="/">Eye World</a>
                       
                    </div>

                    <div class="col-sm-1">
                        
                    </div>
                </div>
                <div class="rights mt-60 pt-15 pb-10">
                    Design By <a href="http://delevere.com/" target="_blank">Delevere</a> &copy;
                </div>
            </div>
        </footer>
    </div>
    
</div>

<!--=================================
Script Source
=================================-->

<script src="/static/eyeworld-static/assets/js/lib/jquery.js"></script>
<script src="/static/eyeworld-static/assets/js/lib/css3-animate-it.js"></script>
<script src="/static/eyeworld-static/assets/js/lib/jquery.flexslider-min.js"></script>
<script src="/static/eyeworld-static/assets/js/lib/jquery.sticky.js"></script>
<script src="/static/eyeworld-static/assets/js/lib/jquery.waitforimages.js"></script>
<script src="/static/eyeworld-static/assets/js/lib/jflickrfeed.min.js"></script>
<script src="/static/eyeworld-static/assets/js/lib/jquery.prettyPhoto.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
<script src="/static/eyeworld-static/assets/js/app/main.js"></script>

</body>


</html>

