{% extends "ndt/base.html" %}

{% block title %} National ndt  {% endblock %}

{% block body_block %}
 
 
 
<main class="main">
 
<div class="page-title text-center">
<h2 class="title"> About Us </h2>

</div>
 
 
<div class="breadcrumbs">
<div class="container">
<span class="parent"> <i class="fa fa-home"></i> <a href="/ndt/"> Home </a> </span>
<i class="fa fa-chevron-right"></i>
<span class="child"> <a href="/ndt/about.html"> About </a> </span>

</div>
</div>
<div class="container">
<div class="row">
<div class="col-md-3 sidebar">
<h3 class="about-quick-fact">NDT Inspection & Third Party 

Inspection Services</h3>
<div class="sidebar-blog-categories">

<ul>

<li> <a href="/ndt/services/"> Radiography Testing (RT) </a> </li>
<li> <a href="/ndt/services/"> Ultrasonic Testing (UT)</a> </li>
<li> <a href="/ndt/services/">Magnetic Particle Testing (MPT)</a> </li>
<li> <a href="/ndt/services/">Dye Penetrate Testing (DPT)</a> </li>
<li> <a href="/ndt/services/">Visual Testing (VT)</a> </li>
<li> <a href="/ndt/services/"> Ultrasonic Thickness Gauging (UTG) </a> </li>
<li> <a href="/ndt/services/"> Hardness Testing (HT)</a> </li>
<li> <a href="/ndt/services/">Positive Material Identification (PMI)</a> </li>
<li> <a href="/ndt/services/">Post Weld Heat Treatment (PWHT)</a> </li>
<li> <a href="/ndt/services/">ASNT Level-III Consultancy (ALC)</a> </li>
</ul>
</div>

</div>
<div class="col-md-6 blog-info">
<section class="about-company">
<div class="com">
<h2 class="company-title color-title"> About Us </h2>
<h4 class="company-subtitle subtitle"> National NDT Services (NNDTS) Profile : </h4>
<p>National NDT Services (NNDTS) was established in Visakhapatnam (INDIA) and is An <b>ISO 9001:2015 (Quality Management Systems) & ISO 10002:2014</b> (Customer Satisfaction and Complaint Management System) Certified Organization. We have registered organization in <b>Small Scale Industries (SSI) Govt. Of Andhraparadesh (INDIA)</b>.We have a Association member in National Level Life time Membership in <b>Association of NDT Services Organization in INDIA called as NANSO.</b> We are a Non Destructive Testing services one of the leading NDT Services as Testing & Inspection, NDT Training institutes in INDIA. </p>
<p>National NDT Services (NNDTS) provide all the High Technology Inspection Services & Training Courses in Non Destructive Testing (NDT) Methods of Radiography Testing (RT), Ultrasonic Testing (UT), Dye Penetrating Testing (DPT), Magnetic Particle Testing (MPT), Visual Testing (VT), Post Welding Heat Treatment (PWHT), Ultrasonic Thickness Gauging (UTG), Positive Material Identification (PMI), Hardness Testing (HT), NDT level I & Level II & Level III training and Trained NDT Manpower provider etc. Our inspection Staff having experience above 10 Years in above mentioned methods.</p>
<p>We assured to - Candidates will receive training from experienced Faculty with Theory & Practical’s. Our Faculty having a minimum above 13 years of experience in the industry. We providing Training in NDT ASNT Level I & Level II methods with certification as per SNT-TC-1A, 
Of American Society of Non-Destructive Testing (ASNT,USA) Board requirement. 
</p>
<p>National NDT Services (NNDTS) offers a diverse range of Quality Control (QC) NDT Inspection Courses & Testing Services for Customers and Students in the field of Oil & Gas, Refiners, Petro Chemical, Energy Plants, Shipping’s, Power Boilers, Fabrication & Engineering and Constructions Industrial Sectors.</p>
<p>We have one more Organization name Of <b>HR Consultants International.</b> We are the Manpower Supplier from INDIA. We are providing all types of manpower recruitment services and having a strong history of top line manpower solutions professional, executive level, skilled, semi-skilled and unskilled workforce from INDIA.</p>
</div>
</section>


<section class="about-company">
<div class="com">

<h4 class="company-subtitle subtitle"> M/s NATIONAL NDT SERVICES work Excellence & Maintenance </h4>
<p>Managing a project of any size requires an organized approach to maintain efficiency with improving Quality and Safety. We help our customers keep a reliable, predictable and secure production level through highly efficient maintenance services. In doing so, we help to minimize downtime during shutdowns and overhauls. As well as planned outages, we’re also able to react quickly in times of unplanned outages, generating substantial savings for our customers.</p><br>
<h4 class="company-subtitle subtitle">Sharing Experience locally, globally</h4>
<p>We also carry out regular toolbox talks, giving tailored instructions to our people that are focussed specifically on the work they are carrying out. This is also a platform for sharing knowledge and best practices from all of our locations, as well as with other contractors and third parties.</p>

</div>
</section>





<section class="about-services">
<div class="row services">
<div class="col-md-6 hood">
<div class="service-slider">
<h4 class="company-subtitle subtitle">Accridation Certificates</h4>
<ul class="slides">
<li>
<img src="/static/ndt-static/images/7.png" alt="">
<div class="slider-caption">
<p>An ISO 9001 2008 Certified</p>
</div>
</li>
<li>
<img src="/static/ndt-static/images/2.png" alt="">
<div class="slider-caption">
<p>NANSO Membership</p>
</div>
</li>
<li>
<img src="/static/ndt-static/images/3.png" alt="">
<div class="slider-caption">
<p>NDT Services Member</p>
</div>
</li>
<li>
<img src="/static/ndt-static/images/4.png" alt="">
<div class="slider-caption">
<p>Labour Licience Certificate </p>
</div>
</li>
<li>
<img src="/static/ndt-static/images/5.png" alt="">
<div class="slider-caption">
<p>ISNT Membership</p>
</div>
</li>
<li>
<img src="/static/ndt-static/images/6.png" alt="">
<div class="slider-caption">
<p>Company Pan Card Service tax Certificates</p>
</div>
</li>
<li>
<img src="/static/ndt-static/images/1.png" alt="">
<div class="slider-caption">
<p>NDT Services Member</p>
</div>
</li>
</ul>
</div>

</div>

</div>
</section>
</div>
<div class="col-md-3 sidebar">
<h3 class="about-quick-fact">ASNT Level-I & Level-II

Training & Certification</h3>
<div class="sidebar-blog-categories">

<ul>

<li> <a href="/ndt/services/"> Radiography Testing (RT)</a> </li>
<li> <a href="/ndt/services/"> Ultrasonic Testing (UT)</a> </li>
<li> <a href="/ndt/services/">Magnetic Particle Testing (MPT)</a> </li>
<li> <a href="/ndt/services/">Dye Penetrate Testing (DPT)</a> </li>
<li> <a href="/ndt/services/">Visual Testing (VT)</a> </li>
</ul>
<h3 class="about-quick-fact">Material Testing Courses (MTC)</h3>
<ul>
<li> <a href="/ndt/services/"> Ultrasonic Thickness Gauging (UTG)</a> </li>
<li> <a href="/ndt/services/"> Hardness Testing (HT)</a> </li>
<li> <a href="/ndt/services/">Positive Material Testing (PMT)</a> </li>
<li> <a href="/ndt/services/">Post Weld Heat Treatment (PWHT)</a> </li>

</ul>
</div>

</div>
</div>
</div>
</main>
 
 {% endblock %}