<!DOCTYPE html>
<html lang="en">
<head>
 
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="NDT">

 
<title>NDT Courses , NDT Certification, NDT QA/QC Courses, NDT Examination, NDT Training , NDT Institute , NDT Certification Renewal </title>
 
<script src="../../cdn-cgi/apps/head/EB1WpLYR_WI6GleoNPyfzoGD0kw.js"></script><script type="text/javascript">
//<![CDATA[
try{if (!window.CloudFlare) {var CloudFlare=[{verbose:0,p:1499760403,byc:0,owlid:"cf",bag2:1,mirage2:0,oracle:0,paths:{cloudflare:"../../cdn-cgi/nexp/dok3v=1613a3a185/index.htm"},atok:"dfc80c673cd0fe56169651b78fd1f70b",petok:"d331798d6908cb6de8e787d9c842d0235c627e90-1500172023-3600",zone:"web3canvas.com",rocket:"0",apps:{"ga_key": {"ua": "UA-38030533-1", "ga_bs": "2"}}}];!function(a,b){a=document.createElement("script"),b=document.getElementsByTagName("script")[0],a.async=!0,a.src="//ajax.cloudflare.com/cdn-cgi/nexp/dok3v=85b614c0f6/cloudflare.min.js",b.parentNode.insertBefore(a,b)}()}}catch(e){};
//]]>
</script>
<link rel="icon" type="/static/ndt-static/images/png" href="favicon.png">
 
<meta name="viewport" content="width=device-width, initial-scale=1">
 
<link href="/static/ndt-static/css/bootstrap.min.css" rel="stylesheet">
 
<link rel="stylesheet" href="/static/ndt-static/fonts/font-awesome/css/font-awesome.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
<link rel="stylesheet" href="/static/ndt-static/css/flexslider.css">
 
<link rel="stylesheet" href="/static/ndt-static/css/owl.carousel.min.css">
<link rel="stylesheet" href="/static/ndt-static/css/owl.theme.min.css">
 
<link href="/static/ndt-static/css/style.css" rel="stylesheet">
<link rel="icon" type="image/png" sizes="16x16" href="/static/ndt-static/images/favicon-16x16.png">
</head>
<body class="homepage">
 

 
<div class="wrapper">
 
<header>
<div class="header-area">
 
<div class="row logo-top-info">
<div class="container">


<div class="col-md-6 logo">
 
<a href="/ndt/"><img src="/static/ndt-static/images/NDT.png" alt="Logo" style="margin-top:-13px;margin-left:-25px;max-width: 100%;"/></a>
 
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
<span class="sr-only"> Main Menu </span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
</div>

<div class="col-md-6 top-info-social">
<div class="pull-right">
<div class="top-info">
<div class="call">
<h3> CALL US </h3>
<p> +91 8686748989 </p>
</div>
<div class="email">
<h3> EMAIL US </h3>
<p>info@nationalndt-india.com </p></div>
<div class="market">
<h3> LOCATION </h3>
<p> 256.78 <span class="forex"> <i class="fa fa-caret-up" aria-hidden="true"></i> + 4.26 </span> </p>
</div>
</div>
</div>
</div>



</div>
</div>
 
<nav id="navbar" class="collapse navbar-collapse main-menu">
<div class="container">
<ul class="main-menu">
<li class="active"> <a href="/ndt/"> Home </a></li>

<li class="dropdown"> <a href="#" data-toggle="dropdown"> About
<i class="fa fa-chevron-down dropdown-toggle"> </i> </a>
<ul>
<li> <a href="/ndt/about/"> The Company </a> </li>
<li> <a href="/ndt/mission/"> Vision &amp; Mission </a> </li>
<li> <a href="#"> Our Approach </a> </li>
<li> <a href="#"> Our Team </a> </li>
</ul>
</li>


<li class="dropdown"><a href="#" data-toggle="dropdown"> Services
<i class="fa fa-chevron-down dropdown-toggle"> </i> </a>
<ul>
<li> <a href="/ndt/services/"> Radiography Testing(RT) </a> </li>
<li> <a href="/ndt/services/"> Ultrasonic Testing(UT) </a> </li>
<li> <a href="/ndt/services/"> Visual Testing(VT) </a> </li>
<li> <a href="/ndt/services/"> Hardness Testing(HT) </a> </li>
<li> <a href="/ndt/services/"> Magnetic Particle Testing(MPT) </a> </li>

</ul>
</li>

<li><a href="/ndt/training/"> Training </a> </li>

<li><a href="#"> News &amp; Media </a> </li>

<li><a href="/ndt/careers/"> Careers</a> </li>
<li><a href="/ndt/contact/"> Contact </a> </li>
</ul>
</div>
</nav>
</div>
</header>

{% block body_block %}

            {% endblock %}



 
<footer>
<div class="footer">
<div class="container">
 
<div class="row pre-footer">
<div class="col-md-4">
<div class="contact-box">
<i class="fa fa-map-marker" aria-hidden="true"></i>
<div class="contact-details">
<h4 class="pre-footer-title">HEAD OFFICE (INDIA)</h4>
<p>Autonagar “B” Block , B-19/1, 1st Floor 
Visakhapatanam – 12.</p>
</div>
</div>
</div>
<div class="col-md-4">
<div class="contact-box">
<i class="fa fa-phone" aria-hidden="true"></i>
<div class="contact-details">
<h4 class="pre-footer-title">CALL US</h4>
<p>Office Phone: +91 8686748989
<br> Work Phone: +91 7306 55 7306

</p>
</div>
</div>
</div>
<div class="col-md-4">
<div class="contact-box">
<i class="fa fa-envelope" aria-hidden="true"></i>
<div class="contact-details">
<h4 class="pre-footer-title">EMAIL US</h4>
<p>
info@national-india.com
<br>
training@national-india.com


</p>
</div>
</div>
</div>
</div>
 
 
<div class="row widgets">
<div class="col-md-4 col-sm-6">
<div class="about-txt widget">
<h2 style="color:white;">NATIONAL NDT SERVICES</h2>
<p>M/s.National NDT Services (NNDTS) Offers a diverse range of services for Clients in the Oil & Gas, Refining, Petro Chemical, Energy, Fabrication & Construction and Engineering Industrial Constructions. </p><div class="widgets-social">
<a href="#"> <i class="fa fa-facebook" aria-hidden="true"></i> </a>
<a href="#"> <i class="fa fa-linkedin" aria-hidden="true"></i></a>
<a href="#"> <i class="fa fa-google-plus" aria-hidden="true"></i></a>
</div>
</div>
</div>
<div class="col-md-2 col-sm-6">
<div class="quick-links widget">
<h2 class="widget-title">QUICK LINKS</h2>
<ul>
<li> <a href="/ndt/careers/"> Careers </a> </li>
<li> <a href="/ndt/contact/"> Contact </a> </li>
<li> <a href="/ndt/services/"> Services </a> </li>
<li> <a href="/ndt/training/"> Training </a> </li>
<li> <a href="/ndt/about/"> About </a> </li>
</ul>
</div>
</div>
<div class="spacer-50 visible-sm"></div>
<div class="col-md-3 col-sm-6">
<div class="our-services widget">
<h2 class="widget-title">OUR SERVICES</h2>
<ul>
<li> <a href="/ndt/services/"> Radiography Testing (RT) </a> </li>
<li> <a href="/ndt/ervices/"> Ultrasonic Testing (UT) </a> </li>
<li> <a href="/ndt/services/"> Visual Testing (VT) </a> </li>
<li> <a href="/ndt/services/"> Hardness Testing (HT) </a> </li>
<li> <a href="/ndt/services/"> Dye Penetrating Testing (DPT) </a> </li>
</ul>
</div>
</div>
<div class="col-md-3 col-sm-6">
<div class="newsletter widget">
<h2 class="widget-title">Newsletter</h2>
<p>Thank you for visiting website.</p>
 
<form action="php/subscribe.php.htm" id="subscribeform" method="post">
<div class="form-group">
<input type="email" id="email" name="email" placeholder="Enter your email" class="form-control" title="Please enter your email" data-msg-email="Please enter a valid email">
</div>
<button type="submit" class="btn btn-block" id="js-subscribe-btn"> Subscribe Now! </button>
<div id="js-subscribe-result" data-success-msg="Done. Subscribed" data-error-msg="Oops. Error!"></div>
</form>
</div>
</div>
</div>
 
</div>
</div>
 
<div class="copyright">
<div class="container">
<div class="row copyright-bar">
<div class="col-md-4"></div>
<div class="col-md-4">
<p>Copyright © 2017 <a href="http://delevere.com/" target="_blank">Delevere </a></p>
</div>
<div class="col-md-4 text-right">
</div>
</div>
</div>
</div>
 
</footer>
 
 
<a href="#0" class="cd-top"> Top </a>
</div>
 
 
 
<script src="/static/ndt-static/js/jquery.min.js"></script>
 
<script src="/static/ndt-static/js/bootstrap.min.js"></script>
 
<script src="/static/ndt-static/js/jquery.flexslider-min.js"></script>
 
<script src="/static/ndt-static/js/owl.carousel.min.js"></script>
 
<script src="/static/ndt-static/js/waypoints.min.js"></script>
<script src="/static/ndt-static/js/jquery.counterup.min.js"></script>
 
<script src="/static/ndt-static/js/back-to-top.js"></script>
 
<script src="/static/ndt-static/js/validate.js"></script>
 
<script src="/static/ndt-static/js/subscribe.js"></script>
 
<script src="/static/ndt-static/js/main.js"></script>
</body>
</html>
