{% extends "ndt/base.html" %}

{% block title %} National ndt  {% endblock %}

{% block body_block %}
 
 
<main class="main">
<section class="home-slider">
<div class="flexslider">
<ul class="slides">
<li class="has-overlay">
<img src="/static/ndt-static/images/slider1.jpg" alt="Slider 1"/>
<div class="slider-content text-center">
<div class="container">
<h2>Welcome To National NDT Services</h2>
<p> Quality in Process </p>
<a href="/ndt/" class="btn primary-btn"> KNOW MORE <i class="fa fa-angle-right"></i> </a>
</div>
</div>
</li>
<li class="has-overlay">
<img src="/static/ndt-static/images/slider23.jpg" alt="Slider 2"/>
<div class="slider-content text-center">
<div class="container">
<h2>Welcome To National NDT Services</h2>
<p> Commitment with Experience
</p>
<a href="/ndt/" class="btn primary-btn"> KNOW MORE <i class="fa fa-angle-right"></i> </a>
</div>
</div>
</li>
<li class="has-overlay">
<img src="/static/ndt-static/images/slider3.jpg" alt="Slider 2"/>
<div class="slider-content text-center">
<div class="container">
<h2>Welcome To National NDT Services</h2>
<p> Confidence through Skills
</p>
<a href="/ndt/" class="btn primary-btn"> KNOW MORE <i class="fa fa-angle-right"></i> </a>
</div>
</div>
</li>
</ul>
</div>
</section>
<section class="home-company">
<div class="container">
<div class="row company">
<div class="col-md-5 col-sm-8">
<div class="company-details">
<h2 class="company-title color-title"> THE COMPANY </h2>
<h4 class="company-subtitle subtitle"> National NDT Services (NNDTS) was established in Visakhapatnam (INDIA)  </h4>
<p>An <b>ISO 9001:2015 (Quality Management Systems) & ISO 10002:2014 </b>(Customer Satisfaction and Complaint Management System) Certified Organization. We have registered organization in Small Scale Industries (SSI) Govt. Of Andhraparadesh (INDIA).</p>
<a href="/ndt/about/" class="btn btn-primary" role="button"> READ MORE </a>
</div>
</div>
<div class="col-md-7 col-sm-12">
<div class="company-image">
<div class="img-left hover-effect">
<img src="/static/ndt-static/images/company-image22.jpg" alt="Company Image"/>
</div>
<div class="img-right hover-effect">
<img src="/static/ndt-static/images/company-image11.jpg" alt="Company Image"/>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="home-ceo">
<div class="container">
<div class="row ceo">
<div class="col-md-6">
<div class="ceo-photo" style="margin-bottom: 4px;">
<img src="/static/ndt-static/images/CEO PAGE.jpg" alt="CEO" style="max-width: 100%;"/>
</div>
</div>
<div class="col-md-6">
<div class="ceo-details">
<h2 class="ceo-title color-title"> WORD FROM CEO </h2>
<h4 class="ceo-subtitle subtitle"> READ THE MESSAGE FROM OUR CEO </h4>
<p> Proactively incubate enterprise total linkage without sustainable leadership skills. Monotonectally strategize user-centric interfaces whereas low-risk high-yield materials. Efficiently syndicate web-enabled portals for principle centered partnerships.
</p>
<p>Proactively whiteboard revolutionary processes after scalable testing procedures. Holisticly reinvent seamless after business.</p>

</div>
</div>
</div>
</div>
</section>
<section class="home-services">
<div class="container">
<div class="row services">
<div class="col-md-4">
<div class="hover-effect">
<img src="/static/ndt-static/images/training.jpg" alt="technology-innovation"/>
</div>
<h4 class="services-title-one subtitle">Training & Certification </h4>
<p>Professionally drive clicks-and-mortar web readiness after progressive e-commerce. Dramatically unleash cross functional.</p>
<a href="/ndt/training/" class="btn btn-default btn-normal">Read More</a>
</div>
<div class="col-md-4">
<div class="hover-effect">
<img src="/static/ndt-static/images/our operations1.jpg" alt="our-operations"/>
</div>
<h4 class="services-title-one subtitle">Our operations </h4>
<p>Energistically productize wireless mindshare for emerging experiences. Myocardinate enabled alignments and magnetic scenarios. </p>
<a href="/ndt/services/" class="btn btn-default btn-normal">Read More</a>
</div>
<div class="col-md-4">
<div class="hover-effect">
<img src="/static/ndt-static/images/services-three.jpg" alt="social-resposibility"/>
</div>
<h4 class="services-title-one subtitle">Manpower Consultation </h4>
<p>Globally incubate principle-centered e-markets with standards compliant catalysts for change. Efficiently extend highly efficient products.</p>
<a href="/ndt/contact/" class="btn btn-default btn-normal">Read More</a>
</div>
</div>
</div>
</section>
<section class="home-links">
<div class="container">
<div class="row links">
<div class="col-md-1">
<h4 class="links-title subtitle">NDT</h4>
</div>
<div class="col-md-1">
<a href="/ndt/training/" class="btn btn-primary" role="button">RT</a>
</div>
<div class="col-md-1">
<a href="/ndt/training/" class="btn btn-primary" role="button">UT</a>
</div>
<div class="col-md-1">
<a href="/ndt/training/" class="btn btn-primary" role="button">LPT</a>
</div>
<div class="col-md-1">
<a href="/ndt/training/" class="btn btn-primary" role="button">MPT</a>
</div>
<div class="col-md-1">
<a href="/ndt/training/" class="btn btn-primary" role="button">VT</a>
</div>
<div class="col-md-1">
<a href="/ndt/training/" class="btn btn-primary" role="button">UTG</a>
</div>

<div class="col-md-1">
<a href="/ndt/training/" class="btn btn-primary" role="button">PWHT</a>
</div>
<div class="col-md-1">
<a href="/ndt/training/" class="btn btn-primary" role="button">TPI</a>
</div>

</div>
</div>
</section>
<section class="home-process">
<div class="container">
<div class="row process">
<div class="col-sm-6">
<h2 class="process-title title-2"> OUR PROCESS </h2>
<h4 class="process-subtitle subtitle-2"> Interactively empower diverse imperatives after prospective convergence. </h4>
<p> Interactively fashion functional action items after 24/365 results. Dynamically redefine world-class metrics without leading-edge markets. Progressively orchestrate enabled "outside the box" thinking via scalable quality vectors. Objectively unleash optimal core competencies. </p>
<a href="#" class="btn btn-primary" role="button">READ THE STORY</a>
</div>
<div class="col-sm-6">
<div id="skills" class="process-bar">
<div class="skillbar-title"> FEUL AND MISCELLANEOUS </div>
<div class="skillbar" data-percent="46%">
<div class="skillbar-bar"> </div>
<div class="skill-bar-percent">46%</div>
</div>
<div class="skillbar-title"> LIQUID CHEMICALS </div>
<div class="skillbar" data-percent="78%">
<div class="skillbar-bar"> </div>
<div class="skill-bar-percent">78%</div>
</div>
<div class="skillbar-title"> MONOMERS / POLYMERS </div>
<div class="skillbar" data-percent="70%">
<div class="skillbar-bar"> </div>
<div class="skill-bar-percent">70%</div>
</div>
<div class="skillbar-title"> ISOCYANATE </div>
<div class="skillbar" data-percent="80%">
<div class="skillbar-bar"> </div>
<div class="skill-bar-percent">80%</div>
</div>
</div>
</div>
</div>
</div>
</section>
<section class="home-stats">
<div class="container">
<div class="row stats">
<div class="col-md-3 col-xs-6">
<img src="/static/ndt-static/images/globe.png" alt=""/>
<div class="stats-info">
<h4 class="counter">500</h4>
<p>Worldwide Placements</p>
</div>
</div>
<div class="col-md-3 col-xs-6">
<img src="/static/ndt-static/images/friends.png" alt=""/>
<div class="stats-info">
<h4 class="counter">500</h4>
<p>Satisfied Employees</p>
</div>
</div>
<div class="col-md-3 col-xs-6">
<img src="/static/ndt-static/images/fire.png" alt=""/>
<div class="stats-info">
<h4 class="counter">1500</h4>
<p>Trained Candidates</p>
</div>
</div>
<div class="col-md-3 col-xs-6">
<img src="/static/ndt-static/images/badge.png" alt=""/>
<div class="stats-info">
<h4 class="counter">12</h4>
<p>Awards &amp; Recognitions</p>
</div>
</div>
</div>
</div>
</section>
<section class="home-services-other">
<div class="container">
<div class="section-title text-center">
<h2 class="title-services-other title-2">SERVICES</h2>
<h4 class="subtitle-services-other subtitle-2">Objectively whiteboard transparent models for prospective <br/> information. Authoritatively myocardinate.</h4>
<div class="spacer-50"> </div>
</div>
<div class="row services-other">
<div class="col-sm-4">
<div class="img-box">
<img src="/static/ndt-static/images/service-icon1.png" alt="SHELL CHEMICALS"/>
</div>
<div class="services-info">
<h4 class="services-title-one subtitle">ENGINEERING & CONSTRUCTION</h4>
<p>Lorem ipsum dolor sit amet, con tetur adipiscing elit agenean.</p>
</div>
</div>
<div class="col-sm-4">
<div class="img-box">
<img src="/static/ndt-static/images/service-icon2.png" alt="ENGINEERING & CONSTRUCTION"/>
</div>
<div class="services-info">
<h4 class="services-title-one subtitle">OIL & GAS</h4>
<p>Lorem ipsum dolor sit amet, con tetur adipiscing elit agenean.</p>
</div>
</div>
<div class="col-sm-4">
<div class="img-box">
<img src="/static/ndt-static/images/service-icon3.png" alt="OIL & GAS"/>
</div>
<div class="services-info">
<h4 class="services-title-one subtitle">AEROSPACE</h4>
<p>Lorem ipsum dolor sit amet, con tetur adipiscing elit agenean.</p>
</div>
</div>
<div class="clearfix spacer-70"></div>
<div class="col-sm-4">
<div class="img-box">
<img src="/static/ndt-static/images/service-icon5.png" alt="AEROSPACE"/>
</div>
<div class="services-info">
<h4 class="services-title-one subtitle">SHIPPING / MARINE SERVICES</h4>
<p>Lorem ipsum dolor sit amet, con tetur adipiscing elit agenean.</p>
</div>
</div>
<div class="col-sm-4">
<div class="img-box">
<img src="/static/ndt-static/images/service-icon4.png" alt="SHIPPING/MARINE"/>
</div>
<div class="services-info">
<h4 class="services-title-one subtitle">PETROCHEMICAL</h4>
<p>Lorem ipsum dolor sit amet, con tetur adipiscing elit agenean.</p>
</div>
</div>
<div class="col-sm-4">
<div class="img-box">
<img src="/static/ndt-static/images/service-icon6.png" alt="PETROCHEMICAL"/>
</div>
<div class="services-info">
<h4 class="services-title-one subtitle">PETROLEUM & REFINING</h4>
<p>Lorem ipsum dolor sit amet, con tetur adipiscing elit agenean.</p>
</div>
</div>
<div class="clearfix spacer-70"></div>
<div class="col-sm-4">
<div class="img-box">
<img src="/static/ndt-static/images/service-icon7.png" alt="PETROLEUM & REFINING"/></div>
<div class="services-info">
<h4 class="services-title-one subtitle">POWER BOILER</h4>
<p>Lorem ipsum dolor sit amet, con tetur adipiscing elit agenean.</p>
</div>
</div>
<div class="col-sm-4">
<div class="img-box">
<img src="/static/ndt-static/images/service-icon8.png" alt="POWER BOILER"/></div>
<div class="services-info">
<h4 class="services-title-one subtitle">ENERGY PLANTS / MINING</h4>
<p>Lorem ipsum dolor sit amet, con tetur adipiscing elit agenean.</p>
</div>
</div>
<div class="col-sm-4">
<div class="img-box">
<img src="/static/ndt-static/images/service-icon9.png" alt="MAINTENANCE AND FABRICATION"/></div>
<div class="services-info">
<h4 class="services-title-one subtitle">MAINTENANCE / FABRICATION</h4>
<p>Lorem ipsum dolor sit amet, con tetur adipiscing elit agenean.</p>
</div>
</div>
</div>
</div>
</section>
<section class="home-testimonials">
<div class="container">
<div class="section-title text-center">
<h2 class="title-testimonials color-title">DON’T TAKE OUR WORD</h2>
<h2 class="subtitle-testimonials title-2">CLIENT TESTIMONIALS</h2>
<div class="spacer-50"> </div>
</div>
<div class="row">
<div class="col-md-3">
<div class="blog-img-box">
<a class="hover-effect" href="#">
<img src="/static/ndt-static/images/ISO 9001 - ISO 2015.jpeg" alt="image"/>
</a>
<h4 class="services-title-one subtitle">ISO 9001 - ISO 2015</h4>
</div>

</div>
<div class="col-md-3">
<div class="blog-img-box">
<a class="hover-effect" href="#">
<img src="/static/ndt-static/images/Quality Policy.jpeg" alt="image"/>
</a>
<h4 class="services-title-one subtitle">Quality Policy</h4>
</div>
</div>
<div class="col-md-3">
<div class="blog-img-box">
<a class="hover-effect" href="#">
<img src="/static/ndt-static/images/ISO 10002 -ISO  2014.jpeg" alt="image"/>
</a>
<h4 class="services-title-one subtitle">ISO 10002 -ISO  2014</h4>
</div>

</div>
<div class="col-md-3">
<div class="blog-img-box">
<a class="hover-effect" href="#">
<img src="/static/ndt-static/images/Customer Satisfaction Statement.jpeg" alt="image"/>
</a>
<h4 class="services-title-one subtitle">Customer Satisfaction Statement</h4>
</div>

</div>
</div>
</div>
</section>
<section class="home-publications">
<div class="container">
<div class="row publications">
<div class="col-md-7 col-sm-6">
<div class="panel-group" id="accordion">
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">ASNT (NDT) Level-I,Level-II</a>
</h4>
</div>
<div id="collapseOne" class="panel-collapse collapse in">
<div class="panel-body">
<p>Synergistically build professional communities vis-a-vis best-of-breed paradigms. Quickly empower world-class networks with prospective methodologies. Enthusiastically morph cross functional web-readiness via virtual niche markets. Synergistically enhance one-to-one partnerships after go forward metrics. Competently facilitate alternative networks for fully tested internal or "organic" sources. Synergistically disintermediate an expanded array of niche markets through value-added value. Dynamically communicate cost effective results after intuitive scenarios. Distinctively impact synergistic experiences. </p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">ASNT NDT Level-III Preparatory Schedule </a> </h4>
</div>
<div id="collapseTwo" class="panel-collapse collapse">
<div class="panel-body">
<p>Synergistically build professional communities vis-a-vis best-of-breed paradigms. Quickly empower world-class networks with prospective methodologies. Enthusiastically morph cross functional web-readiness via virtual niche markets. Synergistically enhance one-to-one partnerships after go forward metrics. Competently facilitate alternative networks for fully tested internal or "organic" sources. Synergistically disintermediate an expanded array of niche markets through value-added value. Dynamically communicate cost effective results after intuitive scenarios. Distinctively impact synergistic experiences.</p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">API (510, 570 , 653) Training Schedule   </a> </h4>
</div>
<div id="collapseThree" class="panel-collapse collapse">
<div class="panel-body">
<p>Synergistically build professional communities vis-a-vis best-of-breed paradigms. Quickly empower world-class networks with prospective methodologies. Enthusiastically morph cross functional web-readiness via virtual niche markets. Synergistically enhance one-to-one partnerships after go forward metrics. Competently facilitate alternative networks for fully tested internal or "organic" sources. Synergistically disintermediate an expanded array of niche markets through value-added value. Dynamically communicate cost effective results after intuitive scenarios. Distinctively impact synergistic experiences.
</p>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-5 col-sm-6">
<div class="plubication-downloads">
<h2 class="publish">Publications</h2>
<div class="download-file">
<a href="#">  Company Profile  </a>
</div>

<ul class="download-list">
<li><a href="/static/ndt-static/images/pdf/1.Training Application Form.pdf" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> 1.Training Application Form </a> </li>
<li><a href="/static/ndt-static/images/pdf/2.Course Schduled Calender 2017.pdf" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> 2.Course Schduled Calender 2017 </a> </li>
<li><a href="/static/ndt-static/images/pdf/3.Importance of NDT.pdf" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> 3.Importance of NDT </a> </li>
<li><a href="/static/ndt-static/images/pdf/4.Training Pamplets.pdf" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> 4.Training Pamplets </a> </li>
<li><a href="/static/ndt-static/images/pdf/5.NDT Demo.pdf" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> 5.NDT Demo </a> </li>
</ul>
</div>
</div>
</div>
</div>
</section>
<section class="home-news">
<div class="container">
<div class="section-title text-center">
<h2 class="title-blog color-title"> NEWS AND MEDIA </h2>
<h2 class="subtitle-blog title-2"> LATEST FROM BLOG </h2>
<div class="spacer-50"> </div>
</div>
<div class="row news">
<div class="col-md-4">
<div class="blog-img-box">
<div class="blog-date"> <span class="month">MAR </span> <span class="date"> 06</span> </div>
<a class="hover-effect" href="#">
<img src="/static/ndt-static/images/news1.jpg" alt="Fuel"/>
</a>
</div>
<div class="blog-content">
<h3><a href="#"> FUEL TRANSPORTATION AND RAILWAY RULES </a> </h3>
<p>By <a href="#">Eduardo Flores</a> in Transportation</p>
</div>
</div>
<div class="col-md-4">
<div class="blog-img-box">
<div class="blog-date"> <span class="month">Feb </span> <span class="date"> 24</span> </div>
<a class="hover-effect" href="#">
<img src="/static/ndt-static/images/news2.jpg" alt="Field Training"/>
</a>
</div>
<div class="blog-content">
<h3> <a href="#"> FIELD TRAINING SESSIONS FOR NEW EMPLOYEES </a></h3>
<p>By <a href="#">Clinton Chavez</a> in TCareers</p>
</div>
</div>
<div class="col-md-4">
<div class="blog-img-box">
<div class="blog-date"> <span class="month">Jan </span> <span class="date"> 17</span> </div>
<a class="hover-effect" href="#">
<img src="/static/ndt-static/images/news3.jpg" alt="Environment"/>
</a>
</div>
<div class="blog-content">
<h3> <a href="#"> A STUDY ON SUSTAINABILITY &amp; ENVIRONMENT FACTORS </a> </h3>
<p>By <a href="#">Gertrude Rose</a> in Environment</p>
</div>
</div>
</div>
<div class="blog-btn text-center">
<a href="#" class="btn btn-primary" role="button">READ THE BLOG</a>
</div>
</div>
</section>
<section class="home-partners">
<div class="container">
<div class="section-title text-center">
<h2 class="subtitle-testimonials title-2">OUR ACHIEVEMENTS </h2>
<div class="spacer-20"> </div>
</div>
<marquee behavior="alternate" direction="left">
<img src="/static/ndt-static/images/Our Achevimements/1.JPG" width="300" height="220" alt="Natural" />
<img src="/static/ndt-static/images/Our Achevimements/2.JPG" width="300" height="220" alt="Natural" />
<img src="/static/ndt-static/images/Our Achevimements/3.jpg" width="300" height="220" alt="Natural" />
<img src="/static/ndt-static/images/Our Achevimements/4.jpg" width="300" height="220" alt="Natural" />
<img src="/static/ndt-static/images/Our Achevimements/5.jpg" width="300" height="220" alt="Natural" />


</marquee>

</div>
</section>
</main>
 
 
 
{% endblock %}
