{% extends "ndt/base.html" %}

{% block title %} National ndt  {% endblock %}

{% block body_block %}
 
 
<main class="main">
 
<div class="page-title text-center">
<h2 class="title"> Training </h2>
</div>
 
 
<div class="breadcrumbs">
<div class="container">
<span class="parent"> <i class="fa fa-home"></i> <a href="/ndt/"> Home </a> </span>
<i class="fa fa-chevron-right"></i>
<span class="child"> Training </span>
</div>
</div>
 
 
  
<div class="container">
<div class="row">
<div class="col-md-3 sidebar">
<h3 class="about-quick-fact">NDT Inspection & Third Party 

Inspection Services</h3>
<div class="sidebar-blog-categories">

<ul>

<li> <a href="/ndt/services/"> Radiography Testing (RT) </a> </li>
<li> <a href="/ndt/services/"> Ultrasonic Testing (UT)</a> </li>
<li> <a href="/ndt/services/">Magnetic Particle Testing (MPT)</a> </li>
<li> <a href="/ndt/services/">Dye Penetrate Testing (DPT)</a> </li>
<li> <a href="/ndt/services/">Visual Testing (VT)</a> </li>
<li> <a href="/ndt/services/"> Ultrasonic Thickness Gauging (UTG) </a> </li>
<li> <a href="/ndt/services/"> Hardness Testing (HT)</a> </li>
<li> <a href="/ndt/services/">Positive Material Identification (PMI)</a> </li>
<li> <a href="/ndt/services/">Post Weld Heat Treatment (PWHT)</a> </li>
<li> <a href="/ndt/services/">ASNT Level-III Consultancy (ALC)</a> </li>
</ul>
</div>

</div>
<div class="col-md-6 blog-info">
<section class="about-company">
<h2 align="center" class="subtitle services-title-one"><b><u> Training  </u></b></h2><br>

<p>NATIONAL NDT SERVICES is a Technical Inspection and Certification & Testing Services registered by the Government of India.</p><br>



<p>We are proving international training & certification valid Programs with 100% job Assitance in Quality Control Department related courses In Welding inspection , Piping Inspection, Material Inspection , NDT Inspection NDT Witness, QA/QC related as we mentioned in below courses , we are proving 100% Placement Assurance with in India & Other Locations also.</p>

<p>
<b>International Valid Training & Certification Programs:-</b>
<b>
<ul style="list-style-type:disc">
  <li>ASNT NDT Level (I, II & III)   - NDT Training Courses</li>
  <li>API 510/570/653 - Piping, Presser vessel, Tanking Inspector Courses </li>
  <li>CSWIP/AWS – Welding Inspector Courses</li>
  <li>BGAS – Painting Inspector Courses</li>
  <li>NACE – Coating Inspector Courses</li>
  <li>PCN – Advanced NDT PCN Training</li>
  <li>IRATA – Rope Access Technical Training</li>
  <li>NIBOSH – Fire & Safety Training</li>
  <li>Offshore – STCW Basic Safety Training</li>
  
</ul></b>


</p>

<p><b>Duration Of the Course</b>: 4 weeks only (30 Days)<br><b>Qualification </b>: Inter (10+2) MPC , BSC in Degree, Diploma , Any Engineering<br>
<b>Course Fees </b>: 20000/- INR for ASNT Five Methods ( RT,UT,PT,MPT & VT ) Please contact for<br>
<b> More Details </b>: Please Contact us +91 8686748989 (India Mobile Number)
</p>
<p>
<b>Documents Required</b>:
<b>
<ul style="list-style-type:disc">
  <li>Filled Course Application Form</li>
  <li>Educational Certificates </li>
  <li>Industrial Work Experience Certificates</li>
  <li>6 Pass Size Photo Copies ( Bule Back Ground)</li>
  <li>Vision Certificate</li>
  
</ul></b>
<br>
<p>
For <b>Online Registration</b>: Demand Draft name of <b>NATIONAL NDT SERVICES </b>, Canara Bank Payable at Visakhapatnam.
<br>If Non-Local Candidates Accomdidation Facility is available:<br> 
Food & Accommodation @ 4000 Indian Rupees Only
</p>
</p>
</section>

</div>
<div class="col-md-3 sidebar">
<h3 class="about-quick-fact">ASNT Level-I & Level-II

Training & Certification</h3>
<div class="sidebar-blog-categories">

<ul>

<li> <a href="/ndt/services/"> Radiography Testing (RT)</a> </li>
<li> <a href="/ndt/services/"> Ultrasonic Testing (UT)</a> </li>
<li> <a href="/ndt/services/">Magnetic Particle Testing (MPT)</a> </li>
<li> <a href="/ndt/services/">Dye Penetrate Testing (DPT)</a> </li>
<li> <a href="/ndt/services/">Visual Testing (VT)</a> </li>
</ul>
<h3 class="about-quick-fact">Material Testing Courses (MTC)</h3>
<ul>
<li> <a href="/ndt/contact/"> Ultrasonic Thickness Gauging (UTG)</a> </li>
<li> <a href="/ndt/contact/"> Hardness Testing (HT)</a> </li>
<li> <a href="/ndt/contact/">Positive Material Testing (PMT)</a> </li>
<li> <a href="/ndt/contact/">Post Weld Heat Treatment (PWHT)</a> </li>

</ul>
</div>

</div>
</div>
</div>

<section class="about-accordion">
<div class="row publications">
<div class="col-md-1"></div>
<div class="col-md-10 cul">
<div class="panel-group" id="accordion">
<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="index.htm#collapse1">Radiography </a> </h4>
</div>
<div id="collapse1" class="panel-collapse collapse">
<div class="panel-body">
<h4>Scope of Radiograpghy Testing Level – II Training</h4>
<li>Basic Radiation Physics</li><br>
<li>Gamma Ray Sources</li><br>
<li>Equipment & Material</li><br>
<li>Physics of Radiation</li><br>
<li>Theory of X-ray[/su_animate]</li><br>
<li>Types of Films/Screens/IOI</li><br>
<li>Radiographic Techniques</li><br>
<li>Exposure calculation of Gamma & X-Ray</li><br>
<li>Film Processing</li><br>
<li>Radiographic Film Interpretation</li><br>
<li>Advantages and Disadvantges of RT</li><br>
<li>Radiography Considerations & Techniques</li><br>
<li>Radiation Safety</li><br>
<li>Discuss about Defeats</li><br>
<h4>Practicals:</h4>

<li>Complete a written instruction for a ASNT Level-I to follow</li><br>
<li>Setup test equipment, expose a sample, developed the film & interpret results</li><br>
<li>Evaluate results to given specification and prepare a report 3 on each sample</li><br>
</div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="index.htm#collapse2">Ultrasonic Testing Level - II </a> </h4>
</div>
<div id="collapse2" class="panel-collapse collapse">
<div class="panel-body">
<h4>Scope of Ultrasonic Testing Level-II Training</h4>
<li>Basic Radiation Physics</li><br>
<li>Basic Principles</li><br>
<li>Ultrasonic Wave Generation</li><br>
<li>Mode of Vibration</li><br>
<li>Advantages and Disadvantages of UT</li><br>
<li>Physics of Ultrasound</li><br>
<li>Modes of Sound Wave Propagation</li><br>
<li>Properties of Acoustic Waves</li><br>
<li>Attenuation of Sound Waves</li><br>
<li>Sound Beam Velocities</li><br>
<li>Acoustic Impedance</li><br>
<li>Contact Testing</li><br>
<li>Refracting and Snell’s Law</li><br>
<li>Wave Diffraction</li><br>
<li>Equipment & Transducers</li><br>
<li>Transducer Beam Spread</li><br>
<li>Use of Couplant</li><br>
<li>Data Presentation</li><br>
<li>Measurement and Calibration Techniques
</div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="index.htm#collapse3">Magnetic Particle Testing Level - II </a> </h4>
</div>
<div id="collapse3" class="panel-collapse collapse">
<div class="panel-body">
<h4>Scope of Magnetic Particle Testing Level II Training</h4>

<li>History of Magnetic Particle Inspection</li><br>
<li>Basic of Magnetism</li><br>
<li>Magnetic Field Properties</li><br>
<li>Advantages And Disadvantages Of MPI</li><br>
<li>Magnetizing Current Selection</li><br>
<li>Demagnetization</li><br>
<li>Field Indicators</li><br>
<li>MPI Standards</li><br>
<li>MPI Procedure</li><br>
<li>Magnetic Field Indicators</li><br>
<li>Quality & Process Control</li><br>

<h4>Practicals:</h4>

<li>Dry Method ( MPT Powder with yoke)</li><br>
<li>wet method (Water or cirosion)</li><br>
<li>AC & DC Current</li><br>
<li>Demagnetion Procedure</li><br>
<li>Accessories</li>
</div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="index.htm#collapse4">Penetrating Testing Level-II </a> </h4>
</div>
<div id="collapse4" class="panel-collapse collapse">
<div class="panel-body">
<h4>Scope of Penetrating Testing Level-II Training</h4>

<li>Basic Principles Liquid Penetrant Testing</li><br>
<li>Advantages and Disadvantages of PT</li><br>
<li>How to Use of Penetrates</li><br>
<li>How to Use of Developers</li><br>
<li>How to Penetrant Removal Process</li><br>
<li>Interpretation of indications</li><br>
<li>Acceptance Standards</li><br>
<li>Quality & Process Control of Penetrant , Developer , Emulsifiers</li><br>
<li>Health and Safety Precautions in PT</li><br>
<li>PT Procedure and Report Format</li><br>
<li>Defect Indication</li><br>
<li>Making Report</li><br>

<h4>Practicals:</h4>

<li>Perform a liquid penetrant test in accordance with a technique sheet</li><br>
<li>Comment on the findings of the test</li><br>
<li>Complete report forms</li><br>
<li>Accept & reject in accordance with provided codes, standards & specifications</li><br>

</div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">
<h4 class="panel-title">
<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="index.htm#collapse4">Visual Testing Level-II </a> </h4>
</div>
<div id="collapse4" class="panel-collapse collapse">
<div class="panel-body">
<h4>Scope of Visual Testing Level – II Training</h4>
<li>Identifying various weld discontinuities.</li><br>
<li>Understanding the relevant welding technology related to visual inspection.</li><br>
<li>Understanding the need for documentation in welding. </li><br>
<li>Familiarity with codes and standards related to inspection requirements.</li><br>
<li>Carrying out inspection of parent materials and consumables. </li>
</div>
</div>
</div>


<div class="col-md-1"></div>
</div>
</div>
</section>

 
</main>
 
 {% endblock %}