{% extends "amma/base.html" %}

{% block title %} Pisini Varaha - With Our Leaders  {% endblock %}

{% block body_block %}     
  <section id="blogArchive">      
      <div class="row">
        <div class="col-lg-12 col-md-12">
        <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1000px; height: 150px; overflow: hidden;">
        <!-- Loading Screen -->
        
        
		<marquee behavior="alternate">
	<img src="/media/scroll/img/6.jpg" width="150px" height="100px" >
	<img src="/media/scroll/img/5.jpg" width="150px" height="100px" >
	<img src="/media/scroll/img/4.jpeg" width="150px" height="100px">
	<img src="/media/scroll/img/7.jpg" width="150px" height="100px" >
	<img src="/media/scroll/img/9.jpg" width="150px" height="100px" >
	<img src="/media/scroll/img/2.jpg" width="150px" height="100px" >
	<img src="/media/scroll/img/1.jpg" width="150px" height="100px" >
	<img src="/media/scroll/img/8.jpg" width="150px" height="100px" >
	<img src="/media/scroll/img/11.jpg" width="150px" height="100px" >
	<img src="/media/scroll/img/10.jpg" width="150px" height="100px" >
	<img src="/media/scroll/img/12.jpg" width="150px" height="100px" >
	<img src="/media/scroll/img/13.jpg" width="150px" height="100px" >
</marquee>
    
            
       
        
        
    </div>
   
        </div>        
      </div>      
    </section>
    <!--=========== BEGAIN Leaders SECTION ================-->
    <section id="gallery">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="gallery-area">
              <!-- Start First Image Album  -->
              <div class="my-simple-gallery">
                <div class="section-heading">
                  <h2>With Our Leaders</h2>
                  <div class="line"></div>
                </div>
                <div class="row">
                  <figure itemprop="associatedMedia" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <a class="gallery-iteam" href="/media/leaders/00.jpg" itemprop="contentUrl" data-size="1024x1024">
                      <img src="/media/leaders/00.jpg" itemprop="thumbnail" alt="Image description" />
                       <span class="image-effect"></span>
                    </a>                    
                    <!-- <figcaption itemprop="caption description">Image caption  1</figcaption>    -->      
                  </figure>
                  
                  <figure itemprop="associatedMedia" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <a class="gallery-iteam" href="/media/leaders/2.jpg" itemprop="contentUrl" data-size="1024x1024">
                      <img src="/media/leaders/2.jpg" itemprop="thumbnail" alt="Image description" />
                      <span class="image-effect"></span>
                    </a>
                   
                  </figure> 
                 
                  <figure itemprop="associatedMedia" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <a class="gallery-iteam" href="/media/leaders/33.jpg" itemprop="contentUrl" data-size="1024x683">
                      <img src="/media/leaders/33.jpg" itemprop="thumbnail" alt="Image description" />
                      <span class="image-effect"></span>
                    </a>
                    
                  </figure>

                  <figure itemprop="associatedMedia" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <a class="gallery-iteam" href="/media/leaders/44.jpg" itemprop="contentUrl" data-size="1024x768">
                      <img src="/media/leaders/44.jpg" itemprop="thumbnail" alt="Image description" />
                      <span class="image-effect"></span>
                  </a>
                    
                  </figure> 
                  <figure itemprop="associatedMedia" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <a class="gallery-iteam" href="/media/leaders/55.jpg" itemprop="contentUrl" data-size="1024x1024">
                      <img src="/media/leaders/55.jpg" itemprop="thumbnail" alt="Image description" />
                       <span class="image-effect"></span>
                    </a>                    
                   
                  </figure>
                  
                  <figure itemprop="associatedMedia" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <a class="gallery-iteam" href="/media/leaders/66.jpg" itemprop="contentUrl" data-size="1024x1024">
                      <img src="/media/leaders/66.jpg" itemprop="thumbnail" alt="Image description" />
                      <span class="image-effect"></span>
                    </a>
                    
                  </figure> 
                 
                  <figure itemprop="associatedMedia" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <a class="gallery-iteam" href="/media/leaders/77.jpg" itemprop="contentUrl" data-size="1024x683">
                      <img src="/media/leaders/77.jpg" itemprop="thumbnail" alt="Image description" />
                      <span class="image-effect"></span>
                    </a>
                    
                  </figure>

                  <figure itemprop="associatedMedia" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <a class="gallery-iteam" href="/media/leaders/8.jpg" itemprop="contentUrl" data-size="1024x768">
                      <img src="/media/leaders/8.jpg" itemprop="thumbnail" alt="Image description" />
                      <span class="image-effect"></span>
                  </a>
                    
                  </figure> 
					<figure itemprop="associatedMedia" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <a class="gallery-iteam" href="/media/leaders/11.jpg" itemprop="contentUrl" data-size="1024x768">
                      <img src="/media/leaders/11.jpg" itemprop="thumbnail" alt="Image description" />
                      <span class="image-effect"></span>
                  </a>
                    
                  </figure> 
                </div>
              </div>
            
              <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

                <!-- Background of PhotoSwipe. 
                     It's a separate element, as animating opacity is faster than rgba(). -->
                <div class="pswp__bg"></div>

                <!-- Slides wrapper with overflow:hidden. -->
                <div class="pswp__scroll-wrap">

                  
                  <div class="pswp__container">
                      <div class="pswp__item"></div>
                      <div class="pswp__item"></div>
                      <div class="pswp__item"></div>
                  </div>

                  
                  <div class="pswp__ui pswp__ui--hidden">
                    <div class="pswp__top-bar">

                        <!--  Controls are self-explanatory. Order can be changed. -->

                        <div class="pswp__counter"></div>

                        <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                        <button class="pswp__button pswp__button--share" title="Share"></button>

                        <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                        <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                        <div class="pswp__preloader">
                            <div class="pswp__preloader__icn">
                              <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                              </div>
                            </div>
                        </div>
                    </div>

                    <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                        <div class="pswp__share-tooltip"></div> 
                    </div>

                    <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                    </button>

                    <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                    </button>

                    <div class="pswp__caption">
                        <div class="pswp__caption__center"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=========== End Leaders SECTION ================-->

    <!--=========== BEGAIN Counter SECTION ================-->
    
{% endblock %}
