<!DOCTYPE html>
<html lang="en">
  

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>UB PHOTOS</title>

    <!-- Bootstrap -->
    <link href="/static/shutterfly-static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Plugins -->
    <link href="/static/shutterfly-static/css/font-awesome.css" rel="stylesheet">
    <link href="/static/shutterfly-static/css/bootstrap-select.css" rel="stylesheet">
    <link href="/static/shutterfly-static/css/owl.carousel.css" rel="stylesheet">
    <link href="/static/shutterfly-static/css/owl.theme.default.css" rel="stylesheet">
	<link href="/static/shutterfly-static/css/style.css" rel="stylesheet">
   

   
  </head>
  <body class="fade-down">

    <!-- Top Header -->
    <div class="top-header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <ul class="list-inline pull-left hidden-sm hidden-xs">
              <!-- Promo bar -->
              <li><a href="/fly/products/"><i class="fa fa-bullhorn"></i> Free Shipping on orders of $49+* Code: SHIP49</a></li>
             <!--  <li><a href="#"><i class="fa fa-android"></i> Download App</a></li> -->
            </ul>
            <ul class="list-inline pull-right">
              <li class="hidden-xs"><a href="#"> Sign in</a></li>
              <li class="hidden-xs"><a href="#"> Sign up</a></li>
             
              <li class="hidden-xs"><a href="#"> My Account</a></li>
			   <li class="hidden-xs"><a href="#"> My Photos</a></li>
			    <li class="hidden-xs"><a href="#"> Share Sites</a></li>
             <!--  <li>
                <div class="dropdown">
                  <button class="btn dropdown-toggle" type="button" id="dropdownLogin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-user"></i> Login <span class="caret"></span>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right dropdown-menu-login" aria-labelledby="dropdownLogin">
                    <form>
                      <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="Username">
                      </div>
                      <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"><span> Remember me</span>
                        </label>
                      </div>
                      <button type="submit" class="btn btn-default btn-sm"><i class="fa fa-long-arrow-right"></i> Login</button>
                      <a class="btn btn-default btn-sm pull-right" href="/register/" role="button">I Want to Register</a>
                    </form>
                  </div>
                </div>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End Top Header -->

    <!-- Middle Header -->
    <div class="middle-header">
      <div class="container">
        <div class="row">
          <div class="col-md-3 logo">
            <a href="/"><img alt="Logo" src="/static/shutterfly-static/images/demo/logo.png" class="img-responsive" data-text-logo="Shutterfly" /></a>
          </div>
          <div class="col-sm-8 col-md-6 search-box m-t-2">
            <div class="input-group">
              <input type="text" class="form-control search-input" aria-label="Search here..." placeholder="Search here...">
              <div class="input-group-btn">
                
                <button type="button" class="btn btn-default btn-search"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-md-3 cart-btn hidden-xs m-t-2">
            <a href="#" class="btn btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-shopping-cart"></i>  <span class="caret"></span></a>
            <!-- <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-cart"> -->
              
             
           <!--    <div class="media">
                <div class="media-left">
                  <a href="/detail/"><img class="media-object img-thumbnail" src="/static/shutterfly-static/images/demo/p4-small-1.jpg" width="50" alt="product"></a>
                </div>
                <div class="media-body">
                  <a href="/detail/" class="media-heading">Levi'sNavy Blue Printed Round Neck T-Shirt</a>
                  <div>x 1 Rs13.50</div>
                </div>
                <div class="media-right"><a href="#" data-toggle="tooltip" title="Remove"><i class="fa fa-remove"></i></a></div>
              </div>
              <div class="subtotal-cart">Subtotal: <span>Rs54.00</span></div>
              <div class="text-center">
                  <div class="btn-group" role="group" aria-label="View Cart and Checkout Button">
                    <a href="cart.html" class="btn btn-default btn-sm" type="button"><i class="fa fa-shopping-cart"></i> View Cart</a>
                    <a href="/checkout/" class="btn btn-default btn-sm" type="button"><i class="fa fa-check"></i> Checkout</a>
                  </div>
              </div> -->
           <!--  </div> -->
            </div>
        </div>
      </div>
    </div>
    <!-- End Middle Header -->

    <!-- Navigation Bar -->
    <nav class="navbar navbar-default shadow-navbar" role="navigation">
      <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="#" class="btn btn-default btn-cart-xs visible-xs pull-right">
              <i class="fa fa-shopping-cart"></i> 
            </a>
            <a href="#" class="btn btn-default btn-cart-xs visible-xs pull-right">
              <i class="fa fa-heart"></i> 
            </a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-ex1-collapse">
            <ul class="nav navbar-nav">
              <!-- <li class="active"><a href="index.html">Home</a></li>
			  <li><a href="/about/">About Us</a></li>
              <li><a href="/fly/products/">Products</a></li> -->
			  <li class="dropdown mega-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Photo Books<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <div class="mega-menu-content">
                      <div class="row">
                        <div class="col-sm-2">
                          <ul class="list-unstyled">
                            <li><p><strong>About Photo Books</strong></p></li> </ul>
                            <a href="/fly/products/" class="thumbnail"><img src="/static/shutterfly-static/images/demo/mega-menu.jpg" alt=""></a>
						<ul class="list-unstyled">
						<li><a href="/fly/products/"> Learn More &gt; </a></li>
                          </ul>   
                         
                        </div>
                        <div class="col-sm-2">
                          
						  <ul class="list-unstyled">
                            <li><p><strong>Make My Book&trade; Service</strong></p></li> </ul>
                           <a href="/fly/products/" class="thumbnail"><img src="/static/shutterfly-static/images/demo/mega-menu.jpg" alt=""></a>
						  <ul class="list-unstyled">
						 <li><a href="/fly/products/"> Learn More &gt; </a></li>
                            
                          </ul>
                        </div>
                        <div class="col-sm-2">
                          <ul class="list-unstyled">
                            <li><p><strong>Create your book<br>By Occasion</br></strong></p></li>
                            <li><a href="/fly/products/"> Family Photo Albums</a></li>
                            <li><a href="/fly/products/"> Travel Photo Books</a></li>
                            <li><a href="/fly/products/"> Wedding Photo Books </a></li>
                            <li><a href="/fly/products/"> Winter Holidays Photo Books </a></li>
                            <li><a href="/fly/products/"> Yearbooks</a></li>
                            <li><a href="/fly/products/"> All Photo Book Styles &gt; </a></li>
                           
                            
                          </ul>
                        </div>
                        <div class="col-sm-2">
                          <ul class="list-unstyled">
                            <li><p><strong>Create your book <br>By Size or Type</br></strong></p></li>
                            <li><a href="/fly/products/"> 8x8 Photo Books </a></li>
                            <li><a href="/fly/products/"> 8x11 Photo Books </a></li>
                            <li><a href="/fly/products/"> <span class="span1">NEW</span> 11x8 Photo Books</a></li>
                            <li><a href="/fly/products/"> 10x10 Photo Books</a></li>
                            <li><a href="/fly/products/"> Premium Books</a></li>
                            <li><a href="/fly/products/"> All Photo Book Sizes &gt; </a></li>
                           </ul>
						  </div>
						<div class="col-sm-2">
						<ul class="list-unstyled">
                            <li><p><strong>Save 50% on hardcover photo books <span class="span1">Code: WONDERFUL</span></strong></p></li> </ul>
                          <a href="/fly/products/" class="thumbnail"><img src="/static/shutterfly-static/images/demo/mega-menu.jpg" alt=""></a>
						  <ul class="list-unstyled">
						 <li><a href="/fly/products/"> Learn More &gt; </a></li>
						 </ul>
                        </div>
						
                      </div>
					  </div>
					  </li>
					  </ul>
					  </li>
			   <li class="dropdown mega-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Cards & Stationery<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <div class="mega-menu-content">
                      <div class="row">
                        <div class="col-sm-2">
                          <ul class="list-unstyled">
                            <li><p><strong>Christmas</strong></p></li>
                            <li><a href="/fly/products/"> Christmas Cards </a></li>
                            <li><a href="/fly/products/"> Premium Christmas Cards</a></li>
                            <li><a href="/fly/products/"><span class="span1">NEW</span> Gatefold Christmas Cards </a></li>
                            <li><a href="/fly/products/"> Ornament Christmas Cards</a></li>
                            <li><a href="/fly/products/"> Religious Christmas Cards </a></li>
                            <li><a href="/fly/products/"> Christmas Address Labels </a></li>
                            <li><a href="/fly/products/"> See All Christmas &gt; </a></li>
                            
                          </ul>
                        </div>
                        <div class="col-sm-2">
                          
						  <ul class="list-unstyled">
                            <li><p><strong>Seasonal</strong></p></li>
                            <li><a href="/fly/products/"> New Year's Cards </a></li>
                            <li><a href="/fly/products/"> Holiday Cards</a></li>
                            <li><a href="/fly/products/"> Affordable Holiday Cards</a></li>
                            <li><a href="/fly/products/"> Party Invitations </a></li>
                            <li><a href="/fly/products/"> Hanukkah Cards</a></li>
                            <li><a href="/fly/products/"> Create Your Own Holiday Card </a></li>
                            <li><a href="/fly/products/"> See All Seasonal &gt;</a></li>
                            
                          </ul>
                        </div>
                        <div class="col-sm-2">
                          <ul class="list-unstyled">
                            <li><p><strong>Wedding</strong></p></li>
                            <li><a href="/fly/products/"> Save the Dates </a></li>
                            <li><a href="/fly/products/"> Save the Date Magnets </a></li>
                            <li><a href="/fly/products/"> Wedding Invitations </a></li>
                            <li><a href="/fly/products/"> Bridal Shower Invitations </a></li>
                            <li><a href="/fly/products/"> Wedding Thank You Cards </a></li>
                            <li><a href="/fly/products/"> Wedding Address Labels </a></li>
                            <li><a href="/fly/products/"> See All Wedding &gt; </a></li>
                            
                          </ul>
                        </div>
                        <div class="col-sm-2">
                          <ul class="list-unstyled">
                            <li><p><strong>Baby</strong></p></li>
                            <li><a href="/fly/products/"> Birth Announcements </a></li>
                            <li><a href="/fly/products/"> Christmas Birth Announcements </a></li>
                            <li><a href="/fly/products/"> <span class="span1">NEW</span> Pregnancy Announcements</a></li>
                            <li><a href="/fly/products/"> Baby Shower Invitations</a></li>
                            <li><a href="/fly/products/"> Baptism Invitations</a></li>
                            <li><a href="/fly/products/"> See All Baby &gt; </a></li>
                           </ul>
						  </div>
						<div class="col-sm-2">
						<ul class="list-unstyled">
                            <li><p><strong>Save 50% on cards &amp; stationery <span class="span1">Code: WONDERFUL</span></strong></p></li></ul>
                          <a href="/fly/products/" class="thumbnail"><img src="/static/shutterfly-static/images/demo/mega-menu.jpg" alt=""></a>
						 <ul class="list-unstyled">
						 <li><a href="/fly/products/"> Learn More &gt; </a></li>
						 </ul>
                        </div>
						
                      </div>
					   <div class="row">
                        <div class="col-sm-2">
                          <ul class="list-unstyled">
                            <li><p><strong>Send 2018 New Year's wishes </strong></p></li></ul>
                          <a href="/fly/products/" class="thumbnail"><img src="/static/shutterfly-static/images/demo/mega-menu.jpg" alt=""></a>
						 <ul class="list-unstyled">
						 <li><a href="/fly/products/"> Shop Now &gt; </a></li>
						 </ul>
                        </div>
                        <div class="col-sm-2">
                          
						  <ul class="list-unstyled">
                            <li><p><strong>Stationery</strong></p></li>
                            <li><a href="/fly/products/"> Thank You Cards </a></li>
                            <li><a href="/fly/products/"> Address Labels </a></li>
                            <li><a href="/fly/products/"> Notepads</a></li>
                            <li><a href="/fly/products/"> Self-Inking Rubber Stamps </a></li>
                            <li><a href="/fly/products/"> Personalized Postage</a></li>
                            <li><a href="/fly/products/"> Boxed Stationery Sets </a></li>
                            <li><a href="/fly/products/"> See All Stationery &gt; </a></li>
                            
                          </ul>
                        </div>
                        <div class="col-sm-2">
                          <ul class="list-unstyled">
                            <li><p><strong>Birthday</strong></p></li>
                            <li><a href="/fly/products/"> Birthday Invitations </a></li>
                            <li><a href="/fly/products/"> Birthday Greeting Cards</a></li>
                            <li><a href="/fly/products/"> Baby's 1st Birthday Invitations</a></li>
                            <li><a href="/fly/products/"> Kids Birthday Invitations</a></li>
                            <li><a href="/fly/products/"> Adult Birthday Invitations</a></li>
                            <li><a href="/fly/products/"> Sweet Sixteen Invitations </a></li>
                            <li><a href="/fly/products/"> See All Birthday &gt; </a></li>
                            
                          </ul>
                        </div>
                        <div class="col-sm-2">
                          <ul class="list-unstyled">
                            <li><p><strong>Celebrations</strong></p></li>
                            <li><a href="/fly/products/"> Graduation Announcements </a></li>
                            <li><a href="/fly/products/"> Graduation Invitations </a></li>
                            <li><a href="/fly/products/"> Moving Announcements</a></li>
                            <li><a href="/fly/products/"> Holiday Moving Announcements </a></li>
                            <li><a href="/fly/products/"> Wedding Anniversary Invitations</a></li>
                            <li><a href="/fly/products/"> See All Invitations &gt; </a></li>
                            </ul>
						  </div>
						<div class="col-sm-2">
						<ul class="list-unstyled">
                            <li><p><strong>Introducing The Wedding Shop</strong></p></li></ul>
                          <a href="/fly/products/" class="thumbnail"><img src="/static/shutterfly-static/images/demo/mega-menu.jpg" alt=""></a>
						  <ul class="list-unstyled">
						  <li><a href="/fly/products/"> Shop Now &gt; </a></li>
						  </ul>
                        </div>
						
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
			  
			   <li class="dropdown mega-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Prints<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <div class="mega-menu-content">
                      <div class="row">
                        <div class="col-sm-2">
                          <ul class="list-unstyled">
                            <li><p><strong>Prints &amp; Posters</strong></p></li>
                            <li><a href="/fly/products/"> Prints</a></li>
                            <li><a href="/fly/products/"> Large Format Prints</a></li>
                            <li><a href="/fly/products/"> Collage Posters </a></li>
                            <li><a href="/fly/products/"> NEW Metallic Art Prints </a></li>
                            <li><a href="/fly/products/"> Premium Cardstock Art Prints</a></li>
                            <li><a href="/fly/products/"> Framed Prints </a></li>
                            
                          </ul>
                        </div>
                        <div class="col-sm-2">
                          
						  <ul class="list-unstyled">
                            <li><p><strong>Pick Up Your Prints</strong></p></li></ul>
                           <a href="/fly/products/" class="thumbnail"><img src="/static/shutterfly-static/images/demo/mega-menu.jpg" alt=""></a>
							 <ul class="list-unstyled">
						<li><a href="/fly/products/"> Learn More &gt; </a></li>
                            
                          </ul>
                        </div>
                        <div class="col-sm-2">
                          <ul class="list-unstyled">
                            <li><p><strong>Prints Savings Plans</br></strong></p></li>
                            <li><a href="/fly/products/"> Prints Savings Plans</a></li>
                            <li><a href="/fly/products/"> Prepaid 4x6 Plans</a></li>
                            <li><a href="/fly/products/"> Annual Print Plan </a></li>
                            <li><a href="/fly/products/"> Prepaid Portrait Plan </a></li>
                           
                           
                            
                          </ul>
                        </div>
                        <div class="col-sm-2">
                          <ul class="list-unstyled">
						   <li><p><strong>Collage Posters</br></strong></p></li></ul>
                            <a href="/fly/products/" class="thumbnail"><img src="/static/shutterfly-static/images/demo/mega-menu.jpg" alt=""></a>
						 <ul class="list-unstyled">
						 <li><a href="/fly/products/"> Shop Collage Posters &gt; </a></li>
                           </ul>
						  </div>
						<div class="col-sm-2">
						<ul class="list-unstyled">
                            <li><p><strong>Save 50% on prints <span class="span1">Code: WONDERFUL</span></strong></p></li></ul>
                          <a href="/fly/products/" class="thumbnail"><img src="/static/shutterfly-static/images/demo/mega-menu.jpg" alt=""></a>
						 <ul class="list-unstyled">
						 <li><a href="/fly/products/"> Learn More &gt; </a></li>
						 </ul>
                        </div>
						
                      </div>
					  </div>
					  </li>
					  </ul>
					  </li>
					  
					   <li class="dropdown mega-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Calendars<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <div class="mega-menu-content">
                      <div class="row">
                        <div class="col-sm-2">
                          <ul class="list-unstyled">
						   <li><p><strong>Wall Calendars</br></strong></p></li></ul>
                            <a href="/fly/products/" class="thumbnail"><img src="/static/shutterfly-static/images/demo/mega-menu.jpg" alt=""></a>
						 <ul class="list-unstyled">
						 <li><a href="/fly/products/"> Shop Wall Calendars &gt; </a></li>
                           </ul>
                        </div>
                        <div class="col-sm-2">
                          
						 <ul class="list-unstyled">
						   <li><p><strong>Easel Calendars</br></strong></p></li></ul>
                            <a href="/fly/products/" class="thumbnail"><img src="/static/shutterfly-static/images/demo/mega-menu.jpg" alt=""></a>
						 <ul class="list-unstyled">
						 <li><a href="/fly/products/"> Shop Easel Calendars &gt; </a></li>
                           </ul>
                        </div>
                        <div class="col-sm-2">
                          <ul class="list-unstyled">
						   <li><p><strong>Desk Calendars</br></strong></p></li></ul>
                            <a href="/fly/products/" class="thumbnail"><img src="/static/shutterfly-static/images/demo/mega-menu.jpg" alt=""></a>
						 <ul class="list-unstyled">
						 <li><a href="/fly/products/"> Shop Desk Calendars &gt; </a></li>
                           </ul>
                        </div>
                        <div class="col-sm-2">
                          <ul class="list-unstyled">
                            <li><p><strong>More Calendars</strong></p></li>
                            <li><a href="/fly/products/"> Calendar Poster </a></li>
                            <li><a href="/fly/products/"> Calendar Magnet </a></li>
                            <li><a href="/fly/products/"> Calendar Mouse Pad</a></li>
                            <li><a href="/fly/products/"> Bulk Calendar Plan</a></li>
                            <li><a href="/fly/products/"> Shop All Calendars ></a></li>
                            
                           </ul>
						  </div>
						<div class="col-sm-2">
						<ul class="list-unstyled">
                            <li><p><strong>Save 50% on calendars <span class="span1">Code: WONDERFUL</span></strong></p></li></ul>
                          <a href="/fly/products/" class="thumbnail"><img src="/static/shutterfly-static/images/demo/mega-menu.jpg" alt=""></a>
						 <ul class="list-unstyled">
						 <li><a href="/fly/products/"> Learn More &gt; </a></li>
						 </ul>
                        </div>
						
                      </div>
					  </div>
					  </li>
					  </ul>
					  </li>
					  
			  <li class="dropdown mega-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Gifts <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <div class="mega-menu-content">
                      <div class="row">
                        <div class="col-sm-2">
                          <ul class="list-unstyled">
                            <li><p><strong>New Arrivals</strong></p></li>
                            <li><a href="/fly/products/"> Latte Mugs </a></li>
                            <li><a href="/fly/products/"> iPhone Cases </a></li>
                            <li><a href="/fly/products/"> Engraved Jewelry</a></li>
                            <li><a href="/fly/products/"> Key Chains</a></li>
                            <li><a href="/fly/products/"> Drawstring Bags </a></li>
                            <li><a href="/fly/products/"> Glitter Ornaments </a></li>
                            <li><a href="/fly/products/"> See All New Arrivals &gt;</a></li>
                           
                        </div>
                        <div class="col-sm-2">
                          
						  <ul class="list-unstyled">
                            <li><p><strong>Customer Favorites</strong></p></li>
                            <li><a href="/fly/products/"> Photo Mugs </a></li>
                            <li><a href="/fly/products/"> Ornaments </a></li>
                            <li><a href="/fly/products/"> Canvas Prints</a></li>
                            <li><a href="/fly/products/">Desktop Plaques</a></li>
                            <li><a href="/fly/products/"> Jewelry </a></li>
                            <li><a href="/fly/products/"> Pillows & Blankets </a></li>
                            <li><a href="/fly/products/">See All Customer Favorites &gt;</a></li>
                            
                          </ul>
                        </div>
                        <div class="col-sm-2">
                          <ul class="list-unstyled">
                            <li><p><strong>Home Accessories</strong></p></li>
                            <li><a href="/fly/products/"> Ceramic Tiles </a></li>
                            <li><a href="/fly/products/"> Coasters</a></li>
                            <li><a href="/fly/products/"> Personalized Frames</a></li>
                            <li><a href="/fly/products/"> Glass Frames</a></li>
                            <li><a href="/fly/products/"> <span class="span1">NEW</span> Wooden Magnets</a></li>
                            <li><a href="/fly/products/"> Candles </a></li>
                            <li><a href="/fly/products/"> See All Home Accessories &gt; </a></li>
                          
                          </ul>
                        </div>
                        <div class="col-sm-2">
                          <ul class="list-unstyled">
                            <li><p><strong>Shop by Category</strong></p></li>
                            <li><a href="/fly/products/"> Wall Art </a></li>
                            <li><a href="/fly/products/"> Home Accessories </a></li>
                            <li><a href="/fly/products/"> Barware</a></li>
                            <li><a href="/fly/products/"> For the Office </a></li>
                            <li><a href="/fly/products/"> Tabletop </a></li>
                            <li><a href="/fly/products/"> Tech Gifts </a></li>
                            <li><a href="/fly/products/">See All Categories &gt; </a></li>
                           
                          </ul>
						  </div>
						<div class="col-sm-2">
						<ul class="list-unstyled">
                            <li><p><strong>Save 50% on gifts <span class="span1">Code: WONDERFUL</span></strong></p></li></ul>
                          <a href="/fly/products/" class="thumbnail"><img src="/static/shutterfly-static/images/demo/mega-menu.jpg" alt=""></a>
						   <ul class="list-unstyled">
						   <li><a href="/fly/products/"> Learn More &gt; </a></li>
						   </ul>
                        </div>
						
                      </div>
					   <div class="row">
                        <div class="col-sm-2">
                          <ul class="list-unstyled">
                            <li><p><strong>Find the perfect gift</strong></p></li></ul>
                            <a href="/fly/products/" class="thumbnail"><img src="/static/shutterfly-static/images/demo/mega-menu.jpg" alt=""></a>
							<ul class="list-unstyled">
							<li><a href="/fly/products/"> See All Personalized Gifts &gt; </a></li>
                          </ul>
                        </div>
                        <div class="col-sm-2">
                          
						  <ul class="list-unstyled">
                            <li><p><strong>Gifts for Her</strong></p></li>
                            <li><a href="/fly/products/"> Jewelry </a></li>
                            <li><a href="/fly/products/"> Ceramic Tiles </a></li>
                            <li><a href="/fly/products/"> Wine Glasses</a></li>
                            <li><a href="/fly/products/"> Cutting Boards </a></li>
                            <li><a href="/fly/products/"> Canvas Tote Bags </a></li>
                            <li><a href="/fly/products/"> Framed Art Prints </a></li>
                            <li><a href="/fly/products/"> See All Gifts for Her &gt; </a></li>
                            
                          </ul>
                        </div>
                        <div class="col-sm-2">
                          <ul class="list-unstyled">
                            <li><p><strong>Gifts for Him</strong></p></li>
                            <li><a href="/fly/products/"> Stainless Steel Mugs</a></li>
                            <li><a href="/fly/products/"> Pilsner Glasses </a></li>
                            <li><a href="/fly/products/"> Growlers </a></li>
                            <li><a href="/fly/products/"> Metal Prints</a></li>
                            <li><a href="/fly/products/"> <span class="span1">NEW</span> Pint Glasses </a></li>
                            <li><a href="/fly/products/"> See All Gifts for Him&gt; </a></li>
                          
                          </ul>
                        </div>
                        <div class="col-sm-2">
                          <ul class="list-unstyled">
                            <li><p><strong>Gifts for Kids</strong></p></li>
                            <li><a href="/fly/products/"> Puzzles </a></li>
                            <li><a href="/fly/products/"> Playing Cards</a></li>
                            <li><a href="/fly/products/"> Memory Games </a></li>
                            <li><a href="/fly/products/"> Disney Gifts</a></li>
                            <li><a href="/fly/products/"> Placemats </a></li>
                            <li><a href="/fly/products/"> Cups </a></li>
                            <li><a href="/fly/products/"> See All Gifts for Kids &gt;</a></li>
                          
                          </ul>
						  </div>
						<div class="col-sm-2">
						<ul class="list-unstyled">
                            <li><p><strong>Toast to the New Year</strong></p></li></ul>
                          <a href="/fly/products/" class="thumbnail"><img src="/static/shutterfly-static/images/demo/mega-menu.jpg" alt=""></a>
                       <ul class="list-unstyled">
					   <li><a href="/fly/products/"> Shop Champagne Flutes&gt; </a></li>
					   </ul>
					   </div>
						
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
			  <li class="dropdown mega-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Home Decor <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <div class="mega-menu-content">
                      <div class="row">
                        <div class="col-sm-2">
                          <ul class="list-unstyled">
                            <li><p><strong>Refresh your space</strong></p></li></ul>
                           <a href="/fly/products/" class="thumbnail"><img src="/static/shutterfly-static/images/demo/mega-menu.jpg" alt=""></a>
						 <ul class="list-unstyled">
						 <li><a href="/fly/products/"> Shop Desktop Plaques&gt; </a></li>
						 </ul>
                        </div>
                        <div class="col-sm-2">
                         
						  <ul class="list-unstyled">
                            <li><p><strong>Wall Art</strong></p></li>
                            <li><a href="/fly/products/"> Canvas Prints </a></li>
                            <li><a href="/fly/products/"> Framed Canvas Prints </a></li>
                            <li><a href="/fly/products/"> Metal Prints </a></li>
                            <li><a href="/fly/products/">Framed Prints </a></li>
                            <li><a href="/fly/products/"> Mounted Wall Art </a></li>
                            <li><a href="/fly/products/"> Design-a-Wall</a></li>
                            <li><a href="/fly/products/"> See All Wall Art &gt; </a></li>
                       
                          </ul>
                        </div>
                        <div class="col-sm-2">
                          <ul class="list-unstyled">
                            <li><p><strong>Pillows &amp; Blankets</strong></p></li>
                            <li><a href="/fly/products/"> Pillows </a></li>
                            <li><a href="/fly/products/"> Fleece Blankets </a></li>
                            <li><a href="/fly/products/"> Woven Photo Blankets </a></li>
                            <li><a href="/fly/products/"> <span class="span1">NEW</span> Plush Pillows </a></li>
                            <li><a href="/fly/products/"> Duvet Covers &amp; Shams </a></li>
                            <li><a href="/fly/products/"> <span class="span1">NEW</span> Sherpa Pillows </a></li>
                            <li><a href="/fly/products/"> See All Pillows &amp; Blankets &gt; </a></li>
                           
                          </ul>
                        </div>
                        <div class="col-sm-2">
                          <ul class="list-unstyled">
                            <li><p><strong>Home Accents</strong></p></li>
                            <li><a href="/fly/products/"> Desktop Plaques </a></li>
                            <li><a href="/fly/products/"> Ceramic Tiles</a></li>
                            <li><a href="/fly/products/"> Coasters </a></li>
                            <li><a href="/fly/products/"> Glass Prints </a></li>
                            <li><a href="/fly/products/"> Glass Frames </a></li>
                            <li><a href="/fly/products/"> Wood Frames</a></li>
                            <li><a href="/fly/products/"> See All Home Accents &gt;</a></li>
                         
                          </ul>
						  </div>
						<div class="col-sm-2">
						<ul class="list-unstyled">
                            <li><p><strong>Save 50% on home decor <span class="span1">Code: WONDERFUL</span></strong></p></li></ul>
                          <a href="/fly/products/" class="thumbnail"><img src="/static/shutterfly-static/images/demo/mega-menu.jpg" alt=""></a>
						<ul class="list-unstyled">
					   <li><a href="/fly/products/"> Learn More &gt; </a></li>
						</ul>
						</div>
						
                      </div>
					   <div class="row">
                        <div class="col-sm-2">
                          <ul class="list-unstyled">
                            <li><p><strong>Showcase Special Moments</strong></p></li></ul>
                            <a href="/fly/products/" class="thumbnail"><img src="/static/shutterfly-static/images/demo/mega-menu.jpg" alt=""></a>
                        <ul class="list-unstyled">
						<li><a href="/fly/products/"> Learn More &gt; </a></li>
						</ul>
                        </div>
                        <div class="col-sm-2">
                         
						  <ul class="list-unstyled">
                            <li><p><strong>New Arrivals</strong></p></li>
                            <li><a href="/fly/products/"> Shadow Boxes </a></li>
                            <li><a href="/fly/products/"> Drawstring Bags </a></li>
                            <li><a href="/fly/products/"> Glitter Ornament </a></li>
                            <li><a href="/fly/products/"> Framed Magnetic Boards</a></li>
                            <li><a href="/fly/products/"> Tea Towels </a></li>
                            <li><a href="/fly/products/"> Metallic Art Prints </a></li>
                            <li><a href="/fly/products/"> See All New Arrivals &gt; </a></li>
                           
                          </ul>
                        </div>
                        <div class="col-sm-2">
                          <ul class="list-unstyled">
                            <li><p><strong>Customer Favorites</strong></p></li>
                            <li><a href="/fly/products/"> Personalized Frames </a></li>
                            <li><a href="/fly/products/"> Photo Cubes </a></li>
                            <li><a href="/fly/products/"> Framed Art Prints</a></li>
                            <li><a href="/fly/products/"> Mason Jars </a></li>
                            <li><a href="/fly/products/"> Acrylic Photo Blocks </a></li>
                            <li><a href="/fly/products/"> Catch All Trays </a></li>
                            <li><a href="/fly/products/">See All Customer Favorites &gt;</a></li>
                          
                          </ul>
                        </div>
                        <div class="col-sm-2">
                          <ul class="list-unstyled">
                            <li><p><strong>Tabletop</strong></p></li>
                            <li><a href="/fly/products/"> Table Runners </a></li>
                            <li><a href="/fly/products/"> Glass Plates </a></li>
                            <li><a href="/fly/products/"> Melamine Plates </a></li>
                            <li><a href="/fly/products/"> Coasters </a></li>
                            <li><a href="/fly/products/"> Cups </a></li>
                            <li><a href="/fly/products/"> Placemats </a></li>
                            <li><a href="/fly/products/"> See All Tabletop &gt; </a></li>
                           
                          </ul>
						  </div>
						<div class="col-sm-2">
						<ul class="list-unstyled">
                            <li><p><strong>Be comfy, stay cozy</strong></p></li></ul>
                          <a href="/fly/products/" class="thumbnail"><img src="/static/shutterfly-static/images/demo/mega-menu.jpg" alt=""></a>
						  <ul class="list-unstyled">
						  <li><a href="/fly/products/"> Learn More &gt; </a></li>
						  </ul>
                        </div>
						
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
			  <li class="dropdown mega-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Wedding<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <div class="mega-menu-content">
                      <div class="row">
                        <div class="col-sm-2">
                          <ul class="list-unstyled">
                            <li><p><strong>Wedding Suites</strong></p></li>
                            <li><a href="/fly/products/"> Wedding Invitations </a></li>
                            <li><a href="/fly/products/"> Response Cards </a></li>
                            <li><a href="/fly/products/"> Enclosure Cards </a></li>
                            <li><a href="/fly/products/"> Thank You Cards </a></li>
                            <li><a href="/fly/products/"> Address Labels</a></li>
                            <li><a href="/fly/products/"> Personalized Postage</a></li>
                            <li><a href="/fly/products/"> Shop All Wedding Suites &gt;</a></li>
                           
                          </ul>
                        </div>
                        <div class="col-sm-2">
                          <ul class="list-unstyled">
                            <li><p><strong>Wedding Invitation Styles</strong></p></li>
                            <li><a href="/fly/products/"> Classic </a></li>
                            <li><a href="/fly/products/"> Rustic</a></li>
                            <li><a href="/fly/products/"> Vintage </a></li>
                            <li><a href="/fly/products/"> Modern </a></li>
                            <li><a href="/fly/products/"> Whimsical </a></li>
                            <li><a href="/fly/products/"> Artistic </a></li>
                            <li><a href="/fly/products/"> Shop All Wedding Invitations &gt; </a></li>
                         
                          </ul>
                        </div>
                        <div class="col-sm-2">
                          <ul class="list-unstyled">
                            <li><p><strong>Save the Dates</strong></p></li>
							<li><a href="/fly/products/"> Magnets </a></li>
                            <li><a href="/fly/products/"> Flat Stationery Cards </a></li>
                            <li><a href="/fly/products/"> Wedding Paper Divas </a></li>
                            <li><a href="/fly/products/"> Foil-Stamped Cards</a></li>
                            <li><a href="/fly/products/"> Photo Paper Cards</a></li>
                            <li><a href="/fly/products/"> Personalized Postage </a></li>
                            <li><a href="/fly/products/"> Shop All Save the Dates &gt; </a></li>
                          </ul>
                        </div>
                        <div class="col-sm-2">
                          <ul class="list-unstyled">
                            <li><p><strong>Party Invitations</strong></p></li>
							<li><a href="/fly/products/"> Bridal Showers </a></li>
                            <li><a href="/fly/products/"> Rehearsal Dinner </a></li>
                            <li><a href="/fly/products/"> Engagement Party </a></li>
                            <li><a href="/fly/products/"> Bachelorette Party </a></li>
                            <li><a href="/fly/products/"> Anniversary Party </a></li>
                            <li><a href="/fly/products/"> Shop All Party Invitations &gt; </a></li>
                          
                          </ul>
						  </div>
						<div class="col-sm-2">
						<ul class="list-unstyled">
                            <li><p><strong>Free Sample Kit</strong></p></li></ul>
                          <a href="/fly/products/" class="thumbnail"><img src="/static/shutterfly-static/images/demo/mega-menu.jpg" alt=""></a>
                         <ul class="list-unstyled">
						 <li><a href="/fly/products/"> ORDER TODAY ></a></li>
						 </ul>
						</div>
						
                      </div>
					   <div class="row">
                        <div class="col-sm-2">
                          <ul class="list-unstyled">
                            <li><p><strong>Wedding Paper Divas</strong></p></li></ul>
                          <a href="/fly/products/" class="thumbnail"><img src="/static/shutterfly-static/images/demo/mega-menu.jpg" alt=""></a>
                         <ul class="list-unstyled">
						 <li><a href="/fly/products/"> Shop the Collection &gt;</a></li>
						 </ul>
                        </div>
						 <div class="col-sm-2">
                          <ul class="list-unstyled">
                            <li><p><strong>Wedding Day</strong></p></li>
                            <li><a href="/fly/products/"> Programs </a></li>
                            <li><a href="/fly/products/"> Guestbooks </a></li>
                            <li><a href="/fly/products/"> Place Cards </a></li>
                            <li><a href="/fly/products/"> Menus</a></li>
                            <li><a href="/fly/products/"> Gift Tags & Stickers </a></li>
                            <li><a href="/fly/products/"> Champagne Flutes </a></li>
                            <li><a href="/fly/products/"> Shop All Wedding Day Décor &gt; </a></li>
                          
                          </ul>
						  </div>
                        <div class="col-sm-2">
                          
						  <ul class="list-unstyled">
                            <li><p><strong>Bridal Party Gifts</strong></p></li>
                            <li><a href="/fly/products/"> Mugs </a></li>
                            <li><a href="/fly/products/"> Mason Jars</a></li>
                            <li><a href="/fly/products/"> Stemless Wine Glasses</a></li>
                            <li><a href="/fly/products/">Decanters </a></li>
                            <li><a href="/fly/products/"> Jewelry </a></li>
                            <li><a href="/fly/products/"> Canvas Tote Bags </a></li>
                            <li><a href="/fly/products/"> Shop All Bridal Party Gifts &gt;</a></li>
                          
                          </ul>
                        </div>
                        <div class="col-sm-2">
                          <ul class="list-unstyled">
                            <li><p><strong>Keepsakes & Gifts</strong></p></li>
                            <li><a href="/fly/products/"> Canvas Prints </a></li>
                            <li><a href="/fly/products/"> Framed Prints</a></li>
                            <li><a href="/fly/products/"> Glass Frames </a></li>
                            <li><a href="/fly/products/"> Desktop Plaques </a></li>
                            <li><a href="/fly/products/"> Glass Prints </a></li>
                            <li><a href="/fly/products/"> Acrylic Blocks </a></li>
                            <li><a href="/fly/products/"> Shop All Keepsakes &amp Gifts &gt;</a></li>
                        
                          </ul>
                        </div>
                       
						<div class="col-sm-2">
						<ul class="list-unstyled">
                            <li><p><strong>Wedding Albums</strong></p></li></ul>
                          <a href="/fly/products/" class="thumbnail"><img src="/static/shutterfly-static/images/demo/mega-menu.jpg" alt=""></a>
                        <ul class="list-unstyled">
						<li><a href="/fly/products/"> Learn More &gt;</a></li>
						 </ul>
						</div>
						
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
			   <li class="dropdown mega-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Special Offers<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <div class="mega-menu-content">
                      <div class="row">
                        <div class="col-sm-2">
                          <ul class="list-unstyled">
                            <li><p><strong>About Photo Books</strong></p></li></ul><br><br>
                            <a href="/fly/products/" class="thumbnail"><img src="/static/shutterfly-static/images/demo/mega-menu.jpg" alt=""></a>
						 <ul class="list-unstyled">
						 <li><a href="/fly/products/"> Learn More &gt; </a></li>
                            
                          </ul>
                        </div>
                        <div class="col-sm-2">
                          
						  <ul class="list-unstyled">
                            <li><p><strong>Save 50% on gifts <span class="span1">Code: WONDERFUL</span></strong></p></li></ul><br>
                           <a href="/fly/products/" class="thumbnail"><img src="/static/shutterfly-static/images/demo/mega-menu.jpg" alt=""></a>
						 <ul class="list-unstyled">
						 <li><a href="/fly/products/"> Shop Gifts &gt; </a></li>
                            
                          </ul>
                        </div>
                        <div class="col-sm-2">
                          <ul class="list-unstyled">
                            <li><p><strong>Save 50% on cards & stationery <span class="span1">Code: WONDERFUL</span></strong></p></li></ul>
                           <a href="/fly/products/" class="thumbnail"><img src="/static/shutterfly-static/images/demo/mega-menu.jpg" alt=""></a>
						 <ul class="list-unstyled">
						 <li><a href="/fly/products/"> Shop Cards &amp; Stationery &gt; </a></li>
                            
                          </ul>
                        </div>
                        <div class="col-sm-2">
                           <ul class="list-unstyled">
                            <li><p><strong>Save 50% on hardcover photo books <span class="span1">Code: WONDERFUL</span></strong></p></li></ul>
                           <a href="/fly/products/" class="thumbnail"><img src="/static/shutterfly-static/images/demo/mega-menu.jpg" alt=""></a>
						 
						 <ul class="list-unstyled">
						 <li><a href="/fly/products/"> Shop Photo Books &gt; </a></li>
                            
                          </ul>
						  </div>
						<div class="col-sm-2">
						<ul class="list-unstyled">
                            <li><p><strong>Save 50% on home decor <span class="span1">Code: WONDERFUL</span></strong></p></li></ul><br>
                          <a href="/fly/products/" class="thumbnail"><img src="/static/shutterfly-static/images/demo/mega-menu.jpg" alt=""></a>
						 <ul class="list-unstyled">
						 <li><a href="/fly/products/"> Shop Home Decor &gt;</a></li>
						 </ul>
                        </div>
						
                      </div>
					  </div>
					  </li>
					  </ul>
					  </li>
					  
              <!-- <li><a href="/cart/">Shopping Cart</a></li>
              <li><a href="/checkout/">Checkout</a></li>
			  
                  
				  <li><a href="/blog/">Blog</a></li>
              
             
			  <li><a href="/contact/">Contact Us</a></li> -->
            </ul>
            <!-- <ul class="nav navbar-nav navbar-right navbar-feature visible-lg">
              <li><a><i class="fa fa-truck"></i> Free Shipping</a></li>
              <li><a><i class="fa fa-money"></i> Cash on Delivery</a></li>
              <li><a><i class="fa fa-lock"></i> Secure Payment</a></li>
            </ul> -->
          </div>
      </div>
    </nav>
    <!-- End Navigation Bar -->
	
	{% block content_block %}

{% endblock %}
	
	
	
	
	<!-- Footer -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="title-footer"><span>About Us</span></div>
            <ul>
              <li>
                Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et doloremmagna aliqua. Ut enim ad minim... <a href="#">Read More</a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="title-footer"><span>Information</span></div>
            <ul>
              <li><i class="fa fa-angle-double-right"></i> <a href="#">FAQ</a></li>
              <li><i class="fa fa-angle-double-right"></i> <a href="#">Policy Privacy</a></li>
              <li><i class="fa fa-angle-double-right"></i> <a href="#">Terms and Conditions</a></li>
              <li><i class="fa fa-angle-double-right"></i> <a href="#">Shipping Methods</a></li>
            </ul>
          </div>
          <div class="clearfix visible-sm-block"></div>
          <div class="col-md-3 col-sm-6">
            <div class="title-footer"><span>Categories</span></div>
            <ul>
              <li><i class="fa fa-angle-double-right"></i> <a href="#">Cras justo odio</a></li>
              <li><i class="fa fa-angle-double-right"></i> <a href="#">Dapibus ac facilisis in</a></li>
              <li><i class="fa fa-angle-double-right"></i> <a href="#">Morbi leo risus</a></li>
              <li><i class="fa fa-angle-double-right"></i> <a href="#">Porta ac consectetur ac</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="title-footer"><span>Newsletter</span></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, soluta, tempora, ipsa voluptatibus porro vel laboriosam</p>
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Email Address">
              <span class="input-group-btn">
                <button class="btn btn-default subscribe-button" type="button">Subscribe</button>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="title-footer"><span>Our Store</span></div>
            <ul class="footer-icon">
              <li><span><i class="fa fa-map-marker"></i></span> 212 Lorem Ipsum. Dolor Sit, Amet</li>
              <li><span><i class="fa fa-phone"></i></span> +123-456-789</li>
              <li><span><i class="fa fa-envelope"></i></span> <a href="mailto:cs@domain.tld">cs@domain.tld</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="title-footer"><span>Follow Us</span></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum</p>
            <ul class="follow-us">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-rss"></i></a></li>
            </ul>
          </div>
          <div class="clearfix visible-sm-block"></div>
          <div class="col-md-3 col-sm-6">
            <div class="title-footer"><span>Payment Method</span></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, soluta, tempora, ipsa voluptatibus porro vel laboriosam</p>
            <img src="/static/shutterfly-static/images/payment-1.png" alt="Payment-1">
            <img src="/static/shutterfly-static/images/payment-2.png" alt="Payment-2">
            <img src="/static/shutterfly-static/images/payment-3.png" alt="Payment-3">
            <img src="/static/shutterfly-static/images/payment-4.png" alt="Payment-4">
            <img src="/static/shutterfly-static/images/payment-5.png" alt="Payment-5">
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="title-footer"><span>My Account</span></div>
            <ul>
              <li><i class="fa fa-angle-double-right"></i> <a href="#">Orders</a></li>
              <li><i class="fa fa-angle-double-right"></i> <a href="#">Vouchers</a></li>
              <li><i class="fa fa-angle-double-right"></i> <a href="#">Points</a></li>
              <li><i class="fa fa-angle-double-right"></i> <a href="#">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="text-center copyright">
        Copyright &copy; 2017 UB PHOTOS All right reserved.Designed By
<a href="http://delevere.com/" target="_blank" style="color:#009688;">	Delevere	
      </div>
    </div>
    <!-- End Footer -->

 

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/shutterfly-static/js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/shutterfly-static/bootstrap/js/bootstrap.js"></script>
    <!-- Plugins -->
    <script src="/static/shutterfly-static/js/bootstrap-select.js"></script>
    <script src="/static/shutterfly-static/js/owl.carousel.js"></script>
    <script src="/static/shutterfly-static/js/bootstrap3-typeahead.js"></script>
    <script src="/static/shutterfly-static/js/bootstrap-toolkit.js"></script>
    <script src="/static/shutterfly-static/js/mimity.js"></script>
  </body>
</html>