{% extends "shutterfly/base.html" %}

{% block title %}Shutterfly{% endblock %}

{% block content_block %}


    <!-- Breadcrumbs -->
    <div class="breadcrumb-container">
      <div class="container">
        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li class="active">Compare</li>
        </ol>
      </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Main Content -->
    <div class="container m-t-3">
      <div class="row">
        <div class="col-xs-12">
          <div class="title"><span>Product Comparison</span></div>
          <div class="table-responsive">
            <table class="table table-bordered table-compare">
              <thead>
                <tr>
                  <td class="compare-product" colspan="5">Product Details</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Product</td>
                  <td><a href="/detail/" class="d-block">WranglerGrey Printed Slim Fit Round Neck T-Shirt</a></td>
                  <td><a href="/detail/" class="d-block">CelioKhaki Printed Round Neck T-Shirt</a></td>
                  <td><a href="/detail/" class="d-block">CelioOff White Printed Round Neck T-Shirt</a></td>
                  <td><a href="/detail/" class="d-block">Levi'sNavy Blue Printed Round Neck T-Shirt</a></td>
                </tr>
                <tr>
                  <td>Image</td>
                  <td>
                    <a href="/detail/"><img class="img-thumbnail" ssrc="/static/shutterfly-static/images/demo/p1-small-1.jpg" alt="product image" width="100" height="109"></a>
                  </td>
                  <td>
                    <a href="/detail/"><img class="img-thumbnail" ssrc="/static/shutterfly-static/images/demo/p2-small-1.jpg" alt="product image" width="100" height="109"></a>
                  </td>
                  <td>
                    <a href="/detail/"><img class="img-thumbnail" ssrc="/static/shutterfly-static/images/demo/p3-small-1.jpg" alt="product image" width="100" height="109"></a>
                  </td>
                  <td>
                    <a href="/detail/"><img class="img-thumbnail" ssrc="/static/shutterfly-static/images/demo/p4-small-1.jpg" alt="product image" width="100" height="109"></a>
                  </td>
                </tr>
                <tr>
                  <td>Price</td>
                  <td>
                    <div class="price">
                      <div>Rs13.50 <span class="label-tags"><span class="label label-default arrowed">-10%</span></span></div>
                      <span class="price-old">Rs15.00</span>
                    </div>
                  </td>
                  <td>
                    <div class="price">
                      <div>Rs13.50 <span class="label-tags"><span class="label label-primary arrowed">-10%</span></span></div>
                      <span class="price-old">Rs15.00</span>
                    </div>
                  </td>
                  <td>
                    <div class="price">
                      <div>Rs13.50 <span class="label-tags"><span class="label label-success arrowed">-10%</span></span></div>
                      <span class="price-old">Rs15.00</span>
                    </div>
                  </td>
                  <td>
                    <div class="price">
                      <div>Rs13.50 <span class="label-tags"><span class="label label-danger arrowed">-10%</span></span></div>
                      <span class="price-old">Rs15.00</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Model</td>
                  <td>Model 1</td>
                  <td>Model 2</td>
                  <td>Model 3</td>
                  <td>Model 4</td>
                </tr>
                <tr>
                  <td>Brand</td>
                  <td>Brand 1</td>
                  <td>Brand 2</td>
                  <td>Brand 3</td>
                  <td>Brand 4</td>
                </tr>
                <tr>
                  <td>Availability</td>
                  <td>Available 1</td>
                  <td>Available 2</td>
                  <td>Available 3</td>
                  <td>Available 4</td>
                </tr>
                <tr>
                  <td>Rating</td>
                  <td>
                    <div class="rating">
                      <i class="ace-icon fa fa-star"></i>
                      <i class="ace-icon fa fa-star"></i>
                      <i class="ace-icon fa fa-star"></i>
                      <i class="ace-icon fa fa-star-half-o"></i>
                      <i class="ace-icon fa fa-star-o"></i>
                      <a href="#">(1 reviews)</a>
                    </div>
                  </td>
                  <td>
                    <div class="rating">
                      <i class="ace-icon fa fa-star"></i>
                      <i class="ace-icon fa fa-star"></i>
                      <i class="ace-icon fa fa-star"></i>
                      <i class="ace-icon fa fa-star-half-o"></i>
                      <i class="ace-icon fa fa-star-o"></i>
                      <a href="#">(2 reviews)</a>
                    </div>
                  </td>
                  <td>
                    <div class="rating">
                      <i class="ace-icon fa fa-star"></i>
                      <i class="ace-icon fa fa-star"></i>
                      <i class="ace-icon fa fa-star"></i>
                      <i class="ace-icon fa fa-star-half-o"></i>
                      <i class="ace-icon fa fa-star-o"></i>
                      <a href="#">(3 reviews)</a>
                    </div>
                  </td>
                  <td>
                    <div class="rating">
                      <i class="ace-icon fa fa-star"></i>
                      <i class="ace-icon fa fa-star"></i>
                      <i class="ace-icon fa fa-star"></i>
                      <i class="ace-icon fa fa-star-half-o"></i>
                      <i class="ace-icon fa fa-star-o"></i>
                      <a href="#">(4 reviews)</a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Summary</td>
                  <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, illum, qui1</td>
                  <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, illum, qui2</td>
                  <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, illum, qui3</td>
                  <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, illum, qui4</td>
                </tr>
                <tr>
                  <td></td>
                  <td><button class="btn btn-sm btn-theme" type="button"><i class="fa fa-shopping-cart"></i> Add To Cart</button></td>
                  <td><button class="btn btn-sm btn-theme" type="button"><i class="fa fa-shopping-cart"></i> Add To Cart</button></td>
                  <td><button class="btn btn-sm btn-theme" type="button"><i class="fa fa-shopping-cart"></i> Add To Cart</button></td>
                  <td><button class="btn btn-sm btn-theme" type="button"><i class="fa fa-shopping-cart"></i> Add To Cart</button></td>
                </tr>
                <tr>
                  <td></td>
                  <td><button class="btn btn-sm btn-theme" type="button"><i class="fa fa-remove"></i> Remove</button></td>
                  <td><button class="btn btn-sm btn-theme" type="button"><i class="fa fa-remove"></i> Remove</button></td>
                  <td><button class="btn btn-sm btn-theme" type="button"><i class="fa fa-remove"></i> Remove</button></td>
                  <td><button class="btn btn-sm btn-theme" type="button"><i class="fa fa-remove"></i> Remove</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          <nav aria-label="Shopping Cart Next Navigation">
            <ul class="pager">
              <li class="previous"><a href="products.html"><span aria-hidden="true">&larr;</span> Continue Shopping</a></li>
              <li class="next"><a href="cart.html">My Shopping Cart <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <!-- End Main Content -->

  {% endblock %}