{% extends "shutterfly/base.html" %}

{% block title %}Shutterfly{% endblock %}

{% block content_block %}


    <!-- Breadcrumbs -->
    <div class="breadcrumb-container">
      <div class="container">
        <ol class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li class="active">Contact Us</li>
        </ol>
      </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- Main Content -->
    <div class="container m-t-3">
      <div class="row">

        <!-- Contact Form -->
        <div class="col-sm-8">
          <div class="title"><span>Contact Us</span></div>
          <form>
            <div class="form-group">
              <label for="nameInput">Name (*)</label>
              <input type="text" class="form-control" id="nameInput" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="emailInput">Email Address (*)</label>
              <input type="email" class="form-control" id="emailInput" placeholder="Email Address">
            </div>
            <div class="form-group">
              <label for="subjectInput">Subject</label>
              <input type="text" class="form-control" id="subjectInput" placeholder="Subject">
            </div>
            <div class="form-group">
              <label for="notesInput">Message (*)</label>
              <textarea class="form-control" rows="3" id="notesInput"></textarea>
            </div>
            <button type="button" class="btn btn-theme pull-right">Send <i class="fa fa-arrow-circle-right"></i></button>
          </form>
        </div>
        <!-- End Contact Form -->

        <div class="clearfix visible-xs"></div>

        <!-- Contact Info -->
        <div class="col-sm-4">
          <div class="title"><span>Contact Info</span></div>
          <ul class="list-group list-group-nav">
            <li class="list-group-item">&raquo; 212 Lorem Ipsum. Dolor Sit, Amet</li>
            <li class="list-group-item">&raquo; +123-456-789</li>
            <li class="list-group-item">&raquo; cs@domain.tld</li>
          </ul>

          <!-- Location Map -->
          <div class="title"><span>Our Location</span></div>
          <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=central%2Bpark&amp;ie=UTF8&amp;z=12&amp;t=m&amp;iwloc=near&amp;output=embed"></iframe>
          </div>
          <!-- End Location Map -->

        </div>
        <!-- End Contact Info -->

      </div>
    </div>
    <!-- End Main Content -->

   {% endblock %}