{% extends "shutterfly/base.html" %}

{% block title %} UB PHOTOS {% endblock %}

{% block content_block %}
	

     <!-- Full Slider -->
    <div class="container-fluid">
      <div class="row">
        <div class="owl-carousel owl-theme home-slider">
          <a href="/fly/products/"><div class="item owl-cover" data-xs-height="220px" data-sm-height="350px" data-md-height="400px" data-lg-height="430px" data-src="/static/shutterfly-static/images/demo/slide-1-full.jpg"></div></a>
          <a href="/fly/products/"><div class="item owl-cover" data-xs-height="220px" data-sm-height="350px" data-md-height="400px" data-lg-height="430px" data-src="/static/shutterfly-static/images/demo/slide-2-full.jpg"></div></a>
          </div>
      </div>
    </div>
    <!-- End Full Slider -->

    <!-- Main Content -->
    <div class="container m-t-2">
      <div class="row">

        <!-- New Arrivals & Best Selling -->
        <div class="col-md-3 m-b-1">
          <div class="title"><span><a href="/fly/products/">New Arrivals <i class="fa fa-chevron-circle-right"></i></a></span></div>
          <div class="widget-slider owl-carousel owl-theme owl-controls-top-offset m-b-2">
            <div class="box-product-outer">
              <div class="box-product">
                <div class="img-wrapper">
                  <a href="/fly/detail/">
                    <img alt="Product" src="/static/shutterfly-static/images/demo/p1-1.jpg">
                  </a>
                  <div class="tags tags-left">
                    <span class="label-tags"><a href="/fly/products/"><span class="label label-success arrowed-right">New Arrivals</span></a></span>
                  </div>
                  <div class="option">
                    <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                    <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-align-left"></i></a>
                    <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                  </div>
                </div>
                <h6><a href="/fly/detail/">Gallery Collage</a></h6>
                <div class="price">
                  <div>Rs15.00</div>
                </div>
              </div>
            </div>

           
           
          </div>
          <div class="title"><span><a href="/fly/products/">Best Selling <i class="fa fa-chevron-circle-right"></i></a></span></div>
          <div class="widget-slider owl-carousel owl-theme owl-controls-top-offset">
            <div class="box-product-outer">
              <div class="box-product">
                <div class="img-wrapper">
                  <a href="/fly/detail/">
                    <img alt="Product" src="/static/shutterfly-static/images/demo/p5-1.jpg">
                  </a>
                  <div class="tags tags-left">
                    <span class="label-tags"><span class="label label-primary arrowed-right">Popular</span></span>
                    <span class="label-tags"><span class="label label-default arrowed-right">Top Week</span></span>
                  </div>
                  <div class="option">
                    <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                    <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-align-left"></i></a>
                    <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                  </div>
                </div>
                <h6><a href="/fly/detail/">Metallic Mugs</a></h6>
                <div class="price">
                  <div>Rs13.50 <span class="label-tags"><span class="label label-danger arrowed">-10%</span></span></div>
                  <span class="price-old">Rs15.00</span>
                </div>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <a href="#">(5 reviews)</a>
                </div>
              </div>
            </div>
       
          </div>
        </div>
        <!-- End New Arrivals & Best Selling -->

        <div class="clearfix visible-sm visible-xs"></div>

        <div class="col-md-9">

          <!-- Featured -->
          <div class="title"><span>Featured Products</span></div>
          <div class="col-xs-6 col-sm-4 col-lg-3 box-product-outer">
            <div class="box-product">
              <div class="img-wrapper">
                <a href="/fly/detail/">
                  <img alt="Product" src="/static/shutterfly-static/images/demo/polo1.jpg">
                </a>
                <div class="tags">
                  <span class="label-tags"><span class="label label-default arrowed">Featured</span></span>
                </div>
                <div class="tags tags-left">
                 
                </div>
                <div class="option">
                  <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                  <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-align-left"></i></a>
                  <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                </div>
              </div>
              <h6><a href="/fly/detail/">Photo Gallery</a></h6>
              <div class="price">
                <div>Rs13.50 <span class="label-tags"><span class="label label-default">-10%</span></span></div>
                <span class="price-old">Rs15.00</span>
              </div>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <a href="#">(5 reviews)</a>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-lg-3 box-product-outer">
            <div class="box-product">
              <div class="img-wrapper">
                <a href="/fly/detail/">
                  <img alt="Product" src="/static/shutterfly-static/images/demo/polo2.jpg">
                </a>
                <div class="tags">
                  <span class="label-tags"><span class="label label-default arrowed">Featured</span></span>
                </div>
                <div class="tags tags-left">
                  
                </div>
                <div class="option">
                  <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                  <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-align-left"></i></a>
                  <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                </div>
              </div>
              <h6><a href="/fly/detail/">Modern Gallery</a></h6>
              <div class="price">
                <div>Rs13.50 <span class="label-tags"><span class="label label-primary">-10%</span></span></div>
                <span class="price-old">Rs15.00</span>
              </div>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <a href="#">(5 reviews)</a>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-lg-3 box-product-outer">
            <div class="box-product">
              <div class="img-wrapper">
                <a href="/fly/detail/">
                  <img alt="Product" src="/static/shutterfly-static/images/demo/polo3.jpg">
                </a>
                <div class="tags">
                  <span class="label-tags"><span class="label label-default arrowed">Featured</span></span>
                </div>
                <div class="tags tags-left">
                 
                </div>
                <div class="option">
                  <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                  <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-align-left"></i></a>
                  <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                </div>
              </div>
              <h6><a href="/fly/detail/">Portrait</a></h6>
              <div class="price">
                <div>Rs13.50 <span class="label-tags"><span class="label label-success">-10%</span></span></div>
                <span class="price-old">Rs15.00</span>
              </div>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <a href="#">(5 reviews)</a>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-4 col-lg-3 visible-xs visible-lg box-product-outer">
            <div class="box-product">
              <div class="img-wrapper">
                <a href="/fly/detail/">
                  <img alt="Product" src="/static/shutterfly-static/images/demo/polo4.jpg">
                </a>
                <div class="tags">
                  <span class="label-tags"><span class="label label-default arrowed">Featured</span></span>
                </div>
                <div class="tags tags-left">
                 
                </div>
                <div class="option">
                  <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                  <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-align-left"></i></a>
                  <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                </div>
              </div>
              <h6><a href="/fly/detail/">Mixed Seven Up Portrait</a></h6>
              <div class="price">
                <div>Rs13.50 <span class="label-tags"><span class="label label-danger">-10%</span></span></div>
                <span class="price-old">Rs15.00</span>
              </div>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <a href="#">(5 reviews)</a>
              </div>
            </div>
          </div>
          <!-- End Featured -->

          <div class="clearfix visible-sm visible-xs"></div>

          <!-- Collection -->
          <div class="title m-t-2"><span>Metallic Mugs</span></div>
          <div class="product-slider owl-carousel owl-theme owl-controls-top-offset">
            <div class="box-product-outer">
              <div class="box-product">
                <div class="img-wrapper">
                  <a href="/fly/detail/">
                    <img alt="Product" src="/static/shutterfly-static/images/demo/vneck1.jpg">
                  </a>
                  <div class="tags">
                   
                    <span class="label-tags"><span class="label label-default arrowed">Collection</span></span>
                  </div>
                  <div class="option">
                    <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                    <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-align-left"></i></a>
                    <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                  </div>
                </div>
                <h6><a href="/fly/detail/">Chevron Border</a></h6>
                <div class="price">
                  <div>Rs13.50 <span class="label-tags"><span class="label label-danger arrowed">-10%</span></span></div>
                  <span class="price-old">Rs15.00</span>
                </div>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <i class="fa fa-star-o"></i>
                  <a href="#">(5 reviews)</a>
                </div>
              </div>
            </div>
            <div class="box-product-outer">
              <div class="box-product">
                <div class="img-wrapper">
                  <a href="/fly/detail/">
                    <img alt="Product" src="/static/shutterfly-static/images/demo/vneck2.jpg">
                  </a>
                  <div class="tags">
                   
                    <span class="label-tags"><span class="label label-primary arrowed">Collection</span></span>
                  </div>
                  <div class="option">
                    <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                    <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-align-left"></i></a>
                    <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                  </div>
                </div>
                <h6><a href="/fly/detail/">Love Is All You Need</a></h6>
                <div class="price">
                  <div>Rs13.50 <span class="label-tags"><span class="label label-success arrowed">-10%</span></span></div>
                  <span class="price-old">Rs15.00</span>
                </div>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <i class="fa fa-star-o"></i>
                  <a href="#">(5 reviews)</a>
                </div>
              </div>
            </div>
            <div class="box-product-outer">
              <div class="box-product">
                <div class="img-wrapper">
                  <a href="/fly/detail/">
                    <img alt="Product" src="/static/shutterfly-static/images/demo/vneck3.jpg">
                  </a>
                  <div class="tags">
                   
                    <span class="label-tags"><span class="label label-success arrowed">Collection</span></span>
                  </div>
                  <div class="option">
                    <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                    <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-align-left"></i></a>
                    <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                  </div>
                </div>
                <h6><a href="/fly/detail/">Photo Printed</a></h6>
                <div class="price">
                  <div>Rs13.50 <span class="label-tags"><span class="label label-primary arrowed">-10%</span></span></div>
                  <span class="price-old">Rs15.00</span>
                </div>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <i class="fa fa-star-o"></i>
                  <a href="#">(5 reviews)</a>
                </div>
              </div>
            </div>
            <div class="box-product-outer">
              <div class="box-product">
                <div class="img-wrapper">
                  <a href="/fly/detail/">
                    <img alt="Product" src="/static/shutterfly-static/images/demo/vneck4.jpg">
                  </a>
                  <div class="tags">
                   
                    <span class="label-tags"><span class="label label-info arrowed">Collection</span></span>
                  </div>
                  <div class="option">
                    <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                    <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-align-left"></i></a>
                    <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                  </div>
                </div>
                <h6><a href="/fly/detail/">Photo with location</a></h6>
                <div class="price">
                  <div>Rs13.50 <span class="label-tags"><span class="label label-default arrowed">-10%</span></span></div>
                  <span class="price-old">Rs15.00</span>
                </div>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <i class="fa fa-star-o"></i>
                  <a href="#">(5 reviews)</a>
                </div>
              </div>
            </div>
            <div class="box-product-outer">
              <div class="box-product">
                <div class="img-wrapper">
                  <a href="/fly/detail/">
                    <img alt="Product" src="/static/shutterfly-static/images/demo/vneck1.jpg">
                  </a>
                  <div class="tags">
                   
                    <span class="label-tags"><span class="label label-default arrowed">Collection</span></span>
                  </div>
                  <div class="option">
                    <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                    <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-align-left"></i></a>
                    <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                  </div>
                </div>
                <h6><a href="/fly/detail/">PhosphorusGrey Melange Printed V Neck T-Shirt</a></h6>
                <div class="price">
                  <div>Rs13.50 <span class="label-tags"><span class="label label-danger arrowed">-10%</span></span></div>
                  <span class="price-old">Rs15.00</span>
                </div>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <i class="fa fa-star-o"></i>
                  <a href="#">(5 reviews)</a>
                </div>
              </div>
            </div>
            <div class="box-product-outer">
              <div class="box-product">
                <div class="img-wrapper">
                  <a href="/fly/detail/">
                    <img alt="Product" src="/static/shutterfly-static/images/demo/vneck2.jpg">
                  </a>
                  <div class="tags">
                   
                    <span class="label-tags"><span class="label label-primary arrowed">Collection</span></span>
                  </div>
                  <div class="option">
                    <a href="#" data-toggle="tooltip" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                    <a href="#" data-toggle="tooltip" title="Add to Compare"><i class="fa fa-align-left"></i></a>
                    <a href="#" data-toggle="tooltip" title="Add to Wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                  </div>
                </div>
                <h6><a href="/fly/detail/">United Colors of BenettonNavy Blue Solid V Neck T Shirt</a></h6>
                <div class="price">
                  <div>Rs13.50 <span class="label-tags"><span class="label label-success arrowed">-10%</span></span></div>
                  <span class="price-old">Rs15.00</span>
                </div>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <i class="fa fa-star-o"></i>
                  <a href="#">(5 reviews)</a>
                </div>
              </div>
            </div>
			
          </div>
          <!-- End Collection -->

        </div>

      </div>
	  


      
    </div>
    <!-- End Main Content -->
	
	

       {% endblock %}