<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  

<head>
    <title>Ambedkar</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">  
	
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>   
    <!-- Global CSS -->
    <link rel="stylesheet" href="/static/amsstatic/assets/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="/static/amsstatic/assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/static/amsstatic/assets/plugins/flexslider/flexslider.css">
    <link rel="stylesheet" href="/static/amsstatic/assets/plugins/pretty-photo/css/prettyPhoto.css"> 
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="/static/amsstatic/assets/css/styles.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<!--	<script>
	var message = "";
///////////////////////////////////
function clickIE() {
    if (document.all) {
        (message);
        return false;
    }
}

function clickNS(e) {
    if (document.layers || (document.getElementById && !document.all)) {
        if (e.which == 2 || e.which == 3) {
            (message);
            return false;
        }
    }
}
if (document.layers) {
    document.captureEvents(Event.MOUSEDOWN);
    document.onmousedown = clickNS;
} else {
    document.onmouseup = clickNS;
    document.oncontextmenu = clickIE;
}

document.oncontextmenu = new Function("return false")
	
</script> -->
	
</head> 

<body class="home-page">
    <div class="wrapper">
        <!-- ******HEADER****** --> 
        <header class="header">  
      <!--      <div class="top-bar">
                <div class="container">              
                    <ul class="social-icons col-md-6 col-sm-6 col-xs-12 hidden-xs">
                        <li><a href="#" ><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" ><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" ><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#" ><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#" ><i class="fa fa-google-plus"></i></a></li>         
                        <li class="row-end"><a href="#" ><i class="fa fa-rss"></i></a></li>             
                    </ul>
                    <form class="pull-right search-form" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search the site...">
                        </div>
                        <button type="submit" class="btn btn-theme">Go</button>
                    </form>         
                </div>      
            </div><!--//to-bar-->
             <div class="header-main container" style="padding-bottom: 0px;">
                <h1 class="logo col-md-12 col-sm-12">
                    <a href="/"><img id="logo" class="img-responsive" style="padding-left: 100px;" src="/static/amsstatic/assets/images/logo1.png" alt="Logo"></a>
					<p align="center"><b align="center" style="padding-right: 30px;"><h3 align="center">Registration No : 135/77. </h3> </b></p>
                </h1><!--//logo-->           
                
            </div>
        </header><!--//header-->
		
		       <!-- ******NAV****** -->
        <nav class="main-nav" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->            
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item"><a href="/">Home</a></li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">Management<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                               <li><a href="/founder/">Founder</a></li>
                                
                                <li><a href="/secretery/">Body Members</a></li>   
                                       
                            </ul>
                        </li>
                         
						<li class="nav-item"><a href="/members/">Members</a></li>
                        <!-- <li class="nav-item"><a href="events.html">Events</a></li> -->
						<li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">Facility Info <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/booking/">Hall booking</a></li>
                               <!-- <li><a href="/roombooking/">Room booking</a></li>    -->
                                       
                            </ul>
                        </li> 
						
						
						<li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="/resources/">Resources <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/video/">Videos</a></li>
                                <li><a href="/audio/"> Audio</a></li>    
								  <li><a href="/image/"> Images</a></li>  
                                      
                            </ul> 
                        </li> 
						
						<li class="nav-item"><a href="/searchbook/">library</a></li>
						
						
						
						<!--<li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="/searchbook/">library <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/searchbook/">Search book</a></li>
                                <li><a href="/searchbook/">Issue book</a></li>    
                                      
                            </ul> 
                        </li> -->
						
						<li class="nav-item dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false" href="#">Activities <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/activites/">Our activities</a></li>
                                <li><a href="/events/">Events</a></li>    
                                      
                            </ul>
                        </li> 
						
						
						
					<!--	<li class="nav-item"><a href="/activites/">our activites</a></li>
						<li class="nav-item"><a href="/events/">Events</a></li> -->
						<li class="nav-item"><a href="/about/">About ambedkar</a></li>
						<li class="nav-item"><a href="/websites/">Websites</a></li>
						<li class="nav-item"><a href="/contact/">Contact us</a></li>
						
                  
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </div><!--//container-->
        </nav><!--//main-nav-->

   
   				{% block content %}

            {% endblock %}

       
  <footer class="footer">
        <div class="footer-content">
            <div class="container">
                <div class="row">
                <div class="footer-col col-md-3 col-sm-4 about">
                    <div class="footer-col-inner">
                        <h3>About</h3>
                        <ul>
                            <li><a href="/about/"><i class="fa fa-caret-right"></i>About us</a></li>
                            <li><a href="/contact/"><i class="fa fa-caret-right"></i>Contact us</a></li>
                            <li><a href="/activites/"><i class="fa fa-caret-right"></i>Activities</a></li>
                            <li><a href="/members/"><i class="fa fa-caret-right"></i>Members</a></li>
                        </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
                <div class="footer-col col-md-6 col-sm-8 newsletter">
                    <div class="footer-col-inner">
					<div class="page-row">					
					<article class="map-section">
					
                            
                           <div class="mapouter"><div class="gmap_canvas"><iframe width="450" height="250" id="gmap_canvas" src="https://maps.google.com/maps?q=Dr%20Ambedkar%20Bhavan%2C%20Old%20TB%20Hospital%20Area%2C%20Dwaraka%20Nagar%2C%20Visakhapatnam%2C%20Andhra%20Pradesh%20530016&t=&z=16&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>embed google map with <a href="http://www.embedgooglemap.net">embedgooglemap.net</a>
						   </div><style>.mapouter{overflow:hidden;height:240px;width:600px;}.gmap_canvas {background:none!important;height:250px;width:600px;}</style></div>
                          </article></div><!--//page-row-->

						  
						  </div><!--//footer-col-inner-->
					</div><!--//foooter-col--> 
                       <!-- <h3>Join our mailing list</h3>
                        <p>Subscribe to get our weekly newsletter delivered directly to your inbox</p>
                        <form class="subscribe-form">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Enter your email" />
                            </div>
                            <input class="btn btn-theme btn-subscribe" type="submit" value="Subscribe">
                        </form>-->
                        
                    
                <div class="footer-col col-md-3 col-sm-12 contact">
                    <div class="footer-col-inner">
                        <h3>Contact us</h3>
                        <div class="row">
                            <p class="adr clearfix col-md-12 col-sm-4">
                                <i class="fa fa-map-marker pull-left"></i>        
                                <span class="adr-group pull-left">       
                                    <span class="street-address"># 52-14-80, Dr B.R Ambedkar Bhavan </span><br>
                                    <span class="region">Opp Govt. Eye Hospital</span><br>
                                    <span class="postal-code">Beside bullaya college, Srinagar</span><br>
                                    <span class="country-name">Visakhapatnam-17</span>
                                </span>
                            </p>
                            <p class="tel col-md-12 col-sm-4"><i class="fa fa-phone"></i>Tel: 0891 2541130</p>
                            <p class="email col-md-12 col-sm-4"><i class="fa fa-envelope"></i><a href="#">ambedkarbhavanvsp1978@gmail.com</a></p>  
                        </div> 
                    </div><!--//footer-col-inner-->            
                </div><!--//foooter-col-->   
                </div>   
            </div>        
        </div><!--//footer-content-->
        <div class="bottom-bar">
            <div class="container">
                <div class="row">
                    <small class="copyright col-md-6 col-sm-12 col-xs-12">Copyright @ 2017  <a href="http://delevere.com/" target="_blank">Delevere</a></small>
                    <ul class="social pull-right col-md-6 col-sm-12 col-xs-12">
                        <li><a href="#" ><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" ><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" ><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#" ><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#" ><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" ><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#" ><i class="fa fa-skype"></i></a></li> 
                        <li class="row-end"><a href="#" ><i class="fa fa-rss"></i></a></li>
                    </ul><!--//social-->
                </div><!--//row-->
            </div><!--//container-->
        </div><!--//bottom-bar-->
    </footer><!--//footer-->
    
   

    <!-- Javascript -->          
    <script type="text/javascript" src="/static/amsstatic/assets/plugins/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="/static/amsstatic/assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
    <script type="text/javascript" src="/static/amsstatic/assets/plugins/bootstrap-hover-dropdown.min.js"></script> 
    <script type="text/javascript" src="/static/amsstatic/assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="/static/amsstatic/assets/plugins/jquery-placeholder/jquery.placeholder.js"></script>
    <script type="text/javascript" src="/static/amsstatic/assets/plugins/pretty-photo/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="/static/amsstatic/assets/plugins/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="/static/amsstatic/assets/plugins/jflickrfeed/jflickrfeed.min.js"></script> 
    <script type="text/javascript" src="/static/amsstatic/assets/js/main.js"></script>   
	
	

	
</body>

</html> 

