    
{% extends "base.html" %}

{% block title %}My Maths{% endblock %}

{% block content %}


        <div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Events</h1>
                    <div class="breadcrumbs pull-right">
                        <ul class="breadcrumbs-list">
                            <li class="breadcrumbs-label">You are here:</li>
                            <li><a href="/">Home</a><i class="fa fa-angle-right"></i></li>
                            <li class="current">Events</li>
                        </ul>
                    </div><!--//breadcrumbs-->
                </header> 
                <div class="page-content">                 
                    <div class="row page-row">                     
                        <div class="team-wrapper col-md-8 col-sm-7">        
                            <div class="row page-row" >
                                <figure class="thumb col-md-3 col-sm-4 col-xs-6">
                                    
                                </figure>
                                <div class="details col-md-9 col-sm-8 col-xs-6">
						{% for e in Events %}
                            <div class="event-item">
                                <p class="date-label">
                                    <span class="month">{{e.month}}</span>
                                    <span class="date-number">{{e.date}}</span>
                                </p>
                                <div class="details">
                                    <h2 class="title">{{e.title}}</h2>
                                    <p class="time"><i class="fa fa-clock-o"></i>{{e.time}}</p>
                                    <p class="location"><i class="fa fa-map-marker"></i>{{e.location}}</p>
									<p class="location">{{e.description}}</p>	
									
                                </div><!--//details-->
                            </div><!--event-item-->  
						{% endfor %}	
                                                
                                </div>                               
                            </div>

                        </div><!--//team-wrapper-->
                        <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">      
                            <section class="links">
                        <h1 class="section-heading text-highlight"><span class="line">Quick Links</span></h1>
                        <div class="section-content">
                            
                            <p><a href="/activites/"><i class="fa fa-caret-right"></i>Activites</a></p>
                            <p><a href="#"><i class="fa fa-caret-right"></i>Job Vacancies</a></p>
                            <p><a href="/contact/"><i class="fa fa-caret-right"></i>Contact</a></p>
                        </div><!--//section-content-->
                    </section><!--//links-->              
                           
                        </aside>
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content--> 

       
{% endblock %}