{% extends "base.html" %}

{% block title %}My Maths{% endblock %}

{% block content %}
     
  
    
        <!-- ******CONTENT****** --> 
        <div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Founders</h1>
                    <div class="breadcrumbs pull-right">
                        <ul class="breadcrumbs-list">
                            <li class="breadcrumbs-label">You are here:</li>
                            <li><a href="/">Home</a><i class="fa fa-angle-right"></i></li>
                            <li class="current">Founder<i class="fa fa-angle-right"></i></li>
                            
                        </ul>
                    </div><!--//breadcrumbs-->
                </header> 
               <div class="page-content">                 
                    <div class="row page-row">                     
                        <div class="team-wrapper col-md-8 col-sm-7">        
                            <div class="row page-row" >
                                <figure class="thumb col-md-3 col-sm-4 col-xs-6">
                                    <img class="img-responsive" src="/static/amsstatic/assets/images/team/dummy.jpg" alt="" />
                                </figure>
                                <div class="details col-md-9 col-sm-8 col-xs-6">
                                    <h3 class="title">Dr. Subba Rao</h3>
                                    <h4>Founder</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse aliquam, tellus id pellentesque viverra, metus lacus lobortis augue, sed malesuada urna sapien id orci. Maecenas pharetra mauris quis tincidunt egestas. Sed condimentum felis quis nulla varius. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam diam diam, porttitor quis mollis non, suscipit id tellus. Nullam a ultrices sem, vel tincidunt felis. Sed eu suscipit erat. Nam malesuada, leo porta rhoncus blandit, ipsum tellus fringilla mi, ac pretium nisl turpis sit amet purus. Mauris pellentesque tincidunt lacus commodo lobortis. Nulla consectetur scelerisque molestie.</p>                                 
                                </div>                               
                            </div>
                           
                            
                        </div><!--//team-wrapper-->
                        <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">      
                              <section class="links">
                        <h1 class="section-heading text-highlight"><span class="line">About Founder</span></h1>
                        <div class="section-content">
                           
                                 <p class="tel"><i class="fa fa-phone"></i>Tel: 0891 2541130</p>
                                <p class="email"><i class="fa fa-envelope"></i>Email: <a href="#">ambedkarbhavanvsp1978@gmail.com</a></p>
                        </div><!--//section-content-->
                    </section><!--//links-->           
                           
                        </aside>
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->
    
 {% endblock %}
