    
{% extends "base.html" %}

{% block title %}Ambedkar{% endblock %}

{% block content %}
 
        <!-- ******CONTENT****** --> 
        <div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Members</h1>
                    <div class="breadcrumbs pull-right">
                        <ul class="breadcrumbs-list">
                            <li class="breadcrumbs-label">You are here:</li>
                            <li><a href="/">Home</a><i class="fa fa-angle-right"></i></li>
                            <li class="current">Members</li>
                        </ul>
                    </div><!--//breadcrumbs-->
                </header> 
				
			{% if search  %}
	<h3> <b> Search of {{ category }} </b> </h3>
				
				
				 <div class="page-content">
                    <div class="row page-row">
                        <div class="col-sm-8 col-sm-offset-2">
					<form class="search-form" role="search" action="/search">
                        <div class="form-group">
                            <input name = "q" type="text" class="form-control" placeholder="Search Member">
                        </div>
                        <button type="submit" class="btn btn-theme">Go</button>
                    </form>   
                         
                                                                           
                        </div><!--//faq-wrapper-->
                      
                    </div><!--//page-row-->
                </div><!--//page-content-->
				
				
						{% else %}
                    
    <h2> No results for keyword : {{ category }}  </h2>
            {% endif %}

				
                <div class="page-content">                 
                    <div class="row page-row">                     
                        <div class="team-wrapper col-md-8 col-sm-7">  
							{% for s in search %}
                            <div class="row page-row" >
									<figure class="thumb col-md-3 col-sm-4 col-xs-6">
										<img class="img-responsive" src="media/{{s.image}}" style="width:165px; height:204px" alt="" />
									</figure>
								
                                <div class="details col-md-9 col-sm-8 col-xs-6">
                                   <a href="media/{{s.application}}"> <h3 class="title"><b>Name : </b>{{s.name}}</h3> </a>
                                    <h4><b>Designation : </b>{{s.designation}}</h4>
                                    <p><b> Description/Address : </b>{{s.description}}</p>    
									<p><b>Membership No. : </b>{{s.membership}}</p> 
									<p><b>Phone : </b>{{s.phone}}</p>
                                </div>                               
                            </div>
							{% endfor %}
                        </div><!--//team-wrapper-->
                        <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">      
                            <section class="links">
                        <h1 class="section-heading text-highlight"><span class="line">Quick Links</span></h1>
                        <div class="section-content">
                            
                            <p><a href="/scolarship/"><i class="fa fa-caret-right"></i>Scolarshipsw</a></p>
                            <p><a href="/jobs/"><i class="fa fa-caret-right"></i>Job Vacancies</a></p>
                            <p><a href="/contact/"><i class="fa fa-caret-right"></i>Contact</a></p>
                        </div><!--//section-content-->
                    </section><!--//links-->              
                           
                        </aside>
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

{% endblock %}