{% extends "base.html" %}

{% block title %}My Maths{% endblock %}

{% block content %}
     
  
    
        <!-- ******CONTENT****** --> 
        <div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Body Members</h1>
                    <div class="breadcrumbs pull-right">
                        <ul class="breadcrumbs-list">
                            <li class="breadcrumbs-label">You are here:</li>
                            <li><a href="/">Home</a><i class="fa fa-angle-right"></i></li>
                            <li class="current">Body Members<i class="fa fa-angle-right"></i></li>
                            
                        </ul>
                    </div><!--//breadcrumbs-->
                </header> 
               <div class="page-content">                 
                    <div class="row page-row">                     
                        <div class="team-wrapper col-md-8 col-sm-7">  
							{% for m in Secretery %}
                            <div class="row page-row" >
                                <figure class="thumb col-md-3 col-sm-4 col-xs-6">
                                    <img class="img-responsive" src="media/{{m.image}}" style="width:165px; height:204px" alt="" />
                                </figure>
                                 <div class="details col-md-9 col-sm-8 col-xs-6">
                                   <a href="media/{{m.application}}"> <h3 class="title">Name : <b>{{m.name}}</b></h3> </a>
                                    <h4>Designation : <b>{{m.designation}}</b></h4>
                                    <p> Description/Address : <b>{{m.description}}</b></p> 
									<p>Membership No. : <b>{{m.membership}}</b></p> 	
									<p>Phone : <b>{{m.phone}}</b></p>
                                </div>   
                            </div>
							{% endfor %}
                           
                            
                        </div><!--//team-wrapper-->
                        <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">      
                             <section class="links">
							 <!--
                        <h1 class="section-heading text-highlight"><span class="line">About Secretery</span></h1>
                        <div class="section-content">
                           
                                 <p class="tel"><i class="fa fa-phone"></i>Tel: 0800 123 4567</p>
                                <p class="email"><i class="fa fa-envelope"></i>Email: <a href="#">contact@ambedkar.com</a></p>
                       --> </div><!--//section-content-->
                    </section><!--//links-->        
                           
                        </aside>
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->
    
 {% endblock %}
