{% extends "base.html" %}

{% block title %}My Maths{% endblock %}

{% block content %}
     
        <!-- ******CONTENT****** --> 
        <div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">Our Related Websites</h1>
                    <div class="breadcrumbs pull-right">
                        <ul class="breadcrumbs-list">
                            <li class="breadcrumbs-label">You are here:</li>
                            <li><a href="index-2.html">Home</a><i class="fa fa-angle-right"></i></li>
                            <li class="current">Course List</li>
                        </ul>
                    </div><!--//breadcrumbs-->
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <div class="courses-wrapper col-md-8 col-sm-7">           
                          
                           
                                              
                            <article class="course-item row-divider">   
                                
                                    <a href="http://ambedkarfoundation.nic.in/html/index.html" target="_blank">Ambedkar Foundation</a> 
                                
                            </article><!--//course-item-->
                            <article class="course-item row-divider">   
                                
                                    <a href="http://ambedkarmission.org/" target="_blank">Ambedkar Mission</a> 
                                
                            </article><!--//course-item-->
                             <article class="course-item row-divider">   
                                
                                    <a href="http://www.aanausa.org/" target="_blank">Aanausa</a> 
                                
                            </article><!--//course-item-->
                             <article class="course-item row-divider">   
                                
                                    <a href="http://www.ambedkarinternationalcenter.org/" target="_blank">Ambedkar International Center</a> 
                                
                            </article><!--//course-item-->
                            
                             <article class="course-item row-divider">   
                                
                                    <a href="http://drambedkarwritings.gov.in/" target="_blank">Dr Ambedkar writings</a> 
                                
                            </article><!--//course-item-->
                             
							
                        </div><!--//courses-wrapper-->
                        <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">  
                                         
                            <section class="links">
                        <h1 class="section-heading text-highlight"><span class="line">Quick Links</span></h1>
                        <div class="section-content">
                            
                            <p><a href="/activites/"><i class="fa fa-caret-right"></i>Activities</a></p>
                            <p><a href="/jobs/"><i class="fa fa-caret-right"></i>Job Vacancies</a></p>
                            <p><a href="/contact/"><i class="fa fa-caret-right"></i>Contact</a></p>
                        </div><!--//section-content-->
                    </section><!--//links--> 
                             
                        </aside>
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->
    </div><!--//wrapper-->

{% endblock %}