<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ABVGK</title>
<link href="/static/abvgk-static/assets/css/bootstrap.min.css" rel="stylesheet">
<!-- <link href="../../../pixfill.com/templates/rockit2.0/assets/css/bootstrap-theme.min.html" rel="stylesheet"> -->
<link href="/static/abvgk-static/assets/css/iconmoon.css" rel="stylesheet">
<link href="/static/abvgk-static/assets/css/style.css" rel="stylesheet">
<link href="/static/abvgk-static/assets/css/menu.css" rel="stylesheet">
<link href="/static/abvgk-static/assets/css/color.css" rel="stylesheet">
<link href="/static/abvgk-static/assets/css/widget.css" rel="stylesheet">
<link href="/static/abvgk-static/assets/css/browser-detect.css" rel="stylesheet">
<link href="/static/abvgk-static/assets/css/responsive.css" rel="stylesheet">

</head>
<body>
<div class="wrapper"> 
	<!-- Header Start -->
<header id="header">
    <div class="container">
      <div class="row">
        <div class="logo">
          <a href="/abvgk/"><img src="/static/abvgk-static/assets/images/logo3.png" alt="" /></a>
        </div>
        <div class="px-header-right">
          <div class="navigation">
            <ul>
              <li><a href='/abvgk/'>Home</a></li>
             
              <li><a href='/abvgk/schedule/'>Event Schedule</a></li>
              <li><a href='/abvgk/contact/'>CONTACT</a></li>
            </ul>
          </div>
         
          <div class="px-share"> <a href="#"><i class="icon-share2"></i></a>
            <ul>
              <li><a href="#" data-original-title="facebook"><i class="icon-facebook-square"></i></a></li>
              <li><a href="#" data-original-title="twitter"><i class="icon-twitter2"></i></a></li>
             
            </ul>
          </div>
         
        </div>
      </div>
    </div>
  </header>
	<!-- Header End --> 
	<!-- Banner Start -->
	<section class="px-banner">
		<div class="banner-holder">
			<div class="flexslider px-loading">
			<div class="loader"><img src="/static/abvgk-static/assets/images/squares.gif" alt="" /></div>
				<ul class="slides">
					<li><img src="/static/abvgk-static/assets/extra-images/slider-img-1.jpg" alt="" />
						<div class="banner-mask"><img src="/static/abvgk-static/assets/images/slider-border.png" alt="" /></div>
						<div class="caption">
							<h2>Wow Awards<br/>
								VIP Upgrades for South America!</h2>
							<p>The start of the GNR South American run is only days away. Do you have your tickets yet?? If you do, don't miss your chance to NOW upgrade your experience to VIP! Upgrades are now available for purchase! </p>
							<a href="#" class="px-readmore">Read more</a> </div>
					</li>
					<li><img src="/static/abvgk-static/assets/extra-images/slider-img-1.jpg" alt="" />
						<div class="banner-mask"><img src="/static/abvgk-static/assets/images/slider-border.png" alt="" /></div>
						<div class="caption">
							<h2>Wow Awards<br/>
								VIP Upgrades for South America!</h2>
							<p>The start of the GNR South American run is only days away. Do you have your tickets yet?? If you do, don't miss your chance to NOW upgrade your experience to VIP! Upgrades are now available for purchase! </p>
							<a href="#" class="px-readmore">Read more</a> </div>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<!-- Banner End --> 
	<!-- Main Start -->
	<div id="main">
		<section>
			<div class="container">
				<div class="row">
					<section class="px-biography">
						<article class="col-md-6">
							<div class="px-text">
								<div class="main-heading">
									<h2>Biography</h2>
								</div>
								<h3>The start of the GNR South American run is only days away. Do you have your tickets yet??</h3>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
								<p>Grammys and MTV Europe Music Awards, with Final Straw landing them an Ivor Novello Award in 2005. By anyone's standards, it's been a pretty good century</p>
								<a href="#" class="px-botton">Read more</a> </div>
						</article>
						<article class="col-md-6">
							<figure><img src="/static/abvgk-static/assets/extra-images/biograohy-img.jpg" alt="" /></figure>
						</article>
					</section>
				</div>
			</div>
		</section>
		
		
		<section class="upcoming-event">
			<div class="container">
				<div class="row">
					<section class="px-event list">
					<div class="row">
					   	<div class="main-heading">
							<h2>Book a Event</h2>
						</div>
						<article class="col-md-6">
							<div class="event-box box">
								<div class="event-date box">
									<div class="date-inner">
										<strong>10</strong>
										<span>NOV</span>
									</div>
								</div>
								<div class="event-inner box">
									<div class="text">
										
										<h4><a href="#">Live in Hyderabad</a></h4>
										<ul>
											<li>
												<i class="icon-calendar5"></i>
												<p>
													Friday 10 November 2017<br>
													10:30 Am to 03:00 Pm
												</p>
											</li>
											<li>
												<i class="icon-location6"></i>
												<p>
													Keshav Memorial High School,<br>
													Narayanguda-Cross Road,<br>
													Narayanguda,Hyderabad<br>
												</p>
											</li>
										</ul>
										<a href="/abvgk/contact/" class="booked-btn">Book</a>
									</div>
								</div>
							</div>
						</article>
						<article class="col-md-6">
							<div class="event-box box">
								<div class="event-date box">
									<div class="date-inner">
										<strong>11</strong>
										<span>NOV</span>
									</div>
								</div>
								<div class="event-inner box">
									<div class="text">
										
										<h4><a href="#">Live in Hyderabad</a></h4>
										<ul>
											<li>
												<i class="icon-calendar5"></i>
												<p>
													Saturday 11 November 2017<br>
													09:30 Am to 05:45 Pm
												</p>
											</li>
											<li>
												<i class="icon-location6"></i>
												<p>
													Keshav Memorial High School,<br>
													Narayanguda-Cross Road,<br>
													Narayanguda,Hyderabad<br>
												</p>
											</li>
										</ul>
										<a href="/abvgk/contact/" class="booked-btn">Book</a>
									</div>
								</div>
							</div>
						</article>
						<article class="col-md-6">
							<div class="event-box box">
								<div class="event-date box">
									<div class="date-inner">
										<strong>12</strong>
										<span>NOV</span>
									</div>
								</div>
								<div class="event-inner box">
									<div class="text">
										
										<h4><a href="#">Live in Hyderabad</a></h4>
										<ul>
											<li>
												<i class="icon-calendar5"></i>
												<p>
													Wednesday 28 december 2014<br>
													09:15 Am to 06:30 Pm
												</p>
											</li>
											<li>
												<i class="icon-location6"></i>
												<p>
													Keshav Memorial High School,<br>
													Narayanguda-Cross Road,<br>
													Narayanguda,Hyderabad<br>
												</p>
											</li>
										</ul>
										<a href="/contact/" class="booked-btn">Book</a>
									</div>
								</div>
							</div>
						</article>
						
					</div>
				</section>
				</div>
			</div>
		</section>
		
		<section>
			<div class="container">
				<div class="row">
					<section class="px-band-news">
						<div class="col-md-12">
							<div class="main-heading">
								<h2>Our Events</h2>
							</div>
							<div class="holder">
								<article class="col-md-12">
									<div class="px-holder"> <img src="/static/abvgk-static/assets/extra-images/news-img-1.jpg" alt="" />
										<div class="px-info">
											<h3><a href="/abvgk/schedule/">Day 1: 10th November' 2017 (Friday)</a></h3>
											<span class="date"><i class="icon-circle-thin"></i>November 10, 2017</span><span class="px-catagory"><i class="icon-circle-thin"></i>National Vedic Mathematics Workshop</span> <a href="/abvgk/schedule/" class="btn-next"><img src="/static/abvgk-static/assets/images/arrow.png" alt="" /></a> </div>
									</div>
								</article>
								<article class="col-md-12">
									<div class="px-holder"> <img src="/static/abvgk-static/assets/extra-images/news-img-2.jpg" alt="" />
										<div class="px-info"> 
											<h3><a href="/abvgk/schedule/">Day 2: 11th November' 2017 (Saturday) </a></h3>
											<span class="date"><i class="icon-circle-thin"></i>November 11, 2017</span><span class="px-catagory"><i class="icon-circle-thin"></i>National Vedic Mathematics Workshop</span> <a href="/abvgk/schedule/" class="btn-next"><img src="/static/abvgk-static/assets/images/arrow.png" alt="" /></a> </div>
									</div>
								</article>
								<article class="col-md-12">
									<div class="px-holder"> <img src="/static/abvgk-static/assets/extra-images/news-img-3.jpg" alt="" />
										<div class="px-info"> 
											<h3><a href="/abvgk/schedule/">Day 3: 12th November' 2017 (Sunday) </a></h3>
											<span class="date"><i class="icon-circle-thin"></i>November 12, 2017</span><span class="px-catagory"><i class="icon-circle-thin"></i>National Vedic Mathematics Workshop</span> <a href="/abvgk/schedule/" class="btn-next"><img src="/static/abvgk-static/assets/images/arrow.png" alt="" /></a> </div>
									</div>
								</article>
							</div>
						</div>
					</section>
				</div>
			</div>
		</section>
		
		
	</div>
	<!-- Main End --> 
	 <!-- Footer Start -->
	<footer id="footer">
		
		<section id="copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						
						<h4 align="center" style="color:white">©2017 All rights reserved. Design by <a href="http://delevere.com/" target="_blank" style="color:#ffc600">Delevere</a></h4>
					</div>
				</div>
			</div>
		</section> 
	</footer>
	<!-- Footer End -->  
</div>
<script src="/static/abvgk-static/assets/scripts/jquery.min.js"></script> 
<script src="/static/abvgk-static/assets/scripts/modernizr.min.js"></script> 
<script src="/static/abvgk-static/assets/scripts/bootstrap.min.js"></script> 
<script src="/static/abvgk-static/assets/scripts/browser-detect.js"></script> 

<script src="/static/abvgk-static/assets/scripts/menu.js"></script>
<script src="/static/abvgk-static/assets/scripts/jquery.flexslider.js"></script> 
<script src="/static/abvgk-static/assets/scripts/jquery.countdown.js"></script> 

<script src="/static/abvgk-static/assets/scripts/slick.js"></script> 
<script src="/static/abvgk-static/assets/scripts/functions.js"></script>
</body>
</html>
