<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ABVGK</title>
<link href="/static/abvgk-static/assets/css/bootstrap.min.css" rel="stylesheet">
<!-- <link href="../../../pixfill.com/templates/rockit2.0/assets/css/bootstrap-theme.min.html" rel="stylesheet"> -->
<link href="/static/abvgk-static/assets/css/iconmoon.css" rel="stylesheet">
<link href="/static/abvgk-static/assets/css/style.css" rel="stylesheet">
<link href="/static/abvgk-static/assets/css/menu.css" rel="stylesheet">
<link href="/static/abvgk-static/assets/css/color.css" rel="stylesheet">
<link href="/static/abvgk-static/assets/css/widget.css" rel="stylesheet">
<link href="/static/abvgk-static/ssets/css/browser-detect.css" rel="stylesheet">
<link href="/static/abvgk-static/assets/css/responsive.css" rel="stylesheet">

</head>
<body>
<div class="wrapper"> 
	<!-- Header Start -->
<header id="header">
    <div class="container">
      <div class="row">
        <div class="logo">
          <a href="/abvgk/"><img src="/static/abvgk-static/assets/images/logo3.png" alt="" /></a>
        </div>
        <div class="px-header-right">
          <div class="navigation">
            <ul>
              <li><a href='/abvgk/'>Home</a></li>
             
              <li><a href='/abvgk/schedule/'>Event Schedule</a></li>
              <li><a href='/abvgk/contact/'>CONTACT</a></li>
            </ul>
          </div>
          <div class="px-share"> <a href="#"><i class="icon-share2"></i></a>
            <ul>
              <li><a href="#" data-original-title="facebook"><i class="icon-facebook-square"></i></a></li>
              <li><a href="#" data-original-title="twitter"><i class="icon-twitter2"></i></a></li>
             
            </ul>
          </div>
         
        </div>
      </div>
    </div>
  </header>
  <!-- Header End --> 
  <!-- Bredcrumb -->
  <div style="background:url(/static/abvgk-static/assets/extra-images/subheader1.jpg) no-repeat; min-height:179px;" class="breadcrumb-sec align-left">
    <div class="container">
      <div class="px-table">
        <div class="px-tablerow">
          <div class="px-pageinfo">
            <h2>Upcoming Events</h2>
           </div>
         
        </div>
      </div>
    </div>
  </div>
  <!-- Bredcrumb --> 
  <!-- Main Start -->
  <div id="main">
    <div class="container">
      <div class="row">
      <!--page Content-->
        <div class="col-md-12 event-detail">
         
          <section class="px-team">
            <div class="px-section-title">
              <h3>Day 1: 10th November' 2017 (Friday)</h3>
            </div>
            <div class="content">
              <div class="px-experience">
                <ul class="timeline">
                  <li>
                    <div class="timeline-badge">10:30 AM</div>
                    <div class="timeline-pane">
                      <h4>Welcome of guests</h4>
					  <p></p>
                     </div>
                  </li>
                  <li>
                    <div class="timeline-badge">10:45 AM</div>
                    <div class="timeline-pane">
                      <h4>Lightening of Lamp</h4>
					  <p></p>
					  
                      </div>
                  </li>
                  <li>
                    <div class="timeline-badge">11:00 AM</div>
                    <div class="timeline-pane">
                      <h4>Prayers - Shri Ganesh & Maa Saraswati</h4>
					  <p></p>
                      </div>
                  </li>
                  <li>
                    <div class="timeline-badge">11:15 AM</div>
                    <div class="timeline-pane">
                      <h4>Bhartiya Rashtra Gaan (National Anthem of India)</h4>
                      <p></p>
					  </div>
                  </li>
				  <li>
                    <div class="timeline-badge">12:00 PM</div>
                    <div class="timeline-pane">
                      <h4>Inaugural Speech by our Chief Guest</h4>
                      <p></p>
					  </div>
                  </li>
				  <li>
                    <div class="timeline-badge">12:30 PM</div>
                    <div class="timeline-pane">
                      <h4>Speech by our Special Guest</h4>
                      <p></p>
					  </div>
                  </li>
				  <li>
                    <div class="timeline-badge">01:00 PM</div>
                    <div class="timeline-pane">
                      <h4>Vote of Thanks</h4>
                      <p></p>
					  </div>
                  </li>
				  <li>
                    <div class="timeline-badge">01:15 PM</div>
                    <div class="timeline-pane">
                      <h4>Press & Media Conference</h4>
                      <p></p>
					  </div>
                  </li>
				  <li>
                    <div class="timeline-badge">02:00 PM</div>
                    <div class="timeline-pane">
                      <h4>Lunch Break</h4>
                      <p></p>
					  </div>
                  </li>
				  <li>
                    <div class="timeline-badge">03:00 PM</div>
                    <div class="timeline-pane">
                      <h4>Session Plan & discussion with experts from different prestigious institutions </h4>
                      <p></p>
					  </div>
                  </li>
				  
                </ul>
              </div>
            </div>
          </section>
		  
		  <section class="px-team">
            <div class="px-section-title">
              <h3>Day 2: 11th November' 2017 (Saturday) </h3>
            </div>
            <div class="content">
              <div class="px-experience">
                <ul class="timeline">
                  <li>
                    <div class="timeline-badge">09:30 AM</div>
                    <div class="timeline-pane">
                      <h4>Prayers - Shri Ganesh & Maa Saraswati</h4>
					  <p></p>
                     </div>
                  </li>
                  <li>
                    <div class="timeline-badge">09:45 AM</div>
                    <div class="timeline-pane">
                      <h4>Bhartiya Rashtra Gaan</h4>
					  <p></p>
					  
                      </div>
                  </li>
                  <li>
                    <div class="timeline-badge">10:00 AM <br>to<br> 01:00 PM </div>
                    <div class="timeline-pane">
                      <h4>First Session</h4>
					  <p>Experts from IITs, IIMs, IISc (Benguluru), ISI(Kolkata), NBHM, TIFR(Mumbai), BARC, HBCSE(Pune), IAPT(Benguluru), CMI(Chennai), IMS(Aurangabad) & more prestigious institutions globally.</p>
                      </div>
                  </li>
                  <li>
                    <div class="timeline-badge">01:00 PM <br>to<br> 02:00 PM </div>
                    <div class="timeline-pane">
                      <h4>Lunch Break</h4>
                      <p></p>
					  </div>
                  </li><br>
				  <li><br>
                    <div class="timeline-badge">02:00 PM <br>to<br> 03:00 PM </div>
                    <div class="timeline-pane">
                      <h4>Second Session</h4>
                      <p>Research Papers, Future research plan discussion</p>
					  </div>
                  </li><br>
				  <li>
                    <div class="timeline-badge">03:00 PM <br>to<br> 04:15 PM </div>
                    <div class="timeline-pane">
                      <h4>Third Session</h4>
                      <p>An approach to Mathematical Calculations in Vaidik way for students class V to VIII 		(Concepts from Ashtaang Ganitam Calculations sessions - Addition, Substraction, 		Multiplication, Division, Percentage, Powers, Radicals, Proportionality)</p>
					  </div>
                  </li>
				  <li>
                    <div class="timeline-badge">04:30 PM <br>to<br> 05:45 PM </div>
                    <div class="timeline-pane">
                      <h4>Fourth Session</h4>
                      <p>An approach to Mathematical Calculations in Vaidik way for PRTs & TGTs			(Concepts from Ashtaang Ganitam Calculations sessions - Addition, Substraction, 		Multiplication, Division, Percentage, Powers, Radicals, Proportionality)</p>
					  </div>
                  </li>
				  
                </ul>
              </div>
            </div>
          </section>
		  
		  <section class="px-team">
            <div class="px-section-title">
              <h3>Day 3: 12th November' 2017 (Sunday) </h3>
            </div>
            <div class="content">
              <div class="px-experience">
                <ul class="timeline">
                  <li>
                    <div class="timeline-badge">09:15 AM</div>
                    <div class="timeline-pane">
                      <h4>Prayers - Shri Ganesh & Maa Saraswati</h4>
					  <p></p>
                     </div>
                  </li>
                  <li>
                    <div class="timeline-badge">09:45 AM</div>
                    <div class="timeline-pane">
                      <h4>Bhartiya Rashtra Gaan</h4>
					  <p></p>
					  
                      </div>
                  </li>
                  <li>
                    <div class="timeline-badge">10:00 AM <br>to<br> 01:00 PM</div>
                    <div class="timeline-pane">
                      <h4>First Session</h4>
					  <p>Session for Students from class IX to XII (Problems from PRMO, RMO, INMO, IMO, 		NSE, NTSE, JSTSE, IITJEE, IIM Papers & applications of Vaidik Mathematics in these 		sections as per the requirement of future examinations</p>
                      </div>
                  </li>
                  <li>
                    <div class="timeline-badge">01:00 PM <br>to<br> 02:00 PM </div>
                    <div class="timeline-pane">
                      <h4>Lunch Break</h4>
                      <p></p>
					  </div>
                  </li><br>
				  <li><br>
                    <div class="timeline-badge">02:00 PM <br>to<br> 03:30 PM </div>
                    <div class="timeline-pane">
                      <h4>Second Session</h4>
                      <p>Research Papers, Future research plan discussion</p>
					  </div>
                  </li><br>
				  <li>
                    <div class="timeline-badge">03:45 PM <br>to<br> 05:15 PM </div>
                    <div class="timeline-pane">
                      <h4>Third Session</h4>
                      <p>Session for TGTs & PGTs teaching students mostly from the classes IX to XII 			(How to prepare students for future competitions in the healthy environment of 		school system)</p>
					  </div>
                  </li>
				 <br>
				  <li>
                    <div class="timeline-badge">05:30 PM <br>to<br> 06:30 PM</div>
                    <div class="timeline-pane">
                      <h4>Fourth Session</h4>
                      <p>Session for TGTs & PGTs teaching students mostly from the classes IX to XII 			(Discussion and Vaidik approach to a few problems from recent years competitive 		examinations papers)</p>
					  </div>
                  </li>
				 
                </ul>
              </div>
            </div>
          </section>
		  
          <section class="px-blog share">
            <div class="row">
              <article class="col-md-12">
                <div class="heading">
                  <h6>Share this</h6>
                  <ul class="socail_media">
                    <li><a href="#" class="icon-facebook-square" data-original-title="Facebook"></a></li>
                    <li><a href="#" class="icon-twitter6" data-original-title="twitter"></a></li>
                    <li><a href="#" class="icon-google-plus" data-original-title="plus"></a></li>
                  </ul>
                </div>
              </article>
            </div>
          </section>
        </div>
        <!--end page content-->
        <!--sidebar-->
        
      </div>
    </div>
  </div>
  <!-- Main End --> 
   <!-- Footer Start -->
	<footer id="footer">
		
		<section id="copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						
						<h4 align="center" style="color:white">©2017 All rights reserved. Design by <a href="http://delevere.com/" target="_blank" style="color:#ffc600">Delevere</a></h4>
					</div>
				</div>
			</div>
		</section> 
	</footer>
	<!-- Footer End -->  
</div>
<script src="/static/abvgk-static/assets/scripts/jquery.min.js"></script> 
<script src="/static/abvgk-static/assets/scripts/modernizr.min.js"></script> 
<script src="/static/abvgk-static/assets/scripts/bootstrap.min.js"></script>
<script src="/static/abvgk-static/assets/scripts/menu.js"></script> 
<script src="/static/abvgk-static/assets/scripts/functions.js"></script>
</body>
</html>
