{% extends "base2.html" %}

{% block title %}Amaravathi{% endblock %}
{% block content %}
  <!-- end full-header -->
        <section class="about_page_barner_area">
            <div class="barner_content">
                <div class="container">
                   <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <div class="barner_text text-center">
                                <h2>contact us</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mainmenu_area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-9">
                            <div class="mainmenu nav">
                                <nav>
									<ul id="nav">
											<li class="current"><a href="/ampackers/">Home</a>
												</li>
											<li><a href="/about/">About Us</a></li>
											<li><a href="/ampackers/services/">Service</a></li>
										<!--	<li><a href="/ampackers/gallery/">Gallery</a></li> -->
											<li><a href="/ampackers/contact/">Contact Us</a></li>
											<li>
												<form action="process.php" class="search-form">
													<div class="form-group has-feedback">
														<label for="search" class="sr-only">Search</label>
														<input type="text" class="form-control" name="search" id="search" placeholder="search">
														<span class="glyphicon glyphicon-search form-control-feedback"></span>
													</div>
												</form>
											</li>                            
										</ul>
								</nav>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="request_code">
                                <input type="submit" value="GET A QUTE">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Slider Area-->
        
        <!--Start Promotions Area  -->
        <section class="promotions_area section_padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
                        <div class="page_title text-center">
                            <h2>If you have questions queries contact us!</h2>
                            <p>Never heard the word impossible. This time there's no stopping us. These Happy Days are yours and mine Happy Days. Today still wanted by the government they survive as soldiers of fortune. Said Californ'y is the place you ought to be So they loaded up the truck and moved to Beverly. </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-lg-3">
                        <div class="single_contact">
                            <div class="s_contuct_icon">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <h3>address</h3>
                            <p>Near Visakha Dairy, B.H.P.V,
 <br/> Natyyapalem,Visakhapatnam <br/>530 012.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <div class="single_contact">
                            <div class="s_contuct_icon">
                                <i class="fa fa-envelope-o"></i>
                            </div>
                            <h3>e-mail</h3>
                            <p>service@amaravathi.com <br/> nagaraju@amaravathi.com</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <div class="single_contact">
                            <div class="s_contuct_icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <h3>phone</h3>
                            <p> 9640850538 <br/> 9652247253</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <div class="single_contact">
                            <div class="s_contuct_icon">
                                <i class="fa fa-clock-o"></i>
                            </div>
                            <h3>working hour</h3>
                            <p>Avaiable 24/7</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Promotions Area-->
        <!--Start Map area-->
        <!--End Map area-->
        <!--Start Get in Tuch area-->
        <section class="get_in_tuch_area section_padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
                        <div class="get_in_tuch">
                            <h3>get in touch with us</h3>
                            <div class="get_in_tuch_form">    
                                <form action="contact_process.php" method="post">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <input type="text" placeholder="YOUR NAME" name="name">
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <input type="text" placeholder="YOUR E-MAIL" name="email">
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                            <input type="text" placeholder="YOUR PHONE NUMBER" name="phone">
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <textarea name="message" id="example" cols="30" rows="10" placeholder="YOUR MESSAGE"></textarea>
                                        </div>
                                        <input name="submit" type="submit" value="Submit" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Get in Tuch area-->
        <!-- Newsletter Area -->
        <section class="newsletter_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                       <div class="signup_newsletter">
                           <p>singup for our</p>
                           <h3>newsletter</h3>
                           <form action="process.php">
                               <input type="email" placeholder="e-mail address" required>
                               <input type="submit" value="suscribe">
                           </form>
                       </div>
                    </div>
                </div>
            </div>
        </section>
   {% endblock %}