{% extends "base2.html" %}

{% block title %}Amaravathi{% endblock %}
{% block content %} 
 
        <!--End Header Area-->
        <!--Start Slider Area -->
        <section class="slider_area">
            <div class="tp-banner-container">
                <div class="tp-banner" >
                    <ul>
                        <!-- SLIDE  -->
                        <li data-transition="random" data-slotamount="7" data-masterspeed="1500" >
                            <!-- MAIN IMAGE -->
                            <img src="/static/ampackers-static/img/1.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                            <!-- LAYERS -->
                            <div class="top_quate_area">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-5 col-lg-5 col-sm-6 col-xs-12">
                                            <div class="top_quate_text text-center">
                                               <div class="quate_text_overlay"></div>
                                                <h3>Commercial relocation</h3>
                                                <p>Now the world don't move to the beat of just one drum. What might be right for you may not be right for some. So this is the tale for a long long time.</p>
                                                <a class="top_quate_action" href="">GET A QUOTE</a>
                                             </div>
                                         </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- SLIDE  -->
                        <li data-transition="random" data-slotamount="7" data-masterspeed="1000" >
                            <!-- MAIN IMAGE -->
                            <img src="/static/ampackers-static/img/2.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                            <!-- LAYERS -->
                            <div class="top_quate_area">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-5 col-lg-5 col-sm-6 col-xs-12">
                                            <div class="top_quate_text text-center">
                                               <div class="quate_text_overlay"></div>
                                                <h3>Commercial relocation</h3>
                                                <p>Now the world don't move to the beat of just one drum. What might be right for you may not be right for some. So this is the tale for a long long time.</p>
                                                <a class="top_quate_action" href="">GET A QUOTE</a>
                                             </div>
                                         </div>
                                    </div>
                                </div>
                            </div>
                            
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mainmenu_area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-9">
                                <div class="mainmenu nav">
									<nav>
										<ul id="nav">
											<li class="current"><a href="/ampackers/">Home</a>
												</li>
											<li><a href="/ampackers/about/">About Us</a></li>
											<li><a href="/ampackers/services/">Service</a></li>
										<!--	<li><a href="/ampackers/gallery/">Gallery</a></li> -->
											<li><a href="/ampackers/contact/">Contact Us</a></li>
											<li>
												<form action="process.php" class="search-form">
													<div class="form-group has-feedback">
														<label for="search" class="sr-only">Search</label>
														<input type="text" class="form-control" name="search" id="search" placeholder="search">
														<span class="glyphicon glyphicon-search form-control-feedback"></span>
													</div>
												</form>
											</li>                            
										</ul>
									</nav>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <div class="request_code">
                                <input type="submit" value="GET A QUOTE">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>
        <!--End Slider Area-->
         
        <!--Start Promotions Area -->
        <section class="promotions_area section_padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
                        <div class="page_title text-center">
                            <h2>WElCOME TO AMARAVATHI TRANSPORT</h2>
                            <p>This is what we call the Muppet Show. Makin their way the only way they know how. That's just a little bit more than the law will allow. Just two change if they could. Fightin' the system sunday Monday Happy Days.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        <div class="single_promotions text-center">
                            <div class="s_promotion_icon">
                                <img src="/static/ampackers-static/img/track_icon.png" alt="">
                            </div>
                            <h2>we make it faster</h2>
                            <p>They really are a scream the Addams Family. It's time to put on makeup. It's time to dress up right. It's time to raise the curtain  </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="single_promotions text-center">
                            <div class="s_promotion_icon">
                                <img src="/static/ampackers-static/img/hand_icon.png" alt="">
                            </div>
                            <h2>save and secure move</h2>
                            <p>They really are a scream the Addams Family. It's time to put on makeup. It's time to dress up right. It's time to raise the curtain </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="single_promotions text-center">
                            <div class="s_promotion_icon">
                                <img src="/static/ampackers-static/img/alarm_clock_icon.png" alt="">
                            </div>
                            <h2>on time delevery</h2>
                            <p>They really are a scream the Addams Family. It's time to put on makeup. It's time to dress up right. It's time to raise the curtain </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Promotions Area-->
        <!--Start Signup Area -->
        <section class="singnup_area section_padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        <div class="signup_img">
                            <img src="/static/ampackers-static/img/singup_area_bg.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-8">
                        <div class="signup_form">
                            <h2>GET A QUICK QUOTE</h2>
                            <form action="/ampackers/notify/" method="POST">
							{% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                        <input type="text" name="name" placeholder="Your Name" required>
                                        <input type="text" name="phone" placeholder="Your Number" required>
                                        <input type="text" name="from_zip" placeholder="Form zip" required>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <input type="email" name="email" placeholder="Email Address" required>
                                        <input type="text" name="move" placeholder="Type Of Move" required>
                                        <input type="text" name="to_zip" placeholder="To zip" required>
                                    </div>
                                    <p class="text-left"><button type="submit">SUBMIT</button></p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Signup Area-->
        <!--Start Work Area -->
        <section class="work_area section_padding">
            <div class="container">
               <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="page_title">
                            <h2>why we are best from other</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        <div class="single_work">
                            <a href=""><img class="alignleft" src="/static/ampackers-static/img/24_7.png" alt=""></a>
                            <h4>24/4 Service</h4>
                            <p>Three's company too. Michael Knight a young loner on a crusade to the innocent</p>
                        </div>
                        <div class="single_work">
                            <a href=""><img class="alignleft" src="/static/ampackers-static/img/track_two.png" alt=""></a>
                            <h4>over 750 vehicles</h4>
                            <p>Three's company too. Michael Knight a young loner on a crusade to the innocent</p>
                        </div>
                        <div class="single_work">
                            <a href=""><img class="alignleft" src="/static/ampackers-static/img/man_icon.png" alt=""></a>
                            <h4>sequrity cleared drivers</h4>
                            <p>Three's company too. Michael Knight a young loner on a crusade to the innocent</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="single_work">
                            <a href=""><img class="alignleft" src="/static/ampackers-static/img/map_maker.png" alt=""></a>
                            <h4>live tracking</h4>
                            <p>Three's company too. Michael Knight a young loner on a crusade to the innocent</p>
                        </div>
                        <div class="single_work">
                            <a href=""><img class="alignleft" src="/static/ampackers-static/img/sms_mail.png" alt=""></a>
                            <h4>sms / emails alerts</h4>
                            <p>Three's company too. Michael Knight a young loner on a crusade to the innocent</p>
                        </div>
                        <div class="single_work">
                            <a href=""><img class="alignleft" src="/static/ampackers-static/img/fire_clock.png" alt=""></a>
                            <h4>estamited delevery time</h4>
                            <p>Three's company too. Michael Knight a young loner on a crusade to the innocent</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="work_area_img">
                            <img src="/static/ampackers-static/img/work_man_two.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Work Area-->
        <!--Start Sercice Area -->
        <section class="work_area section_padding section_gray">
            <div class="container">
               <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="page_title text-center">
                            <h2>Service we provide</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-6">
                        <div class="single_service">
                            <a href=""><img src="/static/ampackers-static/img/service_1.jpg" alt=""></a>
                            <div class="service_title">
                                <i class="fa fa-truck"></i>
                                <h4><a href="#">Moving locally or interstate</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6">
                        <div class="single_service">
                            <a href=""><img src="/static/ampackers-static/img/service_2.jpg" alt=""></a>
                            <div class="service_title">
                                <i class="fa fa-fighter-jet"></i>
                                <h4><a href="#">Moving Overseas</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6">
                        <div class="single_service">
                            <a href=""><img src="/static/ampackers-static/img/service_3.jpg" alt=""></a>
                            <div class="service_title">
                                <i class="fa fa-briefcase"></i>
                                <h4><a href="#">Corporate Relocation</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6">
                        <div class="single_service">
                            <a href=""><img src="/static/ampackers-static/img/service_4.jpg" alt=""></a>
                            <div class="service_title">
                                <i class="fa fa-dropbox"></i>
                                <h4><a href="#">Commercial Relocation</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6">
                        <div class="single_service">
                            <a href=""><img src="/static/ampackers-static/img/service_5.jpg" alt=""></a>
                            <div class="service_title">
                               <i class="fa fa-dropbox"></i>
                                <h4><a href="#">Parking</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-6">
                        <div class="single_service">
                            <a href=""><img src="/static/ampackers-static/img/service_6.jpg" alt=""></a>
                            <div class="service_title">
                                <i class="fa fa-shopping-cart"></i>
                                <h4><a href="#">Storage</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Service Area-->
        <!--Our Process Area -->
        <section class="process_area section_padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="page_title text-center">
                            <h2>Our Process</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="process_area_menu">
                        <ul>
                            <li>
                                <a href="#"><img src="/static/ampackers-static/img/process_1.png" alt=""></a>
                                <p class="process_title">book our service</p>
                            </li>
                            <li>
                                <a href="#"><img src="/static/ampackers-static/img/process_2.png" alt=""></a>
                                <p class="process_title">we pack our things</p>
                            </li>
                            <li>
                                <a href="#"><img src="/static/ampackers-static/img/process_3.png" alt=""></a>
                                <p class="process_title">we move you things</p>
                            </li>
                            <li>
                                <a href="#"><img src="/static/ampackers-static/img/process_4.png" alt=""></a>
                                <p class="process_title">delivery you safely</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--Our Process Area-->
        <!--Our Great Team Area  -->
     <!--   <section class="process_area section_padding section_gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="page_title text-center">
                            <h2>Our Great Team</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-lg-3 col-sm-6">
                        <div class="single_team">
                            <a href=""><img src="/static/ampackers-static/img/team_1.jpg" alt=""></a>
                            <div class="team_discription">
                                <h3>michel wague</h3>
                                <p>ceo/founder</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-6">
                        <div class="single_team">
                            <a href=""><img src="/static/ampackers-static/img/team_2.jpg" alt=""></a>
                            <div class="team_discription">
                                <h3>George hilson</h3>
                                <p>driver</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-6">
                        <div class="single_team">
                            <a href=""><img src="/static/ampackers-static/img/team_3.jpg" alt=""></a>
                            <div class="team_discription">
                                <h3>chries hemsworth</h3>
                                <p>delivery boy</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-6">
                        <div class="single_team">
                            <a href=""><img src="/static/ampackers-static/img/team_4.jpg" alt=""></a>
                            <div class="team_discription">
                                <h3>chris evans</h3>
                                <p>manager</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!--End Our Great Team Area-->
        <!--Client Discription Area  -->
        <section class="client_discription_area section_padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="page_title text-center">
                            <h2>what out customer say about us</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="single_client">
                            <div class="client_img">
                                <img src="/static/ampackers-static/img/client_discription_1.png" alt="">
                            </div>
                            <div class="client_discription">
                                <h5>Vishnu</h5>
                                <p class="client_address">Vizag, A.P</p>
                                <p>Thank you for being a friend. Travelled down the road and back again. Your heart is true you're a pal and a confidant. Movin' on up to the east side. We finally got a piece of the pie. </p>
                                <div class="rating_area">
                                    <p class="text-left">100% recomended</p>
                                    <div class="ratting text-right">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="single_client">
                            <div class="client_img">
                                <img src="/static/ampackers-static/img/client_discription_2.png" alt="">
                            </div>
                            <div class="client_discription">
                                <h5>Vikash</h5>
                                <p class="client_address">Vizag, Andhra</p>
                                <p>The weather started getting rough - the tiny ship was tossed. If not for the courage of the fearless crew the Minnow would be lost. the Minnow would be lost.</p>
                                <div class="rating_area">
                                    <p class="text-left">100% recomended</p>
                                    <div class="ratting text-right">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Client Discription Area-->
        <!--Blog Area  -->
        <section class="blog_area section_padding section_gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="page_title text-center">
                            <h2>latest form our blog</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="single_blog">
                            <div class="blog_img">
                                <a href=""><img src="/static/ampackers-static/img/blog_1.jpg" alt=""></a>
                                <div class="blog_date">
                                    <p class="Blog_month">24 <span>June</span></p>
                                    <p class="blog_year">2017</p>
                                </div>
                            </div>
                            <div class="blog_content">   
                                <p class="blog_name">By/Ajay</p>
                                <h3><a href="#">Makin their way the only way they know how</a></h3>
                                <p>we're gonna make our dream come true. Were gonna do it. Give us any chance well take it. Give us any rule we'll break it.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="single_blog">
                            <div class="blog_img">
                                <a href=""><img src="/static/ampackers-static/img/blog_2.jpg" alt=""></a>
                                <div class="blog_date">
                                    <p class="Blog_month">24 <span>June</span></p>
                                    <p class="blog_year">2017</p>
                                </div>
                            </div>
                            <div class="blog_content">   
                                <p class="blog_name">By/Varun</p>
                                <h3><a href="#">Guys like us we had it made Those were the days</a></h3>
                                <p>Friendly neighbors there that's where we meet. Can you tell me how to get how to get to Sesame Street. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="single_blog">
                            <div class="blog_img">
                                <a href=""><img src="/static/ampackers-static/img/blog_3.jpg" alt=""></a>
                                <div class="blog_date">
                                    <p class="Blog_month">24 <span>June</span></p>
                                    <p class="blog_year">2017</p>
                                </div>
                            </div>
                            <div class="blog_content">   
                                <p class="blog_name">By/Kiran</p>
                                <h3><a href="#">Lovely lady who was bringing up three lovely girls</a></h3>
                                <p>Love exciting and new. Come aboard were expecting you. Love life's sweetest reward Let it flow it floats back to you. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Blog Area-->
        <!-- Slider Bottom Area -->
        <section class="slider_bottom_area section_padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="slider_bottom">
                            <div class="single_slide"><a href="#"><img src="/static/ampackers-static/img/slide_1.jpg" alt=""></a></div>
                            <div class="single_slide"><a href="#"><img src="/static/ampackers-static/img/slide_2.jpg" alt=""></a></div>
                            <div class="single_slide"><a href="#"><img src="/static/ampackers-static/img/slide_3.jpg" alt=""></a></div>
                            <div class="single_slide"><a href="#"><img src="/static/ampackers-static/img/slide_4.jpg" alt=""></a></div>
                            <div class="single_slide"><a href="#"><img src="/static/ampackers-static/img/slide_5.jpg" alt=""></a></div>
                            <div class="single_slide"><a href="#"><img src="/static/ampackers-static/img/slide_6.jpg" alt=""></a></div>
                            <div class="single_slide"><a href="#"><img src="/static/ampackers-static/img/slide_1.jpg" alt=""></a></div>
                            <div class="single_slide"><a href="#"><img src="/static/ampackers-static/img/slide_2.jpg" alt=""></a></div>
                            <div class="single_slide"><a href="#"><img src="/static/ampackers-static/img/slide_3.jpg" alt=""></a></div>
                            <div class="single_slide"><a href="#"><img src="/static/ampackers-static/img/slide_4.jpg" alt=""></a></div>
                            <div class="single_slide"><a href="#"><img src="/static/ampackers-static/img/slide_5.jpg" alt=""></a></div>
                            <div class="single_slide"><a href="#"><img src="/static/ampackers-static/img/slide_6.jpg" alt=""></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Slider Bottom Area-->
        <!-- Newsletter Area -->
        <section class="newsletter_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                       <div class="signup_newsletter">
                           <p>singup for our</p>
                           <h3>newsletter</h3>
                           <form action="process.php">
                               <input type="email" placeholder="e-mail address" required>
                               <input type="submit" value="suscribe">
                           </form>
                       </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End Newsletter Area-->
       
  {% endblock %}
